<div class="wdsa">
    <!--白底透明遮罩 pop outside-->
    <div class="ppos-welcome2">
        <!--內容區塊 pop area-->
        <div class="pop2-warp">
            <div class="pop2-inner">
                <div class="pop2-topbg">
                    <div class="redcash-warp">
                        <div class="redcash"></div>
                        <div class="cash-A"></div>
                        <div class="cash-B"></div>
                        <div class="cash-C"></div>
                        <div class="redcash-sh"></div>
                    </div>
                </div>
                <div class="pop2-bg">
                    <ul>
                        <li class="pop2-content01">
                            <div class="discount-A">
                                <span>88</span>
                            </div>
                            <div class="dA-word">
                                <span>首存500</span>
                            </div>
                            <a target="_blank" href="#/member/bank/wechat" class="pop2-gobtn">
                                <span>立即<br>存款</span>
                            </a>
                            <a target="_blank" href="#/promotion" class="pop2-more"></a>
                        </li>
                        <li class="pop2-content02">
                            <div class="discount-B">
                                <span>5</span>
                            </div>
                            <div class="dB-word">
                                <span>首存100</span>
                            </div>
                            <!--<a ng-click="openSpecificPage('member.bank', {})" class="pop2-gobtn">-->
                            <a target="_blank" href="#/member/bank/quick" class="pop2-gobtn">
                                <span>立即<br>存款</span>
                            </a>
                            <a target="_blank" href="#/promotion" class="pop2-more"></a>
                        </li>
                        <li class="pop2-content03">
                            <div class="discount-C">
                                <span>38</span>
                            </div>
                        </li>
                        <li class="pop2-content04">
                            <!--<a ng-click="openSpecificPage('about', {menuItem: 'contact'})" class="pop2service-more"></a>-->
                            <a ng-click="openLiveChat()" class="pop2service-more"></a>                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>