<h3>责任博彩</h3>
<div class="horizonLine2 mgbt20"></div>
<div class="mgbt20">
  <h4 class="mgbt10">Hwin哲理</h4>
  <p class="mgbt10 mglft20">博彩是有趣、惊险的，而不是赚取现金的简单方法。在Hwin，我们鼓励每位玩家以同样的方式感知。</p>
  <p class="mgbt10 mglft20">我们坚持一套规则和原则，来推广责任博彩，并提醒每位玩家监控其投注行为。</p>
</div>
<div class="mgbt20 rule">
  <h4 class="mgbt10">预防未成年人投注</h4>
  <p class="mgbt10 mglft20">只有年满18岁的人被允许访问Hwin的博彩服务。注册时需要验证年龄，假造个人资料被视为诈欺。在这种情况下，Hwin有权没收奖金。</p>
  <p class="mgbt10 mglft20">为了未成年人的最佳利益，<b>不要：</b></p>
  <ul>
    <li>将您银行登录信息泄露</li>
    <li>在游戏软件运行中，让小朋友四处浏览</li>
    <li>忘记在您电脑上安装网络过滤软件来限制博彩网站</li>
  </ul>
  <div class="clear"></div>
</div>

<div class="mgbt20">
  <h4 class="mgbt10">自愿限制</h4>
  <p class="mgbt10 mglft20">Hwin看重每位玩家。我们有开发出特殊程序，对于那些无法控制自己的赌博行为，并希望自己限制所有的博彩服务。</p>
  <p class="mgbt10 mglft20">我们提供协助辅导。如果您想利用自愿限制的功能，请随时联系我们的客户服务支持。</p>
  <div class="clear"></div>
</div>
<div class="mgbt20">
  <h4 class="mgbt10">设置您的极限</h4>
  <p class="mgbt10 mglft20">如果您将赌博，必须准备好面对任何情况。您可赢可输。因将被视为有趣和盈利的，您必须为您做的负责。
  因此，Hwin帮您设置自己对时间和金钱方面的限制。我们努力为您提供一个健康的游戏环境。</p>
  <p class="mgbt10 mglft20">因此，有一个充满乐趣，负责任的游戏经验！</p>
  <div class="clear"></div>
</div>
<div id="div_LockAccount" style="display:none"></div>