<div class="contentbody">
    <h3>优惠活动规则与条款</h3>
    <div class="horizonLine2 mgbt20"></div>
    <div class="mgbt20 rule rule2">
        <ol>
            <li style="font-size:13px;">每位真实有效玩家/每一手机号码/电子邮箱/户籍地址/现居地址/同一银行卡/每一IP地址/每一台电脑或上网设备，除活动特别说明外，仅能申请并享受一次每项优惠活动，若有违规者，Hwin将保留收回红利以及所产生的盈利权力。</li>
            <li style="font-size:13px;">Hwin绝不容许任何诈欺行为，若发现有违背或利用规则与条款进行不当获利的会员，Hwin将保留终止会员使用本网站以及没收奖金及盈利的绝对权力。</li>
            <li style="font-size:13px;">Hwin有权单方面决定会员是否利用优惠活动进行异常或无风险投注。对会员行为做出严格监视，发现有任何违背、欺骗、或利用规则与条款进行非法获利的会员，Hwin有权终止会员的登陆、暂停会员使用网站和没收奖金及赢利的权力，无须特别通知。</li>
            <li style="font-size:13px;">所有Playtech小游戏平台流水额在锁定资金为零后开始计算（注：小游戏平台的桌面游戏、21点类游戏以及视频扑克均不计算流水）。</li>
            <li style="font-size:13px;">Hwin平台红利的流水计算先后顺序如下:提款限额> 转账限额> 平台转账流水任务红利> 特殊红利，一旦客户启动平台首存流水计算，必须打完其流水才会开始计算其他特殊红利。</li>
            <li style="font-size:13px;">
                返水投注金额仅对投注产生输赢结果的注单进行投注额计算，有效投注（流水）计算方式如下：
                <div class="clear mgbt10"></div>
                <table class="mc-table tactr tb2" width="600">
                    <tbody>
                        <tr>
                            <th>输赢情况</th>
                            <th>有效投注（流水）</th>
                        </tr>
                        <tr>
                            <td>全输</td>
                            <td>下注金额</td>
                        </tr>
                        <tr class="tr2">
                            <td>输且金额小于下注金额</td>
                            <td>输赢金额</td>
                        </tr>
                        <tr>
                            <td>盈利&gt;= 75%</td>
                            <td>下注金额</td>
                        </tr>
                        <tr class="tr2">
                            <td>盈利&lt; 75%</td>
                            <td>盈利</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li style="font-size:13px;">会员参与优惠活动时表明您理解并接受此规则与条款。若您不同意此规则与条款，可放弃此活动参加资格。</li>
            <li style="font-size:13px;">Hwin保留随时更改、结束、取消该活动的权利。</li>
            <li style="font-size:13px;">奖金授予事项及规则与条款的最终解释权归Hwin所有。</li>
        </ol>
    </div>
</div>