<h3>亚洲让分盘</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">亚洲让分盘 (包括上/下半场投注)</p>
<p>开出的选项有主队与客队两项，若为中立场比赛，则以画面上实际显示之主、客队为主。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。 </p>
<p class="mgbt10">让球数为0球 </p>
<p class="mgbt10">如果任何一队以任何比分胜出，投注该队获胜的为赢。如为平局，所有投注计为作废，投注金退还。 </p>
<p class="mgbt10">让球数为0，0.5球时 </p>
<p class="mgbt10">球队让出0，0.5球： <br />
  球队以任何比分胜出 -  投注项为赢。 <br />
  平局- 投注于此项的一半投注金退还客户。另一半的投注被判为输。 <br />
球队以任何比分输 -  此项投注为输。 </p>
<p class="mgbt10">球队获得0，0.5让球： <br />
  球队以任何比分胜出 -  投注项为赢。 <br />
  平局- 一半投注金按照所选项赔率进行结算，另一半投注退还客户。 <br />
球队以任何比分输 -  此项投注为输。 </p>
<p class="mgbt10">让球数为0.5球 </p>
<p class="mgbt10">球队让出0.5球： <br />
  球队以任何比分胜出 -  投注项为赢。 <br />
  平局 -  此项投注为输。 <br />
球队以任何比分输 -  此项投注为输。 </p>
<p class="mgbt10">球队获得0.5让球： <br />
  球队以任何比分胜出 -  投注项为赢。 <br />
  平局 -  投注项为赢。 <br />
球队以任何比分输 -  此项投注为输。 </p>
<p class="mgbt10">让球数为0.5，1球 </p>
<p class="mgbt10">球队让出0.5，1球： <br />
  球队以多于对方至少两球胜出- 投注项为赢。 <br />
  球队以多于对方正好一球胜出- 一半投注按照所选项赔率进行结算，另一半投注退还客户。 <br />
平局或以任何比分输- 此项投注为输。 </p>
<p class="mgbt10">球队获得0.5，1让球： <br />
  平局或以任何比分赢得赛事- 投注项为赢。 <br />
  球队输掉一球- 投注于此项的一半投注金将退还客户。另一半的投注为输。 <br />
球队输掉至少两球 -  此项投注为输。 </p>
<p class="mgbt10">让球数为1球 </p>
<p class="mgbt10">球队让出1球： <br />
  球队以多于对方至少两球胜出- 投注项为赢。 <br />
  球队以多于对方正好一球胜出- 所有投注作废，投注金退还客户。 <br />
平局或以任何比分输- 此项投注为输。 </p>
<p class="mgbt10">球队获得1个让球： <br />
  平局或以任何比分赢得赛事- 投注项为赢。 <br />
  球队输掉一球- 所有投注作废，投注金退还客户。 <br />
球队输掉至少两球 -  此项投注为输。</p>