<div class="mgbt20 rule">
  <ol>
    <h4>满月宝藏Full Moon Fortunes</h4>
    <p class="text1">5转轴20线老虎机</p>
    <li>游戏玩法</li>
    <p class="rulep">选择线注的方法是：点击“线注”下面的 + 和 – 来增加或减少线注数额。</p>
    <p class="rulep">Full Moon Fortunes游戏总是使用20个活跃赔付线玩。活跃赔付线为固定数目，玩家不能改变。</p>
    <p class="rulep">每游戏局的总赌注等于您选定的线注乘以活跃线数。您下注的总数额显示于“自动游戏”按钮上面“总赌注”框内。</p>
    <p class="rulep">将鼠标悬停在转轴上的符号上，显示该符号潜在的赔率。</p>
    <p class="rulep">点击“旋转”使用当前选择的线注旋转转轴。</p>
    <p class="rulep">转轴可以使用自动游戏功能自动旋转。点击“自动游戏”按钮显示选项列表。点击该列表，选择要自动玩的旋转次数。这同样也开始该功能。自动游戏期间，“自动游戏按钮”显示余下的旋转次数。该模式在转轴旋转玩家所确定的次数之后结束，或在您没有足够资金进行下次旋转时结束，或在触发了免费旋转功能之后结束。您可以点击“停止自动游戏”来提前结束自动旋转，该按钮位于游戏窗口的右下角。</p>
    <p class="rulep">点击自动游戏选项里的“快速”可打开或关闭快速模式。打开它会在自动游戏期间加速转轴旋转。</p>
    <p class="rulep">奖金根据赔率表计算。您的线奖金等于您的线注乘以赔付表上对应的值。赔付表位于“信息”页面上的“赔付”屏幕上。</p>
    <p class="rulep">在任意赔付在线只有最高的赔付线赢奖组合赔付。不同赔付在线的同时赢奖累加在一起。</p>
    <p class="rulep mgbt20">出现赢奖旋转时，游戏窗口下面的“奖金”区显示累积的奖金。</p>
    <li>信息页面</li>
    <p class="rulep">点击“信息”，打开参考屏幕，描述不同的游戏组件。点击屏幕右下角的“和”按钮可在不同的屏幕间切换。在屏幕间切换的另一种方式是点击窗口上方标有页面名称的按钮。</p>
    <ul>
      <li>“赔付”屏幕显示所有赢奖组合（即“赔付表”）。</li>
      <li>“圆月”屏幕解释了圆月功能。</li>
      <li>“免费旋转”屏幕描述了触发该功能所需的符号组合及其规则。</li>
      <li>“赔付线”屏幕描述所有可能的赔付线，并解释计算奖金的规则。</li>
    </ul>
    <p class="rulep mgbt20">点击“返回转轴”退出参考屏幕，回到游戏。</p>
    <li>赌付线</li>
    <p class="rulep">赔付线由转轴上面的线代表。所有20条赔付线都在“赔付线”页面有详细介绍。</p>
    <p class="rulep">所有20条赔付线都处于活跃状态，都可注册赢奖。</p>
    <p class="rulep mgbt20">赔付线赌注和总赌注有所不同。赔付线赌注是指在单条赔付在线投放的赌注。总赌注显示所有将投放在游戏局中的赌注。显示于赔付表（位于“赔付”页面）乘以线注。</p>
    <li>关于赔率</li>
    <p class="rulep">赔付列于“赔付”屏幕上的赔付表中。可能赢得的奖金金额计算方法：该赔付线赌注乘以赔率。</p>
    <p class="rulep">如果两个赢奖组合出现在同一条赔付在线时，玩家将按奖金较高的组合获得赔彩。如果多条启动的赔付在线均出现赢奖组合，奖金将会累计。</p>
    <p class="rulep mgbt20">赢奖组合必须从最左边转轴开始，并且这些符号必须是连续的。</p>
    <li>最高奖金限制</li>
    <p class="rulep">游戏中的高奖金设有上限。</p>
  </ol>
  <div class="clear"></div>
</div>