<div class="mgbt20 rule">
  <ol>
    <h4>百万幸运球</h4>
    <p class="text1">你可以在百万幸运球内投下各种赌注。每分钟抽出六个球决定哪一注获胜。</p>
    <p class="text2">在屏幕的左边你可以选择游戏 - 也就是你可以下的赌注。点击其中任何一个，依照屏幕上的指示，每局可下一次注，或者选择多次重复。</p>
    <p class="text2">在中间有一个表格显示你进行中的赌注。点击一个赌注进行修改或者删除。</p>
    <p class="text2">在屏幕的上边有一时钟显示在下一局开始前所剩余的时间。在最后十秒钟内不能下注（在赌注屏幕中没有确认键）。在此情况下等待十秒钟，直到确认键再次出现。你才可以为下一局下注。</p>
    <li>奖池</li>
    <p class="rulep">游戏提供的其中一个可能获得的奖金就是奖池，它由所有提供此游戏的赌场共同建立。在众多在线赌场中玩此游戏的各玩家的赌注的一小部分将被加入到公共底池中。当玩家得到正确的结果时，该玩家便赢得整个奖池（在某些游戏中也可以赢得部分）。</p>
    <p class="rulep">当奖池被赢取之后，将开始新的底池，赌场会提供一个基础金额（称为种子）。这样可确保即使在其他人赢得奖池后，如果您得到游戏中正确的奖池结果，仍可以获得丰厚的奖金。</p>
    <p class="rulep">请注意：</p>
    <ul>
      <li>在某些游戏中，您必须下特定的赌注才有资格赢取奖池。</li>
      <li>如果您在游戏过程中与网络断开连接，您的游戏不会改变奖池的金额。娱乐场将会记住当时的游戏状态，以便您下次登录时使用相同的赔率完成游戏，而无需重新下注。</li>
      <li>如果奖池不再继续（某游戏被关闭并从赌场客户端上删除），赌场将会通知您。</li>
    </ul>
  </ol>
  <div class="clear"></div>
</div>