<h3>板球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">对于有限轮比赛（包括ODI（单日国际板球赛）和Twenty20（20强板球赛）），所有投注将依比赛规则和官方结果进行结算。但是，如果比赛是由超级投球轮、击杀、掷铜板等决定结果的，则所有比赛投注将被视为无效。
        </li>
        <li class="normal">如果官方结果为“无结果”或者比赛规则没有宣布获胜方，则所有投注将无效。</li>
        <li class="normal">如果一场比赛延期或暂停，只要比赛在48个小时内复赛，则所有投注仍会被视为有效。</li>
        <li class="normal">国际板球锦标赛赌盘以1X2的形式提供。1代表首先被提及的球队（通常是主场球队）；X代表比赛结果为和局；2代表第二个被提及的球队（通常是客场球队）。如果一场国际板球锦标赛以“平局”（与“和局”不同）结束，则所有比赛投注将被视为无效。如果一场比赛因为外界干扰因素而中止，则可宣布所有投注无效。</li>
        <li class="normal">跑位最多赌盘指在一场比赛或特定局中获得最多跑位分数的选手。 双方选手都必须站上击球界线，打击至少一球后，投注才有效。如果官方比赛结果为“无结果”，则所有对此盘的投注将无效。</li>
        <li class="normal">最多三柱门赌盘指在一场比赛或特定局中获得最多三柱门分数的选手。 双方选手都必须至少投出一球后，投注才有效。如果官方比赛结果为“无结果”，则所有对此盘的投注将无效。</li>
        <li class="normal">最多六分打赌盘指在一场比赛或特定局中获得最多六分打分数的选手。 如果官方宣布了一个结果，投注即有效。如果官方比赛结果为“无结果”，则所有对此盘的投注将无效。</li>
        <li class="normal">下一人出局赌盘指在一场比赛或特定局中哪名选手会首先出局。如果一名选手退出，则投注将被视为无效。如果无选手出局，则所有投注将被视为有效。即使官方宣布的结果为“无结果”，所有对判定的赌盘的投注仍会被视为有效。</li>
        <li class="normal">总跑位赌盘指一名选手或球队在一场比赛中特定局中得到的总跑位数。 一名选手都必须站上击球界线，打击至少一球后，投注才有效。如果官方比赛结果为“无结果”，则所有对此盘的投注将无效。</li>
    </ol>
    
    <div class="clear"></div>
</div>