<h3>网球 </h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">重要提醒 </p>
<p class="mgbt10">※ 如出现选手退赛或不战而胜，所有未决投注视为无效。 </p>
<p class="mgbt10">※ 如有延迟（降雨，天色过暗）所有未决盘口以及进行的交易都将在复赛时继续。 </p>
<p class="mgbt10">※ 如果裁判判决罚分，所有本场比赛投注继续有效。 </p>
<p class="mgbt10">※ 如果比赛在指定分数或局数前结束，所有受影响的局数相关的盘口视为无效。 </p>
<p class="mgbt10">结算及取消规则 </p>
<p class="mgbt10">※ 如开出的盘口比分错误，并对价格有明显影响，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如选手/球队显示错误，我们有权利宣布投注无效。 </p>
<p class="mgbt10">※ 如选手退赛，所有未决盘口视为无效。 </p>
<p class="mgbt10">※ 若赛事由比赛抢七局(Match tie-break )定胜负，此抢七局将被视为第三盘。 </p>
<p class="mgbt10">※ 每个抢七局(tie-break or Match tie-break )计为一局(game) 。 </p>
<p class="mgbt10">※ 双打若进行抢十，第十局同为Match tie-break，计为一局(game) 。 </p>
<p class="mgbt10">特有盘口介绍 </p>
<p class="mgbt10">总局数单/双 <br />
总局数单/双是指由比赛最终两队加总的局数来确定的投注。</p>
<p class="mgbt10">赛局让分盘 (包括第一盘投注) <br />
投注哪位球员在赛局让分调整后赢得比赛。</p>
<p class="mgbt10">盘数让分盘 <br />
投注哪位球员在盘数让分调整后赢得比赛。</p>
<p class="mgbt10">总盘数 (3盘) <br />
预测比赛总共进行几盘。可下注的选项有有2及3盘。</p>
<p class="mgbt10">总盘数 (5盘) <br />
预测比赛总共进行几盘。可下注的选项有有3、4及5盘。</p>
<p class="mgbt10">总局大小盘 (包括第一盘投注) <br />
以比赛最终局数来确定的投注。如果局数超过大小盘指定的局数，则投注&rdquo;大于&rdquo;者为赢；如果局数低于大小盘指定的局数，则投注&rdquo;小于&rdquo;者为赢。</p>
<p class="mgbt10">正确比分 (3盘) <br />
预测该场赛最后的赛果为何，可下注的选项有： </p>
<ul>
  <li>2:1：主队(选手/球队)得2盘、客队(选手/球队)得1盘 </li>
  <li>2:0：主队(选手/球队)得2盘、客队(选手/球队)无得盘 </li>
  <li>0:2：主队(选手/球队)无得盘、客队(选手/球队)得2盘 </li>
  <li>1:2：主队(选手/球队)得1盘、客队(选手/球队)得2盘 </li>
</ul>
<p class="mgbt10">正确比分 (5盘) <br />
预测该场赛最后的赛果为何，可下注的选项有： </p>
<ul>
  <li>3:2：主队(选手/球队)得3盘、客队(选手/球队)得2盘 </li>
  <li>3:1：主队(选手/球队)得3盘、客队(选手/球队)得1盘 </li>
  <li>3:0：主队(选手/球队)得3盘、客队(选手/球队)无得盘 </li>
  <li>0:3：主队(选手/球队)无得盘、客队(选手/球队)得3盘 </li>
  <li>1:3：主队(选手/球队)得1盘、客队(选手/球队)得3盘 </li>
  <li>2:3：主队(选手/球队)得2盘、客队(选手/球队)得3盘 </li>
</ul>
<p class="mgbt10">滚球：总局大小盘 (包括赛盘1-5盘的投注) <br />
以比赛最终局数来确定。如果局数超过大小盘指定的局数，则投注&rdquo;大于&rdquo;者为赢；如果局数低于大小盘指定的局数，则投注&rdquo;小于&rdquo;者为赢。</p>