<h3>排球</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">重要提醒</p>
<p class="mgbt10">※ 如果比赛未能完成，所有未结盘口视为无效。 </p>
<p class="mgbt10">※ &ldquo;决胜局&rdquo;将不计算任何上述盘口。 </p>
<p class="mgbt10">结算及取消规则</p>
<p class="mgbt10">※ 如比赛中止或延迟，并未在开球后的48小时恢复，投注视为无效。 </p>
<p class="mgbt10">※ 如果错误比分对仍开放的盘口有明显影响，我们有权宣布投注无效。        </p>
<p class="mgbt10">特有盘口介绍</p>
<p class="mgbt10">让分盘 (包括第一局投注) <br />
  让分盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。
单局让分盘是指投注结果由单局赛事的总分来决定。</p>
<p class="mgbt10">总分大小盘 (包括第一局投注) <br />
  以比赛最终总分来确定的投注。如果总分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果总分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。 <br />
单局大小盘是指投注结果由单局赛事的总分来决定。</p>
<p class="mgbt10">总局数 <br />
预测比赛总共进行几局。五局制有3、4及5局可供下注。</p>
<p class="mgbt10">正确局数 <br />
预测该场比赛最后的赛果为何，可下注的选项有： </p>
<ul>
  <li>3:0:主队得3局、客队无得局 </li>
  <li>3:1:主队得3局、客队得1局 </li>
  <li>3:2:主队得3局、客队得2局 </li>
  <li>0:3:主队无得局、客队得3局 </li>
  <li>1:3:主队得1局、客队得3局 </li>
  <li>2:3:主队得2局、客队得3局 </li>
</ul>
<p class="mgbt10">有几局会超过分数上限? <br />
预测有多少局，会有球队比数超过25分（第五局为15分）的比分限制。</p>
<p class="mgbt10">第一局率先到达X分队伍 <br />
  预测第一局哪支球队得分率先到达X分。例如：目前比分20-19，主队即先到达20分。 <br />
  X为：20,30,40…等 <br />
如比赛结束时，无任何球队达到X分，盘口将视为取消。</p>
<p class="mgbt10">第一局总得分 单/双 <br />
第一局单双盘是指投注结果由第一局赛事的总分来决定。</p>
<p class="mgbt10">赛局获胜者 (包括第三、四、五局投注) <br />
若赛局未能进行完毕，投注无效。</p>
<p class="mgbt10">滚球：率先到达X分队伍 <br />
  预测本场比赛哪支球队得分率先到达X分。例如：目前比分20-19，主队即先到达20分。 <br />
  X为：20,30,40…等 <br />
如比赛结束时，无任何球队达到X分，盘口将视为取消。</p>
<p class="mgbt10">滚球：取得第X分者 <br />
  预测本场比赛哪支球队取得第X分（例如：目前比分20-19，客队得1分，客队取得第40分）。 <br />
  X为：10,15,20,25…等 <br />
如比赛结束时，无任何球队达到X分，盘口将视为取消。</p>