<div class="mgbt20 rule">
  <ol>
    <h4>法式轮盘</h4>
    <p class="text1">游戏的目标是预测小球将在轮盘哪个位置停留。轮盘包括红黑相间的 1 至 36 号数字和一个绿色的 0。</p>
    <li>游戏玩法</li>
    <p class="rulep">单击选择含有所需值的筹码。</p>
    <p class="rulep">单击轮盘赌桌上的数字或下注区域下注。每次单击该区域将在赌注中增加一个所选值的筹码。</p>
    <p class="rulep">最小和最大下注限额取决于您的VIP等级。如果赌注小于最低限制，则显示信息提示赌注不足，牌桌上相应的筹码闪动三次。关于所有位置下注限额的详细信息，将鼠标悬停或点击牌桌上的限额标志。</p>
    <ul>
      <li>从对应的菜单中投放邻注或宣布赌注。</li>
      <p class="pointp fwbd">投放邻注：</p>
      <p class="pointp pdlef16">A.在游戏窗口的右下角单击“邻注”按钮，然后打开“邻注”面板。</p>
      <p class="pointp pdlef16">B.在打开的面板上，选择轮盘上需要的数字。</p>
      <p class="pointp pdlef16">C.通过单击排列在轮盘模型下相应的数字键（1、2、3 和 4），选择目标数字两侧的相邻数字。</p>
      <p class="pointp pdlef16">D.“数字”字段显示与“邻注”相关的数字。</p>
      <p class="pointp pdlef16">E.“总赌注”字段显示“邻注”的总数-投放与“邻注”相关的各个数字的赌注总和。</p>
      <p class="pointp pdlef16">F.每次旋转可以投放多个“邻注”。</p>
      <p class="pointp pdlef16">G.单击“清除”可移除不需要的“邻注”。</p>
      <p class="pointp pdlef16">H.投放所有需要的“邻注”后，单击“关闭”退出“邻注”面板。</p>
      <p class="pointp fwbd">投放宣布赌注：</p>
      <p class="pointp pdlef16">A.在游戏窗口的右下角单击“宣布赌注”按钮，然后打开“宣布赌注”面板。</p>
      <p class="pointp pdlef16">B.在打开的面板上，点击宣布注对应的域，选择想要的宣布注数额。每点一次增加当前在主游戏窗口选择的筹码值，每按住Shift键点击减少相应数值。</p>
      <p class="pointp pdlef16">C.所选数额的赌注即放置在宣布注相关的每个赌注位置上。</p>
      <p class="pointp pdlef16">D.轮盘赌桌模型显示与“宣布赌注”相关的数字。</p>
      <p class="pointp pdlef16">E.每次旋转可以投放多个“宣布赌注”。</p>
      <p class="pointp pdlef16">F.投放所有需要的“宣布赌注”后，单击“关闭”退出“宣布赌注”面板。</p>
    </ul>
    <p class="rulep">若要增加其他金额的赌注，请选择其他筹码并单击需要的下注区域。</p>
    <p class="rulep">按住Shift点击赌注区，从赌注中去除与选中筹码相同数额的筹码，如果选定筹码比已放置赌注数额大，则去除整个赌注。</p>
    <p class="rulep">您可同时将多个筹码放置在不同的下注区。</p>
    <p class="rulep">请在投放赌注后单击“旋转”转动小球。请注意，“旋转”按钮在赌注低于最低限制时不能使用。单击“清除赌注”从赌桌上移除所有已下赌注。旋转结束后，单击“重新下注”投放与上一轮旋转相同的赌注，然后单击“旋转”转动小球。</p>
    <p class="rulep">获胜赌注留在桌子上。您可像拿走别的赌注一样把它们拿走，也可留在牌桌上供下一局使用。</p>
  </ol>
  <div class="clear"></div>
</div>