<h3>棒球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">投手姓名仅供参考。不论先发投手是谁，所有的棒球投注都有效。</li>
        <li class="normal">所有全场赌盘包括现场投注将会根据包括加赛局数在内的最终赛果结算（除非本规则另有说明）。日本棒球赛可以宣布平局，而在此情况下，“胜负盘（moneyline）”的赌金将会被退回。</li>
        <li class="normal">如果一场比赛没有在预定开始日期开始，则所有投注将无效（除非另有说明）。</li>
        <li class="normal">只有比赛必须进行9（九）局时（或者如果主队领先，则为8.5局），棒球投注才会被视为有效。如果一场比赛暂停并且在第二天完成，则所有投注（除了对无条件决定的赌盘所做投注以外）将会被视为无效。</li>
        <li class="normal">如果一场比赛暂停或进入延长赛，则得分将在完整局数后确定，除非主队在局数下半场打成平手或领先，在此情况下，得分会在比赛停止时确定。</li>
        <li class="normal">前五局投注是根据前五局结束时的赛果进行结算的。如果不论因任何原因而未打满五局，则所有投注都会被视为无效。</li>
        <li class="normal">得分会更新用于棒球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。</li>
        <li class="normal">在世界棒球经典赛中，如果在一支队伍已打击至少七局后，另一队伍领先十分或以上，或者一支队伍至少打击五局后，另一支队伍已领先十五分以上，比赛可以提前结束。如果出现此类情况，所有投注均有效。</li>
        <li class="normal">国际棒球比赛（如奥运会棒球比赛）在已经完成6.5局的情况下，可以提前结束，并且投注会被视为有效。</li>
        <li class="normal">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险，;认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。</li>
    </ol>
    
    <div class="clear"></div>
</div>