<h3>投注规则与规定</h3>
<div class="horizonLine2"></div>
<p class="text1">某些赛事和赌盘有不同的规则，这些规则列于本网站有关特定赛事或赌盘/投注类型的“特别赛事/赌盘投注规则”中。下述内容为适用于所有赛事和赌盘/投注类型的一般规则，必须完全遵守。在适用的情况下，本公司网站公布的“条款和条件”中所列规定与定义应当适用于本“投注规则与规定”。</p>
<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>一般投注规则与规定</li>
        <p class="rulep">本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时视频中）或其它投注信息的任何错误或遗漏负责。本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理赌盘，赌盘定义为针对某一体育赛事所提供的不同的投注类型。公司保留做出最终性决定的权利。</p>
        <p class="rulep">如果一项赛事在预定时间之前开始，则只有该项赛事开始之前所做投注（除指定的现场投注以外）会被视为有效投注，赛事的定义是两个团队或个人间有组织的体育比赛或活动。 如果一个赌盘未在正确时间关闭或中止，则本公司有权取消在实际开始时间之后进行的所有投注（除指定的现场投注以外）。</p>
        <p class="rulep">如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。</p>
        <p class="rulep">在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。</p>
        <p class="rulep">本公司有权在任何时候出于任何原因修改这些规则。一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。</p>
        <p class="rulep mgbt20">客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。</p>
        
        <li>中止和延期</li>
        <p class="rulep">如果一项赛事未在预定开始日期开始，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对已获得无条件确定的赌盘所做的投注以外。</p>
        <p class="rulep">如果一项赛事已经开始，但之后又中止，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的投注都将无效，除了对无条件决定结果的赌盘所做的投注以外。</p>
        <p class="rulep mgbt20">如果一项赛事未按特定体育规则的规定，在原告预定的完成日期完成，而正式的比赛结果得以宣布，或者特定赛事的相关主管机构宣布了一个结果，则本公司有权认定这一比赛是正式有效的。在此方面，本公司的决定是最终和具有结束性的。</p>
        
        <li>场地变更</li>
        <p class="rulep">除非另有说明，如果一项比赛预计在一个中立性场地上展开，但却在非中立的场地上展开，所有的投注仍将被视为有效，反之亦然。如果主场团队打客场团队的场地变更，反之亦然，对该场比赛的所有投注都将被视为无效。如果主场和客场团队的名称被错误地颠倒，投注也会被视为无效。</p>
        <p class="rulep mgbt20">对于所有非团队赛事，如果预定的场地在赌盘开放后变更，则所有的投注仍将被视为有效。</p>
        
        <li>赛事进行时间</li>
        <p class="rulep mgbt20">所显示的赛事进行时间仅供于参考。尽管赛事进行时间和所显示的有所差异，投注仍有可能被视为有效。</p>
        
        <li>赛果</li>
        <p class="rulep">必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。如果没有颁奖仪式，赛果将会依据相关主管机构在赌盘结算时提供的官方结果而定，不论之后是否出现取消或更改赛果的情况。如果没有提供适用的官方结果，则将依据到赌盘结算时适用且已知的证据来确定赛果。</p>
        <p class="rulep">赌盘通常会在一项赛事结束后不久尽快进行结算。完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。</p>
        <p class="rulep">如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。</p>
        <p class="rulep">对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。</p>
        <p class="rulep mgbt20">当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。然而，如果没有此类适用的视频记录，应当根据特定赛事的相关主管机构在其官方网站上公布的赛果确定正确的结果。如果该官方网站无法提供这一结果或者官方网站公布的赛果明显有错，则本公司有权做出决定/修正，以便确定最终的结果。在此方面，本公司的决定是最终和具有结束性的。</p>
        
        <li>自动定时器接受功能</li>
        <p class="rulep">对于某些可由本公司确定的赛事，客户可以利用定时器接受功能进行投注，选择菜单上的“定时器接受”按钮即可。 利用定时器接受功能所做的每次投注将有自己的倒计时，其持续时间将由本公司独家决定。 在定时器倒数完毕时，若没有下文所述任何妨害的情况出现，投注将会被接受。</p>
        <p class="rulep">如果在定时器倒数结束前发生任何本节所述的妨害情况，所有使用定时器接受功能所做投注都将立即被取消：</p>
        <ul>
            <li>如果很可能或确实领得一张红牌</li>
            <li>如果可能或确实被判罚一个点球</li>
            <li>如果任何球队可能入球或取得入球</li>
            <li>偶发事件包括但不限于，影响正确地下注、接受投注、记录或通告投注的任何设备或通讯中断，操作或传输延误或中断，通讯线路故障等</li>
        </ul>
        
        <p class="rulep">在使用定时器接受功能时，客户承认本网站上提供的当前分数、所用时间及其它数据虽然是由第三方以直播形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。 本公司提供这些数据，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。</p>
        
        
    </ol>
    <div class="clear"></div>
</div>