<h3>珠仔</h3>
<div class="horizonLine2"></div>
<p class="text1">即选号玩法。珠仔玩法是在80个号码中选出1至5个号码组合成一组进行的投注。玩家将选投注号码与中奖号码对照，不需按照顺序，根据所选号码与中奖号码相符的个数多少，来确定相应的中奖级别。分为正赌、反赌、全中三种下法，并且其中只有”正赌”玩法，有提供单一投注多重中奖机会，见下例。</p>
<!--内容分类标题-->
<div class="mgbt20 rule">
  <ol>
    <li>正赌、全中</li>
    <p class="rulep">例：投注者购买的是08，18，38，58这四个号码为一个组合，且该期开奖号码中包含08，18，38，58这四个数字，则视为投注"4中4"，若开出号码中只有18，38，58则视为投注"4中3"，赔率以下表派彩。</p>
    
    <p class="rulep">正赌赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>选5</th>
        <th>选4</th>
        <th>选3</th>
        <th>选2</th>
        <th>选1</th>
      </tr>
      <tr>
        <td>中5</td>
        <td>251</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中4</td>
        <td>21</td>
        <td>51</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中3</td>
        <td>3</td>
        <td>6</td>
        <td>20.3</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中2</td>
        <td>0</td>
        <td>2</td>
        <td>2.3</td>
        <td>10.3</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>3.3</td>
      </tr>
    </table>
    
    <p class="rulep">全中赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>选5</th>
        <th>选4</th>
        <th>选3</th>
        <th>选2</th>
        <th>选1</th>
      </tr>
      <tr>
        <td>中5</td>
        <td>1150</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中4</td>
        <td>0</td>
        <td>240</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中3</td>
        <td>0</td>
        <td>0</td>
        <td>48</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>12</td>
        <td>-</td>
      </tr>
      <tr>
        <td>中1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </table>
    
    <li>反赌</li>
    <p class="rulep">例：投注者购买的是02，04，06，08，10，12，14，16，18，20，22，24这12个号码为一个组合，且该期开奖号码中全不包含，则视为赢。</p>
    
    <p class="rulep">反赌赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>选12</th>
        <th>选11</th>
        <th>选10</th>
        <th>选9</th>
        <th>选8</th>
      </tr>
      <tr>
        <td>中0</td>
        <td>27</td>
        <td>20</td>
        <td>14</td>
        <td>10</td>
        <td>6</td>
      </tr>
      <tr>
      </table>
      
    </ol>
    
    <div class="clear"></div>
  </div>