<h3>注册与登录</h3>
<div class="horizonLine2 mgbt20"></div>
<!--內容分類標題-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">注册流程</h4>
  <div class="rule noheight">
    <ol>
      <li>
        在Vwin页面找到“立即注册”按钮
        <div><img src="/Templates/images/zh-cn/helpimage-01-01.png"></div>
      </li>
      <li>
        单击“立即注册”按钮后， 即可进入全新用户注册页面
        <div><img src="/Templates/images/zh-cn/helpimage-01-02.png"></div>
      </li>
      <li>
        填写并提交用户资料
        <p>根据页面提示，完成注册时所需要填写的用户资料。</p>
        <p>在填写“用户名”时，支持英文与数字的组合，文字字数在8-16位之间。用户名不支持中文字符。</p>
        <p>密码不可与用户名相同，为保障您的账户安全，请使用大小写英文与数字组成的高强度密码。</p>
        <p>请在”隐私申明与用户条例”选项前打钩，并请确保你已经年满18岁，点击“立即注册”按钮。</p>
        <div><img src="/Templates/images/zh-cn/helpimage-01-03.png"></div>
      </li>
      <li>
        注册成功
        <p>看到注册成功提示，表示您已成功注册，并已自动登录Vwin，现在就可立即享受Vwin带给您的各项精彩娱乐。</p>
        <div><img src="/Templates/images/zh-cn/helpimage-01-04.png"></div>
      </li>
    </ol>
  </div>
</div>
<!--內容分類標題結束-->
<!--內容分類標題-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">登录流程</h4>
  <div class="rule noheight">
    <ol>
      <li>
        点击Vwin右上角的“登录”按钮
        <div><img src="/Templates/images/zh-cn/helpimage-01-05.png"></div>
      </li>
      <li>
        在弹出的窗口中输入您的“用户名”与“密码”，点击“立即进入”即可完成登录操作
        <p>在您输入5次错误密码时，为了保障您的账户安全，系统将会暂时冻结您的账户30分钟。</p>
        <p>如您忘记密码，可点击“忘记密码”按钮，通过电子邮箱 / 手机号码 / 安全问题三种方式找回密码。</p>
        <div><img src="/Templates/images/zh-cn/helpimage-01-06.png"></div>
      </li>
    </ol>
  </div>
</div>
<!--內容分類標題結束-->
<div class="clear"></div>