<div class="mgbt20 rule">
  <ol>
    <li>开球队伍</li>
    <p class="rulep">开球队伍表示对赛事中开球的队伍投注。</p>
    <p class="rulep mgbt20">如果开球后一项赛事中止，则所有投注仍然有效。</p>
    
    <li>最佳新队</li>
    <p class="rulep mgbt20">最佳新人表示预测哪支球队会是一场赛事或比赛的最佳新队。一支“新队”指一支新近加入一场赛事或比赛的球队。</p>
    
    <li>主队不赌</li>
    <p class="rulep mgbt20">预测一场比赛是平局还是客队赢。如果常规比赛时间后或预定时间末时，最终结果为主队赢，则所有投注都会被退款。</p>
    
    <li>客队不赌</li>
    <p class="rulep mgbt20">预测一场比赛是平局还是主队赢。如果常规比赛时间后或预定时间末时，最终结果为客队赢，则所有投注都会被退款。</p>
    
    <li>率先进2球的球队</li>
    <p class="rulep">表示投注预测一场比赛中哪支球队会率先获得两（2）个进球。</p>
    <ul>
      <li>主队</li>
      <li>客队</li>
      <li>两队皆未得2分</li>
    </ul>
    <p class="rulep">如果一场比赛在一支球队已经获得两（2）个进球之后中止，则所有投注都将有效。</p>
    <p class="rulep mgbt20">如果一场比赛在任一支球队已经获得两（2）个进球之前中止，则所有投注都将无效。</p>
    
    <li>率先进3球的球队</li>
    <p class="rulep">表示投注预测一场比赛中哪支球队会率先获得三（3）个进球。</p>
    <ul>
      <li>主队</li>
      <li>客队</li>
      <li>两队皆未得2分</li>
    </ul>
    <p class="rulep">如果一场比赛在一支球队已经获得三（3）个进球之后中止，则所有投注都将有效。</p>
    <p class="rulep mgbt20">如果一场比赛在任一支球队已经获得三（3）个进球之前中止，则所有投注都将无效。</p>
    
    <li>梦幻比赛: 率先进球的球队</li>
    <p class="rulep">梦幻比赛：率先进球的球队表示投注预测在一场梦幻比赛中哪支球队会率先进球。</p>
    <p class="rulep">例：比赛：曼城对阵利物浦；切尔西对阵曼联，梦幻比赛：曼城对阵切尔西，曼城在比赛第25分10秒时进球，切尔西在比赛25分48秒时破门，获胜投注：曼城。
    </p>
    <p class="rulep">如果两场比赛在同一时间（精确到分秒）进球或者两场比赛都没有进球，则视梦幻比赛为平局。</p>
    <p class="rulep">如果在一场比赛进第一个球之后，另一场比赛被推迟或取消，则所有投注都有效。如果在一场比赛进第一个球之前，另一场比赛被推迟或取消，则所有投注都无效。</p>
    <p class="rulep">例：比赛：曼城对阵利物浦；切尔西对阵曼联，梦幻比赛：曼城对阵切尔西，曼城在比赛第25分10秒时进球，切尔西的比赛在25分10秒之前被推迟或取消，结果：所有投注都无效。</p>
    <p class="rulep">如果两场比赛在未进球的情况下被取消，则所有投注都无效。</p>
    <p class="rulep">任何在加时赛期间的进球不计入内。</p>
    
  </ol>
  
  <div class="clear"></div>
</div>