<h3>冬季奥运会比赛规则与规定</h3>
<div class="horizonLine2"></div>
<p class="text1">所有赌盘是根据国际奥林匹克委员会（IOC）公布的官方结果结算的。</p>
<p class="text2">原定颁奖仪式的官方结果将是结算所有投注的依据。之后如有任何取消资格或更改赛果的情况，将不适用于投注之目的。</p>
<p class="text2">如果比赛或赛事在奥运会期内完成，则所有投注将被视为有效，不论实际的开始时间是怎样。如果一场比赛或赛事未能完成，并且没有公布官方结果，则所有投注将被视为无效，并将被退款。</p>
<p class="text2">在一项赛事实际开始后错误接受的所有投注将被视作无效，并将被退款（除现场投注外）。</p>
<p class="text2">如果一支队伍或一名参赛者未参与比赛，则对该队或参赛者的所有投注将被视作无效，并将被退款（包括赢得金牌赌盘）。如果在胜负盘（对决）中提及的一支队伍或一名参赛者未能参与比赛，则所有对该盘的投注将被视为无效，并且将被退款。</p>
<p class="text2">如果优胜冠军（赢得金牌）赌盘中出现“不分胜负”，则一半投注金额将分配给完全赔率，而另一半投注金额将全部丧失。如果胜负盘（对决）中出现“不分胜负”，则结果将为平手，对两名参赛者的投注将会被退款。</p>
<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>奥运奖牌</li>
        <p class="rulep">针对奥运会，会提供预测个人或国家将赢得多少枚奖牌的赌盘。</p>
        <p class="rulep">这些赌盘可以仅针对金牌数，也可针对总奖牌数（金、银、铜牌总计）。</p>
        <p class="rulep mgbt20">所有赌盘将依据奥运会结束后由IOC实时公布的官方奖牌榜进行结算。之后对奖牌榜的任何更改都不会用于投注之目的。</p>
        
        <li>胜负盘（对决）</li>
        <p class="rulep">哪名参赛者或哪支队伍会赢得比赛，或者在一项赛事中排名较高？</p>
        <ul>
            <li class="mgbt20">最终排名是依赛事中排行最高的参赛者而定。如果两名参赛者在同一比赛阶段被淘汰，则官方排名较高的参赛者将是获胜方。如果两名参赛者在同一比赛阶段被淘汰，但官方并未公布两名参赛者的排名，则投注将被视为无效。</li>
        </ul>
        
        <li>冰上曲棍球</li>
        <p class="rulep">奥运会冰上曲棍球依循上述一般冰上曲棍球的投注规则。</p>
        <p class="rulep">第3点例外，它将被下列规则替代 – 如果比赛在奥运会期间完成，不论其实际开始时间如何，所有投注都将被视为有效。如果IOC宣布了一个官方结果，则投注也会被视为有效。如果一场比赛未能完成，并且没有公布官方结果，则所有投注将被视为无效，并将被退款。</p>
        <p class="rulep">本公司可能会提供其它赌盘（例如包括加时赛或点球大战胜出方），这些赌盘的条款会清楚地列出其名称中。</p>
        
        <p class="text1">*注：分组预赛回合期间不会进行加时赛，所以可能会出现平局。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>