<div class="mgbt20 rule">
  <ol>
    <h4>决斗二十一点</h4>
    <p class="text1">决斗二十一点 是一种有六副牌的牌游戏。游戏的目标是总点数比庄家的大，但是不能大过21。牌的点数和二十一点相似：数字牌的点数都是面值，公仔牌的点数是十点，尖的点数是1或11。但是，和二十一点不同的是，所有21点的牌都是一样大（尖以及十和三张牌的21点一样大）。每一回合结束后，用过的牌放回牌组，然后洗牌。</p>
    <li>游戏玩法</li>
    <p class="rulep">点击筹码选择一个值，并点击下注区域投放此面值的筹码。每点击筹码一次，您的投注增加所选筹码之数额，Shift-点击减少。</p>
    <ul>
      <li>请注意：本游戏要求您放置等于您的第一手盲注的额外加注才能继续玩，请确保您的余额有足够的钱支支付该投注。如果您的余额不够高，您将会得到警告。</li>
    </ul>
    <p class="rulep">您也可以点击2上区域投放一个旁注。此赌注不是强制投放的。参看下面的解释。</p>
    <p class="rulep">每个投注位的最小最大投注限制根据您的VIP级别不同而不同，该限制显示在牌桌上。此外，“2上赌注边”注还有单独的限制，等于牌桌最大投注额的5/1。</p>
    <p class="rulep">单击“发牌”按钮。您将被发两张牌，一张牌面朝上一张牌面朝下。庄家将被发出两张牌面朝下的牌。在牌桌的中间发出两张牌面朝上的牌。这些是公共牌-用于您和庄家的牌。</p>
    <p class="rulep">现在您有以下两种选择：</p>
    <ul>
      <li>“弃牌” – 结束牌局，输掉您的赌注。如果您投放一个2上的旁注并且赢了，您仍然可以得到您的奖金。</li>
      <li>“左牌/右牌” – 选择两张公共牌之一，加入您牌面朝上的牌中。点击相应的按钮，或点击两张公共牌之一。请注意，这样将在您选择的公用牌旁放置等于您的第一手盲注的额外加注。</li>
    </ul>
    <p class="rulep">您牌面朝上的牌的总点数和所选择的公共牌已经显示出来了。现在您有以下的选择：</p>
    <ul>
      <li>“叫牌” – 翻开您牌面朝下的牌并将其添加至您的牌中。如果您的总点数大于21，您立即输掉牌局。</li>
      <li>“停牌” – 忽视您牌面朝下的牌，并仅保留两张牌继续进行游戏。如果两张牌的总点数为21点，则自动选择此选项。</li>
    </ul>
    <p class="rulep">庄家翻开一张牌，并选择一张公共牌。庄家公共牌的选择是根据下面解释的严格设定的规则进行的。</p>
    <ul>
      <li>如果庄家的总点数高于 12 且高于您的点数，那么您会输掉您的第一手盲注和额外加注。</li>
      <li>如果您的总点数高于庄家点数，您的第一手盲注和额外加注都按 1:1 获胜。</li>
      <li>如果庄家的总点数小于13，那么他就输了。即使您的总点数小于庄家的，您也赢得赌注按1：1的赔付以及返回您的额外赌注。</li>
      <li>如果总点数相等，则为和局，您的赌注返回。</li>
    </ul>
    <p class="rulep mgbt20">如果您想再玩一局，点击新游戏。再按以上所述下注，点击“发牌”钮，或是点击“重下注”按前一局下的赌注重新下注。</p>
    <li>庄家规则</li>
    <p class="rulep">在玩家做出选择之后，庄家翻出牌面朝下的第一张牌，并选择一张公共牌。当选择一张公共牌时，玩家必须根据赌场组牌方式创建出可能最佳的牌。这意味着庄家必须从下表中的可能手牌列表中选择第一手，从顶部开始。例如公用牌是2和10，庄家牌是8，那么庄家会从公用牌中选择2，这是因为在列表中一手 8-2高于8-10。</p>
    <table class="mc-table tactr tb2">
      <tr>
        <th>2-牌成绩</th>
        <th>牌手组成</th>
      </tr>
      <tr>
        <td>21</td>
        <td>尖和任一个10</td>
      </tr>
      <tr class="tr2">
        <td>20</td>
        <td>A-9 和10-10</td>
      </tr>
      <tr>
        <td>19</td>
        <td>A-8 和 10-9</td>
      </tr>
      <tr class="tr2">
        <td>11</td>
        <td>9-2, 8-3, 7-4, 6-5</td>
      </tr>
      <tr>
        <td>10</td>
        <td>8-2, 7-3, 6-4, 5-5</td>
      </tr>
      <tr class="tr2">
        <td>9</td>
        <td>7-2, 6-3, 5-4</td>
      </tr>
      <tr>
        <td>18</td>
        <td>9-9, 10-8, A-7</td>
      </tr>
      <tr class="tr2">
        <td>17</td>
        <td>9-8, 10-7, A-6</td>
      </tr>
      <tr>
        <td>软16</td>
        <td>A-5</td>
      </tr>
      <tr class="tr2">
        <td>软15</td>
        <td>A-4</td>
      </tr>
      <tr>
        <td>软14</td>
        <td>A-3</td>
      </tr>
      <tr class="tr2">
        <td>软13</td>
        <td>A-2</td>
      </tr>
      <tr>
        <td>软12</td>
        <td>A-A</td>
      </tr>
      <tr class="tr2">
        <td>8</td>
        <td>2-6, 3-5, 4-4</td>
      </tr>
      <tr>
        <td>7</td>
        <td>2-5, 3-4</td>
      </tr>
      <tr class="tr2">
        <td>6</td>
        <td>2-4, 3-3</td>
      </tr>
      <tr>
        <td>5</td>
        <td>2-3</td>
      </tr>
      <tr class="tr2">
        <td>12</td>
        <td>9-3, 8-4, 7-5, 6-6, 10-2</td>
      </tr>
      <tr>
        <td>13</td>
        <td>9-4, 8-5, 7-6, 10-3</td>
      </tr>
      <tr class="tr2">
        <td>14</td>
        <td>9-5, 8-6, 7-7, 10-4</td>
      </tr>
      <tr>
        <td>15</td>
        <td>9-6, 8-7, 10-5</td>
      </tr>
      <tr class="tr2">
        <td>16</td>
        <td>9-7, 8-8, 10-6</td>
      </tr>
      <tr>
        <td>4</td>
        <td>2-2</td>
      </tr>
    </table>
    <p class="rulep">庄家必须在16点或小于16点的时候叫牌，而在17点停牌。如果庄家叫牌，他的第二张牌面朝下的牌就被翻出来。牌的点数被添加至牌手的总点数中。</p>
    <p class="rulep mgbt20">如果庄家的牌小于13点，即使您的牌小于庄家的，庄家也输了，而您赢得牌局。在此种情况，您赢得赌注的同等金额，第二个额外赌注则为和局。</p>
    <li>2上赌注</li>
    <p class="rulep mgbt20">这是牌桌上将要翻出的前三张牌上的旁注（您的两张牌面朝上的牌和两张公共牌）。如果这些牌中有对子（任意花色的两张相同的牌，例如方块K和梅花K），那么您的投注按3:1获胜。如果三张牌形成一类3 张（任意花色的三张相同的牌），那么您的投注按20:1获胜。</p>
    <li>多手</li>
    <p class="rulep">在多手模式下，可以在牌桌半圆的多个手位投注。在手位投注时，您可以放一手，也可以放多手，最多放3手。每个手位的投注数额可能不同。牌依次派发到每个手中，在最右边开始，最手派发公用牌。牌派发完毕后，每手也按顺序操作，从最右边开始。</p>
  </ol>
  <div class="clear"></div>
</div>