<div class="mgbt20 rule">
    <ol>
        <li>零失球获胜</li>
        <p class="rulep">预测您所选择的球队是否能在常规比赛时间或预定比赛时间末时获胜且无失球，加时赛或点球大战不计入内。
        </p>
        <p class="rulep">如果赛事在只有主场进球之后中止，则“客场”的投注将有效，但“主场”的投注均视为无效。如果只有客场进球，则“主场”的投注将有效，但“客场”的投注均视为无效。如果主客场都有进球，则全部投注视为有效。如果赛事在没有任何进球的情况下中止，则全部投注视为无效。</p>
        <ul>
            <li>规则1：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 = 0 (1, 2…: 0)</p>
            <p class="pointp">主场 – 退还；客场 – 输</p>
            <li>规则2：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 ≥ 1 (1, 2…: 1, 2…)</p>
            <p class="pointp">主场是 – 输；客场是 – 输</p>
            <li>规则3：</li>
            <p class="pointp">主场得分 = 0，客场得分 ≥ 1 (0 : 1, 2…)</p>
            <p class="pointp mgbt20">主场 – 输；客场 – 退还</p>
        </ul>
        
        <li>半场获胜</li>
        <p class="rulep">预测您所选择的球队是否在上半场或下半场内可以比对手赢得更多进球。</p>
        <p class="rulep">主队胜出其中一个半场</p>
        <ul>
            <li>主队胜出其中一个半场是指投注预测主队在其中一个半场的进球数多于对手。</li>
            <li>如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
        
        <p class="rulep">客队胜出其中一个半场</p>
        <ul>
            <li>客队胜出其中一个半场是指投注预测客队在其中一个半场的进球数多于对手。</li>
            <li class="mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
        
        <li>上下半场皆赢</li>
        <p class="rulep">预测您所选择的球队是否在每个半场都可以比对手赢得更多进球。</p>
        <p class="rulep">例：如果您选择的球队在一场比赛的上半场得分，并且整场比赛以1-0结束，虽然上半场以1-0胜出，但在第二个45分钟比赛中实际比分为0-0，因此为平局。 如果这一情况出现，则只有上半场会被视为“赢”，所以这一投注为输。</p>
        <p class="rulep">主队胜出两个半场 (包括上/下半场投注)</p>
        <ul>
            <li>主队胜出两个半场是指投注预测主队在两个半场中的进球数都多于对手。</li>
            <li>如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
        
        <p class="rulep">客队胜出两个半场 (包括上/下半场投注)</p>
        <ul>
            <li>客队胜出两个半场是指投注预测客队在两个半场中的进球数都多于对手。</li>
            <li class="mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
        
        <li>地区赢家</li>
        <p class="rulep">地区赢家表示预测一个地区赛事或比赛的获胜方。</p>
        <p class="rulep mgbt20">所有结果依据比赛结束时由主办单位宣布的官方结果而定。</p>
        
        <li>平局/非平局</li>
        <p class="rulep mgbt20">预测常规比赛时间后或预定时间末时的最终结果是否为平局还是非平局。</p>
        
        <li>球队反败为胜</li>
        <p class="rulep mgbt20">球队反败为胜表示预测一支在比赛中任何时候输球的球队最终反败为胜，并在90分钟结束时赢得比赛。</p>
        
        <li>冠军队教练的洲籍</li>
        <p class="rulep mgbt20">冠军队教练的洲籍是指投注预测冠军队主教练的原籍大洲。</p>
        
        <li>净胜球数</li>
        <p class="rulep">净胜球数是指投注预测主队和客队之间的胜方和输赢比数。</p>
        <p class="rulep">这种投注类型的选项例如有：</p>
        <ul>
            <li>主队以1球取胜</li>
            <li>主队以2球取胜</li>
            <li>主队以3球或以上取胜</li>
            <li>任何平局的比数</li>
            <li>客队以1球取胜</li>
            <li>客队以2球取胜</li>
            <li>客队以3球或以上取胜</li>
        </ul>
        <p class="rulep mgbt20">任何的加时赛将不包括在判定净胜球数的投注类型。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>