<div class="mgbt20 rule">
  <ol>
    <h4>赌场老虎机 Casino Slots</h4>
    <p class="text1">3- 转标准吃角子老虎</p>
    <li>游戏玩法</li>
    <p class="rulep">单击屏幕左边的 + 和 – 按钮选择您要在每局下注的硬币数。</p>
    <p class="rulep">单击“赌一个”或者“赌最大”按钮选择您想下注的硬币数。单击一次“赌一个”按钮可在赌注中增加一个硬币。</p>
    <p class="rulep">您也可以单击赔率表中相应的列下注（最左边一列下一个硬币的赌注，中间列下两个硬币的赌注，最右边一列下三个硬币的赌注）。转轴会开始自动旋转。</p>
    <p class="rulep">单击“赌最大”按钮可将赔付线的数目增加至最大 － 即三条赔付线 － 并且自动旋转转轴。</p>
    <p class="rulep">单击“旋转”按钮（如果没有按赌最大或者使用赔率表 ），或者点击转臂以旋转转轴。</p>
    <p class="rulep mgbt20">如果转轴停止后显示赢奖组合（沿着赔付线），您将依照 赔率表赢得相应奖金。</p>
    <li>按钮</li>
    <table class="mc-table tactr tb2">
      <tr>
        <td>+ 和 – 按钮</td>
        <td>增加或减少硬币值</td>
      </tr>
      <tr class="tr2">
        <td>赌一个</td>
        <td>下一个硬币赌注或者增加一个硬币到赌注中（最多达三个）。然后单击旋转按钮旋转转轴</td>
      </tr>
      <tr>
        <td>赌最大</td>
        <td>下三个硬币的赌注并自动旋转转轴</td>
      </tr>
      <tr class="tr2">
        <td>旋转</td>
        <td>旋转转轴</td>
      </tr>
    </table>
  </ol>
  <div class="clear"></div>
</div>