<h3>橄榄球</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>英式橄榄球</li>
        <p class="rulep">所有全场赌盘 (包含实时投注) 是以正规时间 (80 分钟) 结束时的结果进行结算。延长赛不列入全场赌盘的计算结果。7人橄榄球的赌盘是以正规赛结束时的结果来进行结算 (通常是14或20分钟) 。加时赛将不计算在全场7人橄榄球的赌盘内。
        </p>
        <p class="rulep">如果一场比赛延期、暂停或中止，并且未在预定开赛时间后的十二个小时内复赛，则所有投注会被视为无效，除了对对无条件决定的赌盘所下投注以外。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。
        </p>
        <p class="rulep">“上半场”赌盘仅指上半场比赛的结果。如果指定的半场未完成，则所有投注将被视为无效。
        </p>
        <p class="rulep">英式橄榄球现场投注是根据正规时间结束时的比赛结果进行结算的。</p>
        <p class="rulep">得分会更新用于英式橄榄球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。
        </p>
        <p class="rulep mgbt20">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险;认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。
        </p>
        
        <li>联盟式橄榄球</li>
        <p class="rulep">所有全场赌盘包括现场投注将会根据比赛结束时的最终赛果结算，包括任何可能会进行的加时赛。
        </p>
        <p class="rulep">如果一场比赛延期、暂停或中止，并且未在预定开赛时间后的十二个小时内复赛，则所有投注会被视为无效，除了对对无条件决定的赌盘所下投注以外。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。
        </p>
        <p class="rulep">“上半场”赌盘仅指上半场比赛的结果。如果指定的半场未完成，则所有投注将被视为无效。
        </p>
        <p class="rulep">联盟式橄榄球现场投注是根据比赛结束时的最终赛果结算，包括任何可能会进行的加时赛。
        </p>
        <p class="rulep">得分会更新用于联盟式橄榄球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。
        </p>
        <p class="rulep">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险; 或者认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。
        </p>
        
    </ol>
    
    <div class="clear"></div>
</div>