<div class="sub-box">
    <div class="rule rule2 noheight">
        <ol>
            <li>
                进入“资金管理”页面，在存款方式上选择“在线支付”
                <div><img src="/styles/images/help/helpimage-02-10.png"></div>
            </li>
            <li>
                首次存款请先点击“银行卡”，打开“银行列表”
                <p>用户可在此列表中选择存款卡所在银行。</p>
                <div><img src="/styles/images/help/helpimage-02-11.png"></div>
            </li>
            <li>
                选择银行后， 输入需要存款的金额即可，点击"提交"
                <div><img src="/styles/images/help/helpimage-02-12.png"></div>
            </li>
            <li>
                随后Vwin将会带您进入您选择的网上银行操作页面
                <div><img src="/styles/images/help/helpimage-02-13.png"></div>
            </li>
            <li>
                当您依照各银行的提示完成存款操作后，请返回Vwin存款页面，并在“订单页面”点击“存款完成”按钮
                <p>(系统将刷新您的账户余额，你可实时看到您存入的金额。当您对在线支付有任何疑问或建议，请联系我们的在线客服。)</p>
                <div><img src="/styles/images/help/helpimage-02-14.png"></div>
            </li>
        </ol>
    </div>
</div>