<h3>奇与偶/上中下</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20 rule">
  <ol>
    <li>奇与偶</li>
    <p class="rulep">在开出20个中奖号码当中，如奇数号码数目比偶数的数目多时，则为奇局，投注"奇"者中奖；如偶数号码数目比奇数的数目多时，则为偶局，投注"偶"者中奖；如奇数和偶数数目相同时(均为10个)，则为和，投注"和"者中奖。
    </p>
    <p class="rulep">例：开奖号码为02、03、07、08、11、16、17、26、29、32、33、35、39、43、50、56、68、72、74、80
    </p>
    <p class="rulep">奇数： 03、07、11、17、29、33、35、39、43 (奇数数目9个)</p>
    <p class="rulep">偶数： 02、08、16、26、32、50、56、68、72、74、80 (偶数数目11个)</p>
    <p class="rulep">其中奇数9个，偶数11个，此局偶数多为偶局。下注"偶"为赢，下注"奇"为输。
    </p>
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>奇</th>
        <th>和</th>
        <th>偶</th>
      </tr>
      <tr>
        <td>赔率</td>
        <td>2.3</td>
        <td>4.3</td>
        <td>2.3</td>
      </tr>
    </table>
    
    <li>上中下</li>
    <p class="rulep">号码1至40为上盘号码，41至80为下盘号码。开出的20个开奖号码中，如上盘号码占多数时，此局为上盘局；下盘号码占多数时为下盘局；上盘号码和下盘号码在此局开出的数目相同时(各10个数字)，此局为和盘。</p>
    <p class="rulep">例：开奖号码为02、03、07、08、11、16、17、26、29、32、33、35、41、43、50、56、68、72、74、80</p>
    
    <p class="rulep">上盘 - 02、03、07、08、11、16、17、26、29、32、33、35 (上盘数目12个)
    </p>
    <p class="rulep">下盘 - 41、43、50、56、68、72、74、80 (下盘数目8个)</p>
    <p class="rulep">例子中12个上盘数值，8个下盘数值，此局为上盘局。下注"上"为赢，下注"下"为输。</p>
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>上</th>
        <th>中</th>
        <th>下</th>
      </tr>
      <tr>
        <td>赔率</td>
        <td>2.3</td>
        <td>4.3</td>
        <td>2.3</td>
      </tr>
    </table>
    
  </ol>
  
  <div class="clear"></div>
</div>