<div class="sub-box">
    <div class="rule rule2 noheight">
        <ol>
            <li>
                进入“资金管理”页面，在存款方式上选择“网银转账”
                <div><img src="/styles/images/help/helpimage-02-15.png"></div>
            </li>
            <li>
                选择网银所在银行
                <div><img src="/styles/images/help/helpimage-02-16.png"></div>
            </li>
            <li>
                选择“付款方式”与“开户银行所在地”，并填写存款金额。点击“提交”按钮
                <div><img src="/styles/images/help/helpimage-02-17.png"></div>
            </li>
            <li>
                记录转账账户信息，前往您所选择银行的网上银行，进行网上转账操作
                <p>转账时，请按照Vwin提示给您的存入金额进行转账，以便我们第一时间核对您的款项。</p>
                <p>请在申请网银转账后的三个小时内完成转账操作，超过时限，请取消订单，重新申请支付。</p>
                <div><img src="/styles/images/help/helpimage-02-18.png"></div>
            </li>
            <li>
                当您按照网上银行的提示完成转账后，请返回Vwin存款页面，点击“存款完成”即可
                <p>(我们的客服会在最短的时间内为您核对存款。当您对网银转账有任何疑问或建议，请联系我们的在线客服。)</p>
                <div><img src="/styles/images/help/helpimage-02-19.png"></div>
            </li>
        </ol>
    </div>
</div>