<h3>水球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">所有全场赌盘包括现场投注将会根据正规时间（四小节）结束时的最终赛果结算。加时赛和点球大战不计入全场赌盘。
        </li>
        <li class="normal">如果一场比赛延期、暂停或中止，并且未在预定开赛时间后的十二个小时内复赛，则所有投注会被视为无效，除了对无条件决定的赌盘所下投注以外。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。</li>
        <li class="normal">“上半场”赌盘指第一和第二节比赛的结果。如果指定的半场未完成，则所有投注将被视为无效。</li>
        <li class="normal">水球现场投注是根据正规时间结束时的比赛结果进行结算的。</li>
        <li class="normal">水球现场投注时，得分不会更新。</li>
    </ol>
    
    <div class="clear"></div>
</div>