<div class="mgbt20 rule">
            <ol>
              <h4>夕阳海滩Sunset Beach</h4>
              <p class="text1">5转轴20线老虎机</p>
              <p class="text2">“夕阳海滩”屏幕上有四台机器，同时玩。所有四台机器的转轴同时旋转，但一个接一个停止。机器1 （左上）先停止，机器2（右上）第二个停止，机器三（左下）第三个停止，机器4（右下）最后停止同样的线数和每线赌注显示于所有四台机器上。</p>
              
              <li>游戏玩法</li>
              <p class="rulep">选择线注的方法是：点击“线注”下面的 + 和 – 来增加或减少线注数额。</p>
              <p class="rulep">Sunset Beach游戏总是使用20个活跃赔付线玩。活跃赔付线为固定数目，玩家不能改变。</p>
              <p class="rulep">每游戏局总赌注 = 线注 X 活跃赔付线 X 机器数目(4)。</p>
              <p class="rulep">点击“旋转”使用当前选择的线注同时旋转所有四台机器的转轴。每台机器上的转轴一个接一个停转，顺序见以上描述。</p>
              <p class="rulep">转轴可以自动旋转。将鼠标放到自动游戏按钮上面显示选项列表。选择自动旋转的次数，或选择直到奖励功能，使旋转到触发了免费游戏为止。点击一个选项开始自动游戏功能。在自动游戏模式下，“自动游戏”按钮变为停止。当转轴转动了玩家选定的次数之后，或在您选择了直到奖励功能，触发了免费游戏之后，或者您点击了“停止”，“自动游戏”模式结束。</p>
              <p class="rulep">点击“快速模式”按钮打开或关闭快速模式，以此打开或关闭一些赢奖动画从而使转轴较快或较慢旋转。</p>
              <p class="rulep">奖金根据赔率表计算。赔付线奖金 = 赔付线赌注 X 赔率表上相应的系数。 Scatter奖金 = 特定机器 X 上总赌注按赔付表对应的翻倍乘数。赔付表可通过“信息”页面。</p>
              <p class="rulep">不同赔付在线同时赢得的奖金在以下情况下，在给定赔付在线只赢得最高的赔付线赢奖组合:累加在一起。</p>
              <p class="rulep">出现赢奖旋转的情况下，“奖金”域会显示所有机器上累积的奖金。随便单击屏幕任何地方都可停止奖金指示器，立即显示总奖金金额。</p>
              <p class="rulep">总奖金也会显示在转轴底部工具条上面。</p>
              <p class="rulep mgbt20">鼠标移动在一台有赢奖的机器上，可以显示该机器上次旋转的总奖金。</p>
              <li>信息页面</li>
              <p class="rulep">单击“信息”可打开描述不同游戏组件的参考屏幕。单击屏幕右下角的箭头按钮，可在不同信息屏幕间浏览。</p>
              <ul>
                <li>“赔率表”屏幕显示所有赢奖组合。在赢奖旋转后，当赢奖符号组合（符号的数目以及赌注乘数）被翻开后是呈高亮和闪光的。</li>
                <li>“多机器”屏幕概述了游戏的大致规则。</li>
                <li>“免费游戏”屏幕解释了触发免费游戏功能的符号组合，并描述了其规则。</li>
                <li>“赔付线”屏幕描述了赔付线，并解释了计算赔付线奖金的方法。</li>
              </ul>
              <p class="rulep mgbt20">点击“返回”退出信息屏幕，返回游戏。</p>
              <li>赌付线</li>
              <p class="rulep">赔付线由转轴上面的线代表。所有20条赔付线都在“赔付线”页面有详细介绍。</p>
              <p class="rulep">所有20条赔付线都处于活跃状态，都可注册赢奖。</p>
               <p class="rulep">赔付线赌注和总赌注有所不同。赔付线赌注是指在单条赔付在线投放的赌注。总赌注显示所有将投放在游戏局中的赌注。赔率表中显示的赔率将乘以赔付线赌注。</p>
              <p class="rulep mgbt20">这些规则不适用于彩派符号。有关彩派符号的更多信息，请见下文。</p>
              <li>关于赔率</li>
              <p class="rulep">赔付列于“赔付”屏幕上的赔付表中。可能赢得的奖金金额计算方法：该赔付线赌注乘以赔率。</p>
              <p class="rulep">如果两个赢奖组合出现在同一条赔付在线时，玩家将按奖金较高的组合获得赔彩。如果多条启动的赔付在线均出现赢奖组合，奖金将会累计。</p>
              <p class="rulep">赢奖组合必须从最左边转轴开始，并且这些符号必须是连续的。</p>
             </ol>
            <div class="clear"></div>
          </div>