<h3>亚洲大小盘</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">亚洲大小盘 (包括上/下半场投注) </p>
<p>如果赛事在90分钟前被中止，所有相关投注作废。结算依据上/下半场比赛结果计算。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。 </p>
<p class="mgbt10">大小盘为1球 <br />
  大于1 <br />
  如果比赛中有两个或更多的进球，投注为赢。如果刚好有一个进球，投注金被退还。如果没有进球，投注为输。 <br />
  小于1 <br />
如果比赛中没有进球，投注为赢。如果刚好有一个进球，投注金被退还。如果有两个或更多的进球，投注为输。 </p>
<p class="mgbt10">大小盘为1/1.5球 <br />
  大于1/1.5 <br />
  如果比赛中有两个或更多的进球，投注为赢。如果刚好有一个进球，则一半投注金将被返还，另一半为输。如果没有进球，投注为输。 <br />
  小于1/1.5 <br />
如果比赛中没有进球，投注为赢。如果刚好有一个进球，则一半投注金为赢，另一半将被返还。如果有两个或更多的进球，投注为输。 </p>
<p class="mgbt10">大小盘为1.5球 <br />
  大于1.5 <br />
  如果比赛中有两个或更多的进球，投注为赢。如果没有进球或是只有一个进球，投注为输。 <br />
  小于1.5 <br />
如果比赛中没有进球或是只有一个进球，投注为赢。如果有两个或更多的进球，投注为输。 </p>
<p class="mgbt10">大小盘为1.5/2球 <br />
  大于1.5/2 <br />
  如果比赛中有三个或更多的进球，投注为赢。如果刚好有两个进球，一半投注按照所选选项赔率进行结算，另一半退还客户。如果少于两个进球，投注为输。 <br />
  小于1.5/2 <br />
如果比赛中没有进球或只有一个进球，投注为赢。如果刚好有两个进球，投注金一半被判输，另一半退还客户。如果有三个或更多的进球，投注为输。</p>
<p class="mgbt10">大小盘为2球 <br />
  大于2 <br />
  如果比赛中有三个或更多的进球，投注为赢。如果刚好有两个进球，投注金将被返还。如果没有进球或只有一个进球，投注为输。 <br />
  小于2 <br />
如果比赛中没有进球或只有一个进球，投注为赢。如果刚好有两个进球，投注金被退还。如果有三个或更多的进球，投注为输。 </p>
<p class="mgbt10">大小盘为2/2.5球 <br />
  大于2/2.5 <br />
  如果比赛中有三个或更多的进球，投注为赢。如果刚好有两个进球，投注金一半被判输，另一半退还客户。如果少于两个进球，投注为输。 <br />
  小于2/2.5 <br />
如果比赛中没有进球或只有一个进球，投注为赢。如果刚好有两个进球，一半投注按照所选选项赔率进行结算，另一半退还客户。如果有三个或更多的进球，投注为输。</p>