<h3>其他运动项目交易规则</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>田径</li>
        <p class="rulep">总冠军（赢得金牌）赌盘指每项田径赛事的获胜者。</p>
        <p class="rulep">胜负盘指一项赛事（或指定分组赛）中排名第一的选手。如果只有一名运动员进入一项赛事的决赛，则对该名选手的投注即赢得彩金。如果两名选手都未能进入决赛，则在资格赛时分组成绩较好的选手即是赢家。</p>
        <p class="rulep">所有投注依官方结果结算，即颁奖仪式的排名。之后如有任何取消资格或更改赛果的情况，将不适用于投注之目的。</p>
        <p class="rulep">如果一场比赛延期，暂停或中止，并且未能原定开始时间后的十二个小时内开始，则所有投注将被视为无效。</p>
        <p class="rulep mgbt20">如果一名运动员未参与一项赛事，则所有投注将为无效。如果一名运动员参与比赛的程度足以形成官方赛果或分组的记录（包括DSQ（取消资格）但不包括DNS（未参赛）），则该名运动员会被视为已经参赛。</p>
        
        <li>拳击</li>
        <p class="rulep">如果比赛延期，只要在原定开赛日期后的十四天内举行，对延期比赛的投注仍会被视为有效。</p>
        <p class="rulep">如果比赛结果为平局，对于胜负盘（不提供平局投注的选项）的所有投注将无效。如果提供了平局赔率作为第三种投注选项，并且比赛以平局结束，则对平局的投注将赢得彩金，而对两名拳击手的投注则输。</p>
        <p class="rulep">当第一回合的钟敲响时，比赛即被视为开始。如果一名或两名拳击手未能参与比赛，则所有投注将无效。如果一名拳击手未能在标志回合开始的钟响时做出回应，或者在下一回合开始前被取消资格，则其对手就被视为赢得了上一回合。</p>
        <p class="rulep">所有投注将依比赛后在拳击场中公布的官方决定来结算。随后对赛果的更改将不适用于投注目的。</p>
        <p class="rulep">击倒（KO）胜利也包括技术击倒（TKO）或因对手丧失资格（DSQ）而胜出。 点数判决包括技术判决（TD），平局包括技术平局。</p>
        <p class="rulep">大/小盘是对比赛中的回合数投注，例如小于9.5表示比赛在第9回合的一分三十秒前结束；大于9.5表示比赛在第9回合的一分三十秒后结束（包括点数判决）。</p>
        <p class="rulep">UFC（无限制格斗赛）</p>
        <ul>
            <li>UFC规则也适用于其它混合武术（MMA）所推广的比赛。</li>
            <li>如果比赛延期，只要在原定开赛日期后的十四天内举行，对延期比赛的投注仍会被视为有效。</li>
            <li class="mgbt20">如果一场比赛以平局结束，则所有投注将无效。</li>
        </ul>
        
        <li>飞镖</li>
        <p class="rulep">胜负线及赌盘指对比赛的赢家投注。让分盘和大/小盘是根据盘数确定的（除非另有说明）。</p>
        <p class="rulep">如果一场比赛延期，并且未能原定开始时间后的十二个小时内开始，则所有投注将被视为无效。</p>
        <p class="rulep">如果选手没有参与一场锦标赛或比赛，则对该名选手的所有投注将为无效。</p>
        <p class="rulep">如果一场比赛开始但未完成，则所有投注将被视为无效。</p>
        <p class="rulep">飞镖现场投注按比赛结果进行结算。飞镖现场投注时，得分不会更新。</p>
        <p class="rulep mgbt20">“180分”盘指在一场比赛中获得最多“180分”的次数。</p>
        
        <li>游泳</li>
        <p class="rulep">总冠军（赢得金牌）赌盘指每项游泳赛事的获胜者。</p>
        <p class="rulep">胜负盘指一项赛事（或指定分组赛）中排名第一的选手。如果只有一名游泳运动员进入一项赛事的决赛，则对该名选手的投注即赢得彩金。如果两名游泳运动员都未能进入决赛，则在资格赛时分组成绩较好的选手即是赢家。
        </p>
        <p class="rulep">所有投注依官方结果结算，即颁奖仪式的排名。之后如有任何取消资格或更改赛果的情况，将不适用于投注之目的。
        </p>
        <p class="rulep">如果一场比赛延期，暂停或中止，并且未能原定开始时间后的十二个小时内开始，则所有投注将被视为无效。
        </p>
        <p class="rulep mgbt20">如果一名游泳运动员未参与一项赛事，则所有投注将为无效。</p>
        
        <li>帆船</li>
        <p class="rulep">美洲杯（包括路易威登杯）</p>
        <ul>
            <li>所有博彩结果以每场比赛后在官方网站上公布的官方比赛结果为准。且博彩不考虑结果公布之后的任何取消资格或结果修正情况。</li>
            <li class="mgbt20">若比赛推迟或取消，但在48小时内重新开始，则所有下注仍视为有效。</li>
        </ul>
        
        <li>政治投注</li>
        <p class="rulep">美国总统选举</p>
        <ul>
            <li class="mgbt20">哪个政党将会赢得2012年的美国总统大选？所提供的候选人姓名仅供参考。如果共和党和民主党均未赢得此次大选，则所有投注都将无效，并会予以退款。</li>
        </ul>
        
        <li>自行车</li>
        <p class="rulep">所有博彩结果以每场比赛后在官方网站上公布的官方比赛结果为准。且博彩不考虑结果公布之后的任何取消资格或结果修正情况。
        </p>
        <p class="rulep">若比赛推迟或取消，但在48小时内重新开始，则所有下注仍视为有效。</p>
        <p class="rulep mgbt20">在一对一的比赛中，参赛双方开始比赛，则下注有效。完成结果较好的参赛者为赢。若双方均未能完成比赛，则下注无效并退还赌注。</p>
        
        <li>藤球</li>
        <p class="rulep">胜负盘指比赛或指定分组的赢家。让分盘依分组或得分（请参阅赌盘名称）决定；大/小盘和单/双盘则依得分（除非另有说明）而定。
        </p>
        <p class="rulep">如果一支球队在一场比赛中退出或被取消资格，则所有投注将为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">如果一场比赛延期或暂停，只要比赛在十二个小时内复赛，则所有投注仍会被视为有效。
        </p>
        <p class="rulep">一局赢家（第二、第三局赢家等）是指指定局的结果。如果指定的局未完成，则所有投注将被视为无效。
        </p>
        <p class="rulep">藤球现场投注时，得分不会更新。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>