<h3>室内足球</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">重要提醒</p>
<p class="mgbt10">※ 所有盘口（除&rdquo;半场&rdquo;，&rdquo;上半场&rdquo;盘口，&rdquo;加时&rdquo;及&rdquo;罚球&rdquo;）仅计算常规赛时。 </p>
<p class="mgbt10">※ 如果比赛中止，并在开球后的48小时内复赛，所有投注以最终结果结算。 否则所有未结投注视为无效。 </p>
<p class="mgbt10">结算及取消规则</p>
<p class="mgbt10">※ 如果盘口仍开放，发生得分，红牌，黄牌罚球，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果盘口有遗漏或错误红牌，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果在错误的比赛时间（超出2分钟）开出赔率，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果显示错误比分，这一时间所有盘口都将取消。 </p>
<p class="mgbt10">※ 如果比赛中止，并在开球后的48小时内复赛，所有投注视为无效。 </p>
<p class="mgbt10">※ 如队名或目录显示错误，我们有权利宣布投注无效。 </p>