<div class="sub-box">
  <!--内容分类文字-->
  <p class="mgbt10">优胜冠军 </p>
  <p>优胜冠军是指对一项赛事、比赛或锦标赛中的获胜者投注。例如：足球联赛或一个F1赛季冠军。赌盘标题中将标明详细内容。 <br />
    如果参赛者/球员没有出场参加赛事、比赛或锦标赛，则所有投注于该参赛者/球员的&ldquo;优胜冠军/冠军&rdquo;投注将作废，除非在特定的投注规则中另有说明。 <br />
  术语&ldquo;任何其他选手&rdquo;（任何其他团队等）指所有未在赌盘中列名的参赛者。 </p>
  <p class="mgbt10">1X2</p>
  <p>1X2(3way)，代表投注哪只球队胜出。 </p>
  <ul>
    <li>1：如果主队胜出，该选项投注为赢 </li>
    <li>X：如果两队和局，该选项投注为赢 </li>
    <li>2：如果客队胜出，该选项投注为赢 </li>
  </ul>
  <p>进行投注结算时，如果比赛是在中立场举行，列在前面的球队将被视为主队。 <br />
  </p>
  <p class="mgbt10">独赢盘 </p>
  <p>独赢盘是指投注哪只球队胜出(无和局)。 <br />
  </p>
  <p class="mgbt10">让分盘 </p>
  <p>让球盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。 在《特定赛事投注规则》中列出了其余的让球盘规则。 <br />
  </p>
  <p class="mgbt10">欧洲让分盘(三项)</p>
  <p>将依让分调整后的实际比赛得分所定的赔率进行投注结算。 <br />
  </p>
  <p class="mgbt10">大小盘 </p>
  <p>大/小盘是指由该赛事最终总分（入球数、得分情况等）来确定的投注。 如果总分超过大/小盘预先指定的分数线，则投注&ldquo;大盘&rdquo;者为赢；如果总分低于大/小盘预先指定的分数线，则投注&ldquo;小盘&rdquo;者为赢。 <br />
  </p>
  <p class="mgbt10">总进球数 单/双、总进球数 单/双-上半场 </p>
  <p>总进球数单/双，是指由一项赛事最终赛果两队加总的得分（入球数、得分情况等）来确定的投注。 <br />
    上半场单双盘是指投注结果由上半场赛事的总分来决定。 <br />
  如果赛事在上半场结束之前中止，全部上半场的投注将视为无效。相反的，如果赛事在上半场结束之后中止，则全部上半场的投注将视为有效。</p>
  <div class="clear"></div>
</div>
<div class="clear"></div>
</div>