<div class="mgbt20 rule">
  <ol>
    <li>特定15分钟分段投注（1X2）</li>
    <p class="rulep">特定15分钟分段投注（1X2）是指投注在每场比赛中的每15分钟（中场休息）结束时，预测三种可能的胜利结果中的任何一种。1表示首先被提及的队伍（通常是主队）；X代表比赛结果平手；2代表第二个被提及的队伍（通常是客队）。将以每15分钟比赛结果后决定胜负。</p>
    <p class="rulep">例：</p>
    <ul>
      <li>第15分钟1X2</li>
      <p class="pointp">预测从00:00 – 15:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      <li>第30分钟1X2</li>
      <p class="pointp">预测从15:01 – 30:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      <li>第45分钟1X2</li>
      <p class="pointp">预测从30:01 – 45:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      <li>第60分钟1X2</li>
      <p class="pointp">预测从45:01 – 60:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      <li>第75分钟1X2</li>
      <p class="pointp">预测从60:01 – 75:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      <li>第90分钟1X2</li>
      <p class="pointp">预测从75:01 – 90:00三种可能的胜利结果中的任何一种，必须在第15分钟结束时或在这一刻之前投注。</p>
      
    </ul>
    
    <p class="rulep">对于特定的15分钟1X2，根据现场转播显示的时间，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
    <p class="rulep">如果暂停或放弃比赛，那么在未结束的这一特定15分钟内的投注将被视为无效。如果指定的特定15分钟1X2结束，那么投注将视为有效。</p>
    <p class="rulep">对于在任意特定15分钟1X2盘的最后两（2）分钟内的实时投注，除了以下提到的，任何其他行动都将被视为安全玩法，因此所有未决投注将是可接受的：进球；点球和红牌。</p>
    <p class="rulep mgbt20">对于30:01 – 45:00和75:01 – 90:00这两个时段，根据现场转播显示的时间，但不包括加时和伤停补时，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
    
    <li>特定10分钟让球分段投注 (HDP)</li>
    <p class="rulep">特定10分钟分段投注(HDP) 的意思是，在每场比赛中的每10分钟[中场休息] 结束时，将假定的让分数预先加给其中一方参赛者或队伍并据此进行投注。将让分数加上每10分钟比赛结果后，得分较高的参赛者或队伍即为赢家。</p>
    <p class="rulep">供于参考:</p>
    <ul>
      <li>第10分钟HDP</li>
      <p class="pointp">预测从00:00至10:00得分较高的参赛者或队伍，必须在第10分钟结束时或在这一刻之前投注。</p>
      <li>第20分钟HDP</li>
      <p class="pointp">预测从10:01至20:00得分较高的参赛者或队伍，必须在第20分钟结束时或在这一刻之前投注。</p>
      <li>第30分钟HDP</li>
      <p class="pointp">预测从20:01至30:00得分较高的参赛者或队伍，必须在第30分钟结束时或在这一刻之前投注。</p>
      <li>第40分钟HDP</li>
      <p class="pointp">预测从30:01至40:00得分较高的参赛者或队伍，必须在第40分钟结束时或在这一刻之前投注。</p>
      <li>第60分钟HDP</li>
      <p class="pointp">预测从50:01至60:00得分较高的参赛者或队伍，必须在第60分钟结束时或在这一刻之前投注。</p>
      <li>第70分钟HDP</li>
      <p class="pointp">预测从60:01至70:00得分较高的参赛者或队伍，必须在第70分钟结束时或在这一刻之前投注。</p>
      <li>第80分钟HDP</li>
      <p class="pointp">预测从70:01至80:00得分较高的参赛者或队伍，必须在第80分钟结束时或在这一刻之前投注。</p>
      <li>第90分钟HDP</li>
      <p class="pointp">预测从80:01至90:00得分较高的参赛者或队伍，必须在第90分钟结束时或在这一刻之前投注。</p>
    </ul>
    <p class="rulep">对于特定的10分钟HDP，根据现场转播显示的时间，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
    <p class="rulep">如果暂停或放弃比赛，那么在未结束的这一特定10分钟内的投注将被视为无效。如果指定的特定10分钟HDP结束，那么投注有效。</p>
    <p class="rulep">对于在任意特定10分钟让球盘的最后两（2）分钟内的实时投注，除了以下提到的，任何其他行动都将被视为安全玩法，因此所有未决投注将是可接受的：进球；点球和红牌。</p>
    <p class="rulep mgbt20">对于80:01 – 90:00这个时段，根据现场转播显示的时间，但不包括加时和伤停补时，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
    
  </ol>
  
  <div class="clear"></div>
</div>