<div class="mgbt20 rule">
  <ol>
    <h4>海洋公主</h4>
    <p class="text1">3 轴 5 行多旋转吃角子老虎机</p>
    <li>游戏玩法</li>
    <p class="rulep">单击屏幕左边的 + 和 – 按钮选择您要在每局下注的硬币数。</p>
    <p class="rulep">单击“赌一个”或者“最大赌注”按钮选择您想下注的硬币数。每次单击“赌一个”按钮在赌注上增加一个硬币的赌注。按“最大赌注”可将赌注增加至可能的最大值（即五个 硬币），然后自动旋转转轴。请记住，您的总赌注为一行赌注的五倍。您可以在机器上转轴的左边查看账户余额、赌注金额和赢取金额。</p>
    <p class="rulep">单击“旋转”按钮（如果您没有按“赌最大”的话）旋转转轴。</p>
    <p class="rulep">在转轴停止之后，单击转轴下方的“保留”按钮或者转轴本身，选择您要保留的转轴。再次单击旋转按钮可旋转您没有保留的转轴。</p>
    <p class="rulep mgbt20">如果在转轴停止之后任何一行显示出赢奖组合，您将根据赢率表赢得奖金。如果您愿意，可以单击“赔率表”按钮查看赔率表情况。单击“下一页 / 返回”按钮可翻页，点击“关闭”按钮可关闭赔率表。您也可以再次单击“赔率表”按钮关闭赔率表。</p>
    <li>关于赔率表</li>
    <p class="rulep">赌桌上显示了可获胜的每种符号组合的奖金金额。支付表中显示的彩金将乘以支付线赌注。如果您在多条在线都有奖励组合，它们的累加值便是最终的奖励金额。</p>
    <p class="rulep">上面写着“百搭” (Wild ) 的金皇冠符号是一个百搭符号，表示它可以替代任何其它符号，就像扑克游戏中的大小鬼一样。</p>
    <p class="rulep">注意：只有在玩最大赌注时，三个百搭符号才会赔 1000 倍的赔付线赌注。否则他们只赔 250 倍的赔付线赌注。</p>
  </ol>
  <div class="clear"></div>
</div>