<h3>各常用浏览器清理浏览数据方法</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">IE7、8、9、360安全浏览器</h4>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 90px;">
      <h4 class="cols1 hcnum">1</h4>
      <div class="cols11 last hctext">开始---在IE图标上右键----internet选项，弹出属性对话框，点击“删除”按键</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926195544.png" width="376" height="296" /></div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926195615.png" width="332" height="248" /></div>
    <div class="cols5 last" style="margin-top: 70px;">
      <div class="cols1 hcnum">2</div>
      <div class="cols9 hctextrt">选择要删除的项目，点击“删除”即可</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">Google Chrome浏览器</h4>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 100px;">
      <h4 class="cols1 hcnum">1</h4>
      <div class="cols11 last hctext">点击右侧“选项”图标--------设定</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926200323.png" width="390" height="296" /></div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926200607.png" width="453" height="178" /></div>
    <div class="cols5 last" style="margin-top: 80px;">
      <div class="cols1 hcnum">2</div>
      <div class="cols9 hctextrt">在弹出的设定页面，点击“清除浏览数据”按钮</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 100px;">
      <h4 class="cols1 hcnum">3</h4>
      <div class="cols11 last hctext">在需要删除的内容前面打钩，最后点击“清除浏览数据”即可</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926200901.png" width="447" height="323" /></div>
    <div class="clear"></div>
  </div>
  
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">Safari（苹果）浏览器</h4>
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926200934.png" width="332" height="278" /></div>
    <div class="cols5 last" style="margin-top: 100px;">
      <div class="cols1 hcnum">1</div>
      <div class="cols9 hctextrt">菜单栏 编辑-------清空缓存</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 50px;">
      <h4 class="cols1 hcnum">2</h4>
      <div class="cols11 last hctext">弹出确认对话框，点击“清空”即可</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926201025.png" width="388" height="154" /></div>
    <div class="clear"></div>
  </div>
  
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">Firefox（火狐）浏览器</h4>
  
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926201114.png" width="332" height="264" /></div>
    <div class="cols5 last" style="margin-top: 80px;">
      <div class="cols1 hcnum">1</div>
      <div class="cols9 hctextrt">菜单栏 工具-------选项</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 120px;">
      <h4 class="cols1 hcnum">2</h4>
      <div class="cols11 last hctext">弹出界面，单击“隐私”。然后点击“清空近期历史记录”可以将历史记录清除。或者点击“删除个人Cookies”即可将相关的缓存清除掉</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926201151.png" width="444" height="426" /></div>
    <div class="clear"></div>
  </div>
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">360极速浏览器（360 chrome）</h4>
  
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20141002203740.png" width="226" height="264" /></div>
    <div class="cols5 last" style="margin-top: 80px;">
      <div class="cols1 hcnum">1</div>
      <div class="cols9 hctextrt">点击右侧“扳手”图标-------选项</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 130px;">
      <h4 class="cols1 hcnum">2</h4>
      <div class="cols11 last hctext">依次点击高级选项-------清除浏览数据，选择要清除的内容和时间，单击“清除浏览数据”即可</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926201320.png" width="424" height="416" /></div>
    <div class="clear"></div>
  </div>
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">傲游浏览器（Maxthon 4）</h4>
  
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926201546.png" width="226" height="259" /></div>
    <div class="cols5 last" style="margin-top: 70px;">
      <div class="cols1 hcnum">1</div>
      <div class="cols9 hctextrt">点击右侧“选项”图标------清除浏览历史</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 80px;">
      <h4 class="cols1 hcnum">2</h4>
      <div class="cols11 last hctext">弹出对话框 选择你要清除的内容，单击“立即清除”即可</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20141002203847.png" width="327" height="291" /></div>
    <div class="clear"></div>
  </div>
</div>
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">Opera浏览器</h4>
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926201401.png" width="319" height="319" /></div>
    <div class="cols5 last" style="margin-top: 120px;">
      <div class="cols1 hcnum">1</div>
      <div class="cols9 hctextrt">点击左上Opera图标-------设置</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fm">
    <div class="cols4" style="margin-top: 100px;">
      <h4 class="cols1 hcnum">2</h4>
      <div class="cols11 last hctext">弹出对话框，点击“私隐和安全”------“清除浏览数据”</div>
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140926201510.png" width="400" height="257" /></div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fmrt">
    <div class="cols7 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140926201701.png" width="424" height="280" /></div>
    <div class="cols5 last" style="margin-top: 100px;">
      <div class="cols1 hcnum">3</div>
      <div class="cols9 hctextrt">选择你要删除的内容，同时选择时间，单击“清除浏览数据”即可</div>
      <div class="cols2 last"></div>
    </div>
    <div class="clear"></div>
  </div>
  
</div>
<div class="clear"></div>