<h3>美式足球</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">重要提醒 </p>
<p class="mgbt10">※ 如遇任何延迟（降雨，天色过暗）所有未结算盘口以及交易在比赛恢复时继续有效。</p>
<p class="mgbt10">※ 除非明确说明，所有盘口不考虑加时。</p>
<p class="mgbt10">结算及取消规则 </p>
<p class="mgbt10">※ 如果开放盘口有错误比分，对赔率有明显影响我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如在错误的比赛时间（超过89秒）开出赔率，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果显示结果错误，我们有权宣布这一时间的投注无效。 </p>
<p class="mgbt10">※ 如果比赛队显示错误，我们有权宣布注单无效。 </p>
<p class="mgbt10">※ 除非在NFL每周赛程（当地球场时间周二，周三）继续否则因禁止或延迟，所有盘口将视为无效投注。 </p>
<p class="mgbt10">特有盘口介绍</p>
<p class="mgbt10">半场 / 全场 <br />
分别预测半场、全场比赛时间结束时的赛果。可下注的选项有： </p>
<ul>
  <li>主队/主队：半场结束时主队获胜且全场结束时主队获胜 </li>
  <li>主队/平局：半场结束时主队获胜且全场结束时两队打和 </li>
  <li>主队/客队：半场结束时主队获胜且全场结束时客队获胜 </li>
  <li>平局/主队：半场结束时两队平局且全场结束时主队获胜 </li>
  <li>平局/平局：半场结束时两队平局且全场结束时两队打和 </li>
  <li>平局/客队：半场结束时两队平局且全场结束时客队获胜 </li>
  <li>客队/主队：半场结束时客队获胜且全场结束时主队获胜 </li>
  <li>客队/平局：半场结束时客队获胜且全场结束时两队打和 </li>
  <li>客队/客队：半场结束时客队获胜且全场结束时客队获胜 </li>
</ul>
<p class="mgbt10">总得分 单/双 (包括上半场投注) <br />
总得分单/双是指由比赛最终赛果两队加总的得分来确定的投注。结算依据仅限常规比赛时间。半场单双盘是指投注结果由半场赛事的总分来决定。</p>
<p class="mgbt10">总分数单/双 (含延时) <br />
总得分单/双是指由比赛最终赛果两队加总的得分来确定的投注。此项投注包含延长赛。</p>
<p class="mgbt10">让分盘 - 上半场 <br />
让分盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。结算依据是以让分调整后的上半场赛果来计算。</p>
<p class="mgbt10">让分盘 (包括下半场投注，包含延时)<br />
让分盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。结算依据是以让分调整后的最终赛果来计算。此项投注包含延长赛。</p>
<p class="mgbt10">总分大小盘 - 上半场 <br />
以比赛最终总分来确定的投注。如果总分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果总分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据上半场赛果来计算。</p>
<p class="mgbt10">总分大小盘 (包括下半场投注，含延时)<br />
以比赛最终总分来确定的投注。如果总分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果总分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据最终比赛结果计算。</p>
<p class="mgbt10">胜分差 <br />
以双方的全场比赛时间结束时的最终得分，胜的一队胜出另外一队有多少分做为下注。可下注的选项有： </p>
<ul>
  <li>主队 &gt; 14 ：代表下注主队胜出，且胜出分数大于14分(不含14分)</li>
  <li>主队8-14 ：代表下注主队胜出，且胜出分数介于8-14分 </li>
  <li>主队1-7 ：代表下注主队胜出，且胜出分数介于1-7分 </li>
  <li>平局：代表两队打和 </li>
  <li>客队1-7 ：代表下注客队胜出，且胜出分数介于1-7分 </li>
  <li>客队8-14 ：代表下注客队胜出，且胜出分数介于8-14分 </li>
  <li>客队 &gt; 14 ：代表下注客队胜出，且胜出分数大于14分(不含14分)</li>
</ul>
<p class="mgbt10">最高得分单节 <br />
预测在比赛哪一节中得到最高分数。可下注的选项有：第1、2、3、4节及平分(同时有两节或以上的得分为最高分)。</p>
<p class="mgbt10">球队总得分数 <br />
预测主队或客队比赛的最终得分。如果队伍得分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果队伍得分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据最终比赛结果计算。</p>
<p class="mgbt10">滚球：净胜数 (含延长加时)<br />
  以主队全场比赛结束时的最终得分，减去客队得分做为下注。 <br />
可下注选项有：　 </p>
<ul>
  <li>主队 超过13 ：代表下注主队胜出，且胜出分数大于13分 </li>
  <li>主队7到13 ：代表下注主队胜出，且胜出7-13分 </li>
  <li>主队1到6 ：代表下注主队胜出，且胜出1-6分 </li>
  <li>无分差 ：代表下注两队平手 </li>
  <li>主队-1到-6 ：代表下注主队输球，且输的分数为1-6分 </li>
  <li>主队-7到-13 ：代表下注主队输球，且输的分数为7-13分 </li>
  <li>主队 超过-13 ：代表下注主队输球，且输的分数为大于13分 </li>
</ul>
<p class="mgbt10">滚球：率先到达X分队伍 <br />
  预测本场比赛哪支球队得分率先到达X分。例如：目前比分20-19，主队即先到达20分。 <br />
  X为：20,30,40…等 <br />
如比赛结束时，无任何球队达到X分，盘口将视为取消。</p>
<p class="mgbt10">滚球：下一得分队伍 (含延长) <br />
表示投注由当下开始计算，哪支队伍得到下一个分。可下注的选项有：主队、客队、无得分。此项投注包含延长加时阶段。</p>
<p class="mgbt10">滚球：下一得分队伍 - 上半场 <br />
表示投注由当下开始计算，哪支队伍得到下一个分。可下注的选项有：主队、客队、无得分。此项投注仅限上半场。<strong> </strong></p>
<p class="mgbt10">滚球：下一得分方式 (含延长)<br />
表示投注由当下开始计算，下一个得分的方式。可下注的选项有：达阵、射门得分、安全罚分或无进球。</p>