<div class="mgbt20 rule">
    <ol start=8>
        <li>梦幻联赛</li>
        <p class="rulep">梦幻比赛是将不同赛事中的队伍配对比赛。</p>
        <p class="rulep mgbt20">所有场地完全仅供参考。</p>
        
        <li>任意球</li>
        <p class="rulep">判罚后未开出的任意球不计入内。</p>
        <p class="rulep">任意球指直接任意球和间接任意球。 （除点球和球门球以外）</p>
        <p class="rulep">任意球数</p>
        <ul>
            <li>让分和上半场让分</li>
            <p class="pointp">让分指投注哪支队伍在一场比赛中任意球数最多，包括任何让分。</p>
            <p class="pointp">上半场让分是指投注上半场比赛中任意球数最多的队伍，包含任何让分数。
            </p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让分的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让分的投注将视为有效。</p>
            <li>大小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中两支队伍总共开出的任意球数。</p>
            <p class="pointp">上半场大小盘是指投注上半场比赛中双方所开出任意球的总数。</p>
            <p class="pointp">如果总任意球数大于“大小盘”预先指定的总任意球数，则投注“大盘”的为赢家；如果总进球数少于“大小盘”预先指定的总任意球数，则投注“小盘”的为赢家。
            </p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        </ul>
        
        <p class="rulep">第一个任意球和下半场第一个任意球</p>
        <ul>
            <li>第一个任意球表示投注一场比赛中哪支队伍会踢出第一个任意球。</li>
            <li>下半场第一个任意球是指投注下半场比赛中获得第一个任意球的队伍。</li>
            <li>如果在开出第一个任意球后赛事中止，所有投注仍有效。如果在开出第一个任意球前赛事中止，所有投注均作废。</li>
        </ul>
        
        <p class="rulep">最后一个任意球</p>
        <ul>
            <li>最后一个任意球表示投注一场比赛中哪支队伍会踢出最后一个任意球。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">下一个任意球</p>
        <ul>
            <li>下一个任意球是指投注预测下一个获得任意球的队伍。</li>
            <li class="mgbt20">如果投注的任意球已经开出，注单将视为有效。</li>
        </ul>
        
        
        <li>球门球</li>
        <p class="rulep">如果足球接触到攻方球员后，完全越过底线，则守方球队将获得一个球门球。
        </p>
        <p class="rulep">守门员补救后的踢球不算球门球。</p>
        <p class="rulep">球门球数</p>
        <ul>
            <li>让分和上半场让分</li>
            <p class="pointp">让分指投注哪支队伍在一场比赛中球门球数最多，包括任何让分。</p>
            <p class="pointp">上半场让分是指投注上半场比赛中龙门球数最多的队伍，包含任何让分数。
            </p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让分的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让分的投注将视为有效。</p>
            <li>大小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中两支队伍总共开出的球门球数。</p>
            <p class="pointp">上半场大小盘是指投注上半场比赛中双方所开出龙门球的总数。</p>
            <p class="pointp">如果总龙门球数大于“大小盘”预先指定的总龙门球数，则投注“大盘”的为赢家；如果总龙门球数少于“大小盘”预先指定的总龙门球数，则投注“小盘”的为赢家。
            </p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        </ul>
        
        <p class="rulep">第一个龙门球和下半场第一个龙门球</p>
        <ul>
            <li>第一个球门球表示投注一场比赛中哪支队伍会踢出第一个球门球。</li>
            <li>下半场第一个龙门球是指投注下半场比赛中获得第一个龙门球的队伍。</li>
            <li>如果在开出第一个龙门球后赛事中止，所有投注仍有效。如果在开出第一个龙门球前赛事中止，所有投注均作废。</li>
        </ul>
        
        <p class="rulep">最后一个球门球</p>
        <ul>
            <li>最后一个球门球表示投注一场比赛中哪支队伍会踢出最后一个球门球。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">下一个龙门球</p>
        <ul>
            <li>下一个龙门球是指投注预测下一个获得龙门球的队伍。</li>
            <li class="mgbt20">如果投注的龙门球已经开出，注单将视为有效。</li>
        </ul>
        
        <li>界外球</li>
        <p class="rulep">如果足球接触到对方球员后，完全越过边线，则守方球队将获得一个球门球。
        </p>
        <p class="rulep">界外球数</p>
        <ul>
            <li>让分和上半场让分</li>
            <p class="pointp">让球指投注哪支队伍在一场比赛中界外球数最多，包括任何让分。</p>
            <p class="pointp">上半场让分是指投注上半场比赛中界外球数最多的队伍，包含任何让分数。
            </p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让分的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让分的投注将视为有效。</p>
            
            <li>大小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中两支队伍总共掷出的界外球数。</p>
            <p class="pointp">上半场大小盘是指投注上半场比赛中双方所开出界外球的总数。</p>
            <p class="pointp">如果总界外球数大于“大小盘”预先指定的总界外球数，则投注“大盘”的为赢家；如果总界外球数少于“大小盘”预先指定的总界外球数，则投注“小盘”的为赢家。
            </p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        </ul>
        
        <p class="rulep">第一个界外球和下半场第一个界外球</p>
        <ul>
            <li>第一个界外球表示投注一场比赛中哪支队伍会掷出第一个界外球。</li>
            <li>下半场第一个界外球是指投注下半场比赛中获得第一个界外球的队伍。</li>
            <li>如果在开出第一个界外球后赛事中止，所有投注仍有效。如果在开出第一个界外球前赛事中止，所有投注均作废。</li>
        </ul>
        
        <p class="rulep">最后一个界外球</p>
        <ul>
            <li>最后一个界外球表示投注一场比赛中哪支队伍会掷出最后一个界外球。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">下一个界外球</p>
        <ul>
            <li>下一个界外球是指投注预测下一个获得界外球的队伍。</li>
            <li class="mgbt20">如果投注的界外球已经抛出，注单将视为有效。</li>
        </ul>
        
        <li>受伤补时</li>
        <p class="rulep">伤停补时是指为了弥补比赛时球员受伤所耗时间而额外增加的比赛时间。伤停补时可在下半场比赛末时给予安排，持续时长如下所述：</p>
        <ul>
            <li>无补时</li>
            <li>1分钟</li>
            <li>2分钟</li>
            <li>3分钟</li>
            <li>4分钟及以上</li>
        </ul>
        
        <p class="rulep">在上半场末时给予的受伤补时</p>
        <ul>
            <li>所有投注以完整的45分钟比赛为准，不包括加时。投注以由第四裁判员在完整45分钟比赛以后或上半场末时所判给的受伤补时为准进行结算。</li>
            <li>如果一场比赛在上半场任何时间中止，对上半场末受伤补时的所有投注都将被视为无效，并且下注金额将被退还到会员的账户中。</li>
        </ul>
        
        <p class="rulep">下半场判给的受伤补时</p>
        <ul>
            <li>所有投注以完整的90分钟比赛为准，不包括加时。投注以由第四裁判员在完整90分钟比赛后或下半场末时所判给的受伤补时为准进行结算。</li>
            <li>如果一场比赛在任何时间中止，对下半场末受伤补时的所有投注都将被视为无效，并且下注金额将被退还到会员的账户中。</li>
        </ul>
        
        <p class="rulep mgbt20">本公司将根据由负责组织此次比赛的足球主管机构提供的官方结果结算投注。</p>
        
        <li>双重机会和上半场双重机会</li>
        <p class="rulep">下列选项可供选择：</p>
        <ul>
            <li>1或X – 如果赛果是主队获胜或平局，则投注于本选项者为赢家。</li>
            <li>X或2 – 如果赛果是平局或客队获胜，则投注于本选项者为赢家。</li>
            <li>1或2 – 如果赛果是主队获胜或客队获胜，则投注于本选项者为赢家。</li>
            <li class="mgbt20">为便于投注，如果一场比赛是在一个中立场地举行，排名在前的球队将被视为是主队。</li>
        </ul>
        
        <li>平局退款</li>
        <p class="rulep">预测一场比赛中主队还是客队赢。如果常规比赛时间后或预定时间末时，最终结果为平局，则所有投注被会被退款。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>