<div class="sub-box">
    <div class="rule rule2 noheight">
        <ol>
            <li>
                进入“资金管理”页面，在存款方式上选择“银行存款”
                <div><img src="/styles/images/help/helpimage-02-20.png"></div>
            </li>
            <li>
                填写“汇款银行”，“银行所在地”以及“汇款金额”。并点击“提交”按钮
                <div><img src="/styles/images/help/helpimage-02-21.png"></div>
            </li>
            <li>
                记录Vwin给您的存款银行账户，前往银行柜台或ATM机，进行存款
                <p>转账时，请按照Vwin提示给您的存入金额进行存款，以便我们第一时间核对您的款项。</p>
                <p>请在申请银行存款后的三个小时内完成转账操作，超过时限，请取消订单，重新申请支付。</p>
                <div><img src="/styles/images/help/helpimage-02-22.png"></div>
            </li>
            <li>
                完成存款，请返回Vwin存款页面，点击“存款完成”按钮
                <p>(我们的客服会尽快为您审核存款资金并为您打入Vwin账户。当您对银行存款有任何疑问或建议，请联系我们的在线客服。)</p>
                <div><img src="/styles/images/help/helpimage-02-23.png"></div>
            </li>
        </ol>
    </div>
</div>