<h3>壁球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">胜负盘指比赛或指定局的赢家。让分盘依局或得分（请参阅赌盘名称）
            决定；大/小盘和单/双盘则依得分（除非另有说明）而定。
        </li>
        <li class="normal">如果一名选手没有参与一场锦标赛或比赛，则对该名选手的所有投注将为无效。</li>
        <li class="normal">如果一名选手（或双人搭档）在一场比赛中退出或被取消资格，则所有投注将为无效，除了对无条件决定的赌盘所下投注以外。</li>
        <li class="normal">如果一场比赛延期或暂停，只要比赛在十二个小时内复赛，则所有投注仍会被视为有效。</li>
        <li class="normal">第一局赢家（第二、第三局赢家等）是指指定局的结果。如果指定的局赛未完成，则所有投注将被视为无效。</li>
        <li class="normal">壁球现场投注是依据比赛（或指定局）结果结算的。壁球现场投注时，得分不会更新。</li>
    </ol>
    
    <div class="clear"></div>
</div>