<div class="mgbt20 rule">
  <ol>
    <li>3项让分</li>
    <p class="rulep mgbt20">将依让分调整后的实际比赛得分所定的赔率进行投注结算。</p>
    
    <li>特定15分钟让分盘（HDP）</li>
    <p class="rulep">特定15分钟让分盘表示投注预测参赛者或队伍什么时候会获得假定的预先让分。获胜者为一场比赛内每15分钟（间隔时间）末时的赛果加上假定的让分后成绩较高的参赛者或队伍。</p>
    <p class="rulep">例：</p>
    <ul>
      <li>15分钟HDP</li>
      <p class="pointp">00:00 – 15:00 HDP：胜方为.00:00到15:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此15分钟之前或末尾时做出。</p>
      <li>30分钟HDP</li>
      <p class="pointp">15:01 – 30:00 HDP：胜方为. 15:01到30:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此30分钟之前或末尾时做出。</p>
      <li>45分钟HDP</li>
      <p class="pointp">30:01- 45:00 HDP：胜方为30:01到45:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此45分钟之前或末尾时做出。</p>
      <li>60分钟HDP</li>
      <p class="pointp">45:01 – 60:00 HDP：胜方为45:01到60:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此60分钟之前或末尾时做出。</p>
      <li>75分钟HDP</li>
      <p class="pointp">60:01 – 75:00HDP：胜方为60:01到75:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此75分钟之前或末尾时做出。</p>
      <li>90分钟HDP</li>
      <p class="pointp">75:01 – 90:00 HDP：胜方为75:01到90:00时成绩较高的参赛者或队伍。
      </p>
      <p class="pointp">所有投注必须在此90分钟之前或末尾时做出。</p>
    </ul>
    <p class="rulep">对于特定15分钟让分盘来说，投注以现场直播公布的时间显示为准，将根据准确的进球时间（球越过龙门线）、角球数（实际开出）以及总罚牌数（裁判员发出的罚牌）进行结算。</p>
    <p class="rulep">如果一场比赛暂停或中止，对于投注于未完成的特定15分钟让分盘将被视为无效。如果指定的特定15分钟让分盘已经完成，则投注有效。</p>
    <p class="rulep">对于任何特定15分钟让分盘现场投注的最后两（2）分钟，除本条下述操作以外，任何行为都将被视为安全比赛，因此任何待定的投注都会被接受：进球、罚点球和领红牌。</p>
    <p class="rulep">对于30:01-45:00和75:01 - 90:00来说，投注以现场直播公布的时间显示为准，将根据准确的进球时间（球越过龙门线）、角球数（实际开出）以及总罚牌数（裁判员发出的罚牌）进行结算，除了任何额外的时间或伤停补时以外。</p>
    
  </ol>
  
  <div class="clear"></div>
</div>