<div class="mgbt20 rule">
  <ol>
    <h4>炼金术士实验室吃角子老虎</h4>
    <p class="text1">带奖励游戏的 3 轴吃角子老虎机</p>
    <p class="text2">Alchemist's Lab（炼金密室）游戏的目标是通过旋转转轴以获得一个赢奖符号组合。</p>
    <li>游戏玩法</li>
    <p class="rulep">单击“赌一个”、“赌两个”或者“赌最大” ( = 3) 按钮选择您要下注的硬币数。硬币值显示在屏幕的右上角。转轴开始旋转。</p>
    <p class="rulep mgbt20">如果转轴停转后显示赢奖组合（沿着赔付线），您将依照赢率表赢得相应奖金（请看机器顶部的面板）。</p>
    <li>奖励游戏</li>
    <p class="rulep">奖励老虎机包含一个奖励游戏。要想进入这个奖励游戏，您必须获得三个书本符号。在这个奖励游戏中，单击屏幕上的三个瓶子。然后您将赢得一定的奖金金额，取决于您所选择的瓶子。</p>
  </ol>
  <div class="clear"></div>
</div>