<div class="sub-box">
  <div class="rule rule2 noheight">
    <ol>
      <li>
        登录Hwin后，点击Hwin页面右上角的“会员中心”按钮进行存款
        <div><img src="/static/v1/images/help/helpimage-02-01.png"></div>
      </li>
      <li>
        首次存款请输入您的真实姓名
        <p>(姓名需与您的银行名一致。)</p>
        <div><img src="/static/v1/images/help/helpimage-02-02.png"></div>
      </li>
      <li>
        进行存款操作
        <p>(Hwin为货币选择为人民币的用户提供在线支付，网银转账，银行存款与支付宝四种支付方式。并根据用户级别分配相应的存款方式。)</p>
        <div><img src="/static/v1/images/help/helpimage-02-03.png"></div>
      </li>
    </ol>
  </div>
</div>