<h3>大小/单双</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20 rule">
  <ol>
    <li>大小</li>
    <p class="rulep">开出的20个号码的总数值为游戏结果。当20个号码总和为810时，810以上为大，810以下为小。
    </p>
    <p class="rulep">例：开彩号码为02、03、07、08、11、16、17、26、29、32、33、35、39、43、50、56、68、72、74、80，总数值是701，则小。下注"小"为赢，下注"大"为输。
    </p>
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>大</th>
        <th>810</th>
        <th>小</th>
        <th>投注大/小，结果810</th>
      </tr>
      <tr>
        <td>赔率</td>
        <td>1.96</td>
        <td>108</td>
        <td>1.96</td>
        <td>投注退回</td>
      </tr>
    </table>
    
    <li>单双</li>
    <p class="rulep">开出的20个号码的总数值为游戏结果。总数值为奇数，为单；总数值为偶数，为双。
    </p>
    <p class="rulep">例：开彩号码为02、03、07、08、11、16、17、26、29、32、33、35、39、43、50、56、68、72、74、80，总数值是701，则单。下注"单"为赢，下注"双"输。
    </p>
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>单</th>
        <th>双</th>
      </tr>
      <tr>
        <td>赔率</td>
        <td>1.96</td>
        <td>1.96</td>
      </tr>
    </table>
    
  </ol>
  
  <div class="clear"></div>
</div>