<div class="sub-box">
  <p class="mgbt10">混合过关</p>
  <p>玩家可选择任何地区的投注选项进行过关投注，混和过关的赔率固定为相乘。同一场赛事、优胜冠军不能互相串关。 </p>
  <table border="1" cellspacing="0" cellpadding="0" width="612">
    <tr>
      <td width="63" nowrap="nowrap"><br />
      独赢    1 </td>
      <td width="63" nowrap="nowrap"><p>独赢 2 </p></td>
      <td width="63" nowrap="nowrap"><p>独赢 3 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 4 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 5 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 6 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 7 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 8 </p></td>
      <td width="70" nowrap="nowrap"><p>独赢 9 </p></td>
    </tr>
    <tr>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"><p>2 串    1 </p></td>
      <td width="63" nowrap="nowrap"><p>3 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>4 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>5 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>6 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>7 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>8 串    1 </p></td>
      <td width="70" nowrap="nowrap"><p>9 串    1 </p></td>
    </tr>
    <tr>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"><p>3 串    3 </p></td>
      <td width="70" nowrap="nowrap"><p>4 串    4 </p></td>
      <td width="70" nowrap="nowrap"><p>5 串    5 </p></td>
      <td width="70" nowrap="nowrap"><p>6 串    6 </p></td>
      <td width="70" nowrap="nowrap"><p>7 串    7 </p></td>
      <td width="70" nowrap="nowrap"><p>8 串    8 </p></td>
      <td width="70" nowrap="nowrap"><p>9 串    9 </p></td>
    </tr>
    <tr>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"><p>3 串    4 </p></td>
      <td width="70" nowrap="nowrap"><p>4 串    6 </p></td>
      <td width="70" nowrap="nowrap"><p>5 串    10 </p></td>
      <td width="70" nowrap="nowrap"><p>6 串    15 </p></td>
      <td width="70" nowrap="nowrap"><p>7 串    21 </p></td>
      <td width="70" nowrap="nowrap"><p>8 串    28 </p></td>
      <td width="70" nowrap="nowrap"><p>9 串    36 </p></td>
    </tr>
    <tr>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="70" nowrap="nowrap"><p>4 串    5 </p></td>
      <td width="70" nowrap="nowrap"><p>5 串    6 </p></td>
      <td width="70" nowrap="nowrap"><p>6 串    7 </p></td>
      <td width="70" nowrap="nowrap"><p>7 串    8 </p></td>
      <td width="70" nowrap="nowrap"><p>8 串    9 </p></td>
      <td width="70" nowrap="nowrap"><p>9 串    10 </p></td>
    </tr>
    <tr>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="63" nowrap="nowrap"></td>
      <td width="70" nowrap="nowrap"><p>4 串    11 </p></td>
      <td width="70" nowrap="nowrap"><p>5 串    16 </p></td>
      <td width="70" nowrap="nowrap"><p>6 串    22 </p></td>
      <td width="70" nowrap="nowrap"><p>7 串    29 </p></td>
      <td width="70" nowrap="nowrap"><p>8 串    37 </p></td>
      <td width="70" nowrap="nowrap"><p>9 串    46 </p></td>
    </tr>
  </table>
  <p class="mgbt10">例：玩家选择5种玩法，投注10元，则过关投注选项将有 </p>
  <p class="mgbt10">i.      独赢：5种玩法各自下注，共产生5注，赔率依各玩法设定，需符合最大限额，总注金为50。 </p>
  <p class="mgbt10">ii.     五串一：5种玩法皆获胜投注方为赢，共产生1注，赔率为各玩法相乘，需符合最大限额，总注金为10。 </p>
  <p class="mgbt10">iii.    五串五：5种玩法任选4种玩法组合为四串一，若5种玩法中仅4玩法获赢，仍可赢得1注，共产生5注，赔率为各玩法相乘，需符合最大限额，总注金为50。 </p>
  <p class="mgbt10">iv.    五串十：5种玩法任选3种玩法组合为三串一，若5种玩法中仅3玩法获赢，仍可赢得1注，共产生10注，赔率为各玩法相乘，需符合最大限额，总注金为100。 </p>
  <p class="mgbt10">v.     五串六：产生二、三注单，共产生6注，赔率为各玩法相乘，需符合最大限额，总注金为60。 </p>
  <p class="mgbt10">vi.    五串十六：产生二、三、四注单，共产生16注，赔率为各玩法相乘，需符合最大限额，总注金为160。</p>
  <div class="clear"></div>
</div>