<div class="mgbt20 rule">
  <ol>
    <h4>基诺</h4>
    <p class="text1">基诺是一种中国古代的抽奖类型的游戏。由于轻松好玩使得它在全世界流行。</p>
    <p class="text2">首先，在基诺桌上通过点击他们选择至少两个，多则十个数字。如果你想换一种思路取消所选择的一个数字，只需要再点击它。如要取消所有数字并从新再来，点击“清除”按钮。</p>
    <p class="text2">选定数字后，你可以在左边看到支出表，支出（赢利）取决于你选中了多少个数字。该支付表显示您因选中任何数量的正确数字（命中栏）而赢了多少钱（支付栏）。</p>
    <p class="text2">现在在一个回合中通过点击 + 和 - 按钮选择你想要下注的数量。然后按下“玩一回合”按钮（只玩一回合）或者“玩五回合”按钮（玩一个五回合系列）。</p>
    <p class="text2">当你按下一个“开始”按钮，20个数字已经选出。如果你有足够的命中数（获胜次数），将根据获胜表向您支付红利。如果您正在玩五回合系列，你可以在右边的结果表中看到你的最后结果。如果您正在玩一回合游戏，这只显示您的结果或者最后回合。</p>
    <li>按钮</li>
    <table class="mc-table tactr tb2">
      <tr>
        <td>清除</td>
        <td>放弃已经选中的数字。您也可以再次点击它们来单个放弃所选中的数字</td>
      </tr>
      <tr class="tr2">
        <td>玩一局</td>
        <td>用选中的数字玩一局游戏</td>
      </tr>
      <tr>
        <td>玩五局</td>
        <td>在一行玩五局</td>
      </tr>
    </table>
  </ol>
  <div class="clear"></div>
</div>