<h3>罚牌盘口</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">罚牌分大小盘 (包括上半场投注) <br />
以比赛最终罚牌分来确定的投注。如果罚牌分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果罚牌分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据仅限90分钟比赛。上半场投注结果由上半场赛事的罚牌分来决定。</p>
<p class="mgbt10">罚牌点数大小盘 (包括上半场投注)<br />
以比赛最终罚牌点数来确定的投注。如果罚牌点数超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果罚牌点数低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据仅限90分钟比赛。上半场投注结果由上半场赛事的罚牌点数来决定。</p>
<p class="mgbt10">主/客队罚牌数 <br />
球队罚牌数是以主队或客队所获得的罚牌数计算。下注选项有0-1张、2张、3张及4张及以上。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。</p>
<p class="mgbt10">主/客队罚牌数 - 上半场投注 <br />
球队罚牌数上半场是以主队或客队所获得的罚牌数计算。下注选项有0张、1张、2张及3张及以上。结算依据以半场比赛结果计算。</p>
<p class="mgbt10">首先罚牌队伍 (包括上半场投注)<br />
预测哪支球队先拿到罚牌。可下注选项有：主队、客队及无罚牌。结算依据仅限90分钟比赛。上半场投注结果由上半场赛事的罚牌情况来决定。</p>
<p class="mgbt10">比赛罚牌分 (包括上半场投注)<br />
预测哪支球队会得到最多罚牌分。可下注选项有：主队、客队及平手。结算依据仅限90分钟比赛。上半场投注结果由上半场赛事的罚牌情况来决定。</p>
<p class="mgbt10">总罚牌点数 <br />
以全场两队的罚牌点数加总计算。下注选项有0-30点、31-45点、46-60点、61-75点，以及76点及以上。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。</p>
<p class="mgbt10">总罚牌点数 – 上半场 <br />
以半场两队的罚牌点数加总计算。下注选项有0-10点、11-25点、26-40点，以及41点及以上。结算依据以半场比赛结果计算。</p>
<p class="mgbt10">罚牌分 (包括上半场投注)<br />
以全场两队的罚牌分加总计算。预测确切的罚牌分。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。上半场罚牌分投注结果由上半场赛事的罚牌分来决定。</p>