<div class="mgbt20 rule">
  <ol>
    <h4>硬币投掷赌博游戏</h4>
    <p class="text1">你的目标是赌猜硬币投掷的结果。首先，通过点击屏幕左下角的 + 和 - 按扭，选择你要下的赌注，然后点击“确认”(Confirm)。选择硬币的正面和反面。这些正面或反面就是你赌猜的投掷结果。现在，点击一个投掷按扭，其中按扭“Flip x1”表示只投掷1次，按扭“Flip x2”表示投掷2次，按扭“Flip x3”表示投掷3次。如果你点击的是“Flip x2”或“Flip x3”，就意味着你赌猜的投掷结果应连续出现2次或3次。在这些连续投掷中只要有任何一次投掷结果与你事先赌猜的结果不一样，那你就输了。</p>
    <li>双硬币玩法</li>
    <p class="rulep mgbt20">你也可以选择用两枚硬币玩本赌博游戏。点击标签“2 Coin Play”，就可以玩双硬币投掷赌博游戏。这时，你必须对两枚硬币的投掷结果进行预测，否则就相当于单硬币游戏（此时按单硬币游戏计费）。点击标签“1 Coin Play”，可以使游戏重新回到单硬币游戏状态。</p>
    <li>赔付倍数</li>
    <table class="mc-table tactr tb2">
      <tr>
        <th colspan="2">单硬币游戏</th>
        <th colspan="2">双硬币游戏</th>
        <th colspan="2">双硬币游戏</th>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="2">两个都是正面，或两个都是反面</td>
        <td colspan="2">其中一个是正面，另一个是反面</td>
      </tr>
      <tr class="tr2">
        <td>投掷次数</td>
        <td>赔付倍数</td>
        <td>投掷次数</td>
        <td>赔付倍数</td>
        <td>投掷次数</td>
        <td>赔付倍数</td>
      </tr>
      <tr>
        <td>1</td>
        <td>1.9</td>
        <td>1</td>
        <td>3.8</td>
        <td>1</td>
        <td>1.9</td>
      </tr>
      <tr class="tr2">
        <td>2</td>
        <td>3.8</td>
        <td>2</td>
        <td>15</td>
        <td>2</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>3</td>
        <td>7.5</td>
        <td>3</td>
        <td>60</td>
        <td>3</td>
        <td>7.5</td>
      </tr>
    </table>
  </ol>
  <div class="clear"></div>
</div>