<h3>赛车交易规则</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">赛车包括但不限于一级方程式比赛、世界摩托车锦标赛（Moto GP）和A1GP世界杯汽车大奖赛。</li>
        <li class="normal">领奖仪式的排名将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。如果没有颁奖仪式，则赛果为由相关主办单位在比赛结束后即刻公布的结果。排位赛赌盘依相关主办单位在排位赛后即刻公布的最终晋级排名而定。</li>
        <li class="normal">如果预定的场地变更，则所有投注将被视为无效。</li>
        <li class="normal">如果一场比赛延期，只要比赛在四十八小时内开始，则所有投注仍会被视为有效，否则所有投注将被视为无效。如果一场比赛开始但未完成，只要官方公布了一个赛果，则所有投注仍然有效。如果官方未公布赛果，则所有投注将被视为无效。</li>
        <li class="normal">在摩托车比赛中，当热身圈开始的信号发出时，比赛即被视为开始。如果一名赛车手未从起跑位置（或维修道）准备出发，则对该赛车手的投注将被视为无效。如果一名赛车手未能从官方认定合格的赛程开始比赛，则对该赛车手的杆位投注将被视为无效。</li>
        <li class="normal">对“对决”盘中，两名赛车手必须参与比赛（或官方资格赛），投注才会有效。 终局排名领先的赛车手即为获胜方。如果两名赛车手都未能完成比赛，则完成最多圈数者会被视为获胜方。如果两名赛车手完成的圈数相同，则所有投注无效，除非官方公布了终局排名。</li>
        <li class="normal">最快圈数盘指比赛中最快完成圈数的赛车手或赛车队。</li>
        <li class="normal">分类到达终点的车手数量盘依据主办单位公布的官方结果而定。</li>
        <li class="normal">赛车现场投注是根据指定比赛的官方结果来结算的。</li>
        <li class="normal">单/双盘依据主办单位的最终排名而定。例如，如果赛车手A以第一名完成比赛，则结果为单；如果赛车手B以第2名完成比赛，则结果为双等等。如果一名车手没有得到官方分类，则投注将被视为无效并退款。</li>
        <li class="normal">胜负差数盘由主办单位公布的所选赛车手间的时间差（秒）而定。大盘表示时间差大于盘口所示时间，小盘表示时间差小于盘口所示时间。如果赛果时间差与盘口所示时间相同，则投注将被视为无效且会被退款。</li>
    </ol>
    
    <div class="clear"></div>
</div>