<h3>英式橄榄球联赛&amp;联盟</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">重要提醒</p>
<p class="mgbt10">※ 所有盘口只计算常规赛时（半场，上半场盘口加时及罚球除外）。 </p>
<p class="mgbt10">※ 如比赛中断并在开球后的48小时之内复赛，所有盘口按最终结果进行结算。若不在48小时内，则所有未结算之盘口将取消。 </p>
<p class="mgbt10">※ 常规赛80分钟：除非明确说明，所有盘口根据常规80分钟结果进行计算。包括伤停补时，但不包括加时赛、罚球时间以及骤死赛时间。 </p>
<p class="mgbt10">结算及取消规则</p>
<p class="mgbt10">※ 如果开出的盘口发生下列情况：比分更改或红牌，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果开出的盘口有遗漏或错误的红牌，我们有权宣布投注无效。 </p>
<p class="mgbt10">※ 如果在错误的比赛时间（超过两分钟）开出赔率，我们有权利宣布投注无效。 </p>
<p class="mgbt10">※ 如果比赛中止或延迟，并未在开球之后的48小时，之内复赛，所有投注无效。 </p>
<p class="mgbt10">※ 如果队名或目录显示错误，我们有权利宣布投注无效。 </p>
<p class="mgbt10">特有盘口介绍</p>
<p class="mgbt10">半场/全场 <br />
分别预测半场、全场比赛时间结束时的赛果。可下注的选项有： </p>
<ul>
  <li>主队/主队：半场结束时主队获胜且全场结束时主队获胜 </li>
  <li>主队/平局：半场结束时主队获胜且全场结束时两队打和 </li>
  <li>主队/客队：半场结束时主队获胜且全场结束时客队获胜 </li>
  <li>平局/主队：半场结束时两队平局且全场结束时主队获胜 </li>
  <li>平局/平局：半场结束时两队平局且全场结束时两队打和 </li>
  <li>平局/客队：半场结束时两队平局且全场结束时客队获胜 </li>
  <li>客队/主队：半场结束时客队获胜且全场结束时主队获胜 </li>
  <li>客队/平局：半场结束时客队获胜且全场结束时两队打和 </li>
  <li>客队/客队：半场结束时客队获胜且全场结束时客队获胜 </li>
</ul>
<p class="mgbt10">总得分 单/双 (包括上半场投注) <br />
总得分单/双是指由比赛最终赛果两队加总的得分来确定的投注。结算依据仅限常规比赛时间。半场单双盘是指投注结果由半场赛事的总分来决定。</p>
<p class="mgbt10">让分盘 (包括上半场投注) <br />
让分盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。结算依据是以让分调整后的最终赛果来计算。</p>
<p class="mgbt10">最高得分半场 <br />
预测在比赛哪个半场得到最高分数。可下注的选项有：上半场、下半场及平分(两个半场得分相同)。</p>
<p class="mgbt10">胜分差 (橄榄球) <br />
以双方的全场比赛时间结束时的最终得分，胜的一队胜出另外一队有多少分做为下注。可下注的选项有： </p>
<ul>
  <li>主队 &gt; 14 ：代表下注主队胜出，且胜出分数大于14分(不含14分)</li>
  <li>主队8-14 ：代表下注主队胜出，且胜出分数介于8-14分 </li>
  <li>主队1-7 ：代表下注主队胜出，且胜出分数介于1-7分 </li>
  <li>平局：代表两队打和 </li>
  <li>客队1-7 ：代表下注客队胜出，且胜出分数介于1-7分 </li>
  <li>客队8-14 ：代表下注客队胜出，且胜出分数介于8-14分 </li>
  <li>客队 &gt; 14 ：代表下注客队胜出，且胜出分数大于14分(不含14分)</li>
</ul>
<p class="mgbt10">胜分差 (联盟式橄榄球) <br />
以双方的全场比赛时间结束时的最终得分，胜的一队胜出另外一队有多少分做为下注。可下注的选项有： </p>
<ul>
  <li>主队 &gt; 12 ：代表下注主队胜出，且胜出分数大于12分(不含12分)</li>
  <li>主队7-12 ：代表下注主队胜出，且胜出分数介于7-12分 </li>
  <li>主队1-6 ：代表下注主队胜出，且胜出分数介于1-6分 </li>
  <li>平局：代表两队打和 </li>
  <li>客队1-6 ：代表下注客队胜出，且胜出分数介于1-6分 </li>
  <li>客队7-12 ：代表下注客队胜出，且胜出分数介于7-12分 </li>
  <li>客队 &gt; 12 ：代表下注客队胜出，且胜出分数大于12分(不含12分)</li>
</ul>
<p class="mgbt10">滚球：剩余时间获胜者 <br />
滚球剩余时间获胜者，结算将以投注被接受后，赛事剩下时间内的进球为准。在投注被接受前所进的任何球均无计算在内。可下注的选项有：主队、客队、平局。</p>
<p class="mgbt10">滚球：剩余时间获胜者-上半场 <br />
滚球剩余时间获胜者，结算将以投注被接受后，上半场赛事剩下时间内的进球为准。在投注被接受前所进的任何球均无计算在内。可下注的选项有：主队、客队、平局。</p>
<p class="mgbt10">滚球：总得分 <br />
以全场两队的得分数计算。可下注的选项有：小于28、28-34、35-41、42-48、49-55、56-62、大于62分。</p>
<p class="mgbt10">滚球：总得分-上半场 <br />
以半场两队的得分数计算。可下注的选项有：小于7、7-13、14-20、21-27、28-34、35-41、大于41。投注结果由半场赛事的总分来决定。</p>
<p class="mgbt10">滚球：总分大小盘与1X2<br />
总分大小盘1X2表示投注预测下列两个方面：比赛最终赛果的总进球数为大盘还是小盘、比赛是主队赢、客队赢还是平局。有下列投注选项可供选择： </p>
<ul>
  <li>大盘且客队获胜：如果客队赢且总进球数在预先指定的进球数基线之上，则此投注赢 </li>
  <li>大盘且平局：如果比赛结果为平局且总进球数在预先指定的进球数基线之上，则此投注赢 </li>
  <li>大盘且主队获胜：如果主队赢且总进球数在预先指定的进球数基线之上，则此投注赢 </li>
  <li>小盘且客队获胜：如果客队赢且总进球数在预先指定的进球数基线之下，则此投注赢 </li>
  <li>小盘且平局：如果比赛结果为平局且总进球数在预先指定的进球数基线之下，则此投注赢 </li>
  <li>小盘且主队获胜：如果主队赢且总进球数在预先指定的进球数基线之下，则此投注赢 </li>
</ul>