<div class="mgbt20 rule">
    <ol start=8>
        <li>赛果/总进球数</li>
        <p class="rulep">赛果/总进球数表示投注预测下列两个方面：</p>
        <ul>
            <li>一场比赛是主队赢、客队赢还是平局；以及</li>
            <li>一场比赛最终赛果的总进球数为大盘还是小盘</li>
        </ul>
        
        <p class="rulep">下列投注选项可供选择：</p>
        <ul>
            <li>主队和大盘 – 如果主队赢且总进球数在预先指定的进球数基线之上，则此投注赢。</li>
            <li>主队和小盘 – 如果主队赢且总进球数在预先指定的进球数基线之下，则此投注赢。</li>
            <li>客队和大盘 – 如果客队赢且总进球数在预先指定的进球数基线之上，则此投注赢。</li>
            <li>客队和小盘 – 如果客队赢且总进球数在预先指定的进球数基线之下，则此投注赢。</li>
            <li>平局和大盘 – 如果比赛结果为平局且总进球数在预先指定的进球数基线之上，则此投注赢。</li>
            <li class="mgbt20">平局和小盘 – 如果比赛结果为平局且总进球数在预先指定的进球数基线之下，则此投注赢。</li>
        </ul>
        
        
        <li>首先进球手</li>
        <ul>
            <li>首先进球手是指押在预测一名球员在一场比赛中最先进球得分的投注。</li>
            <li>投注任何未在比赛中上场的球员为无效并退还赌注。</li>
            <li>投注任何在比赛中首个进球得分之后才替换上场的球员为无效并退还赌注。</li>
            <li>乌龙球不算首球。在这种情况下，下一个进球手才视为首先进球手。</li>
            <li>在首球进球之后才下注的，该投注视为无效，但若首球为乌龙球，则该投注有效。</li>
            <li>投注在首球进球之前就被替换或罚下的球员为输。</li>
            <li class="mgbt20">若在整场比赛中无人进球，则投注“无进球手”者为赢。若乌龙球为该场比赛中的唯一进球，亦为投注“无进球手”者赢。</li>
        </ul>
        
        
        <li>第一个进球的时间</li>
        <p class="rulep">表示投注预测第一个进球的时间段。</p>
        <p class="rulep">下列时间段/投注选项可供选择：</p>
        <ul>
            <li>00:00 - 10:00</li>
            <li>10:01 - 20:00</li>
            <li>20:01 - 30:00</li>
            <li>30:01 - 40:00</li>
            <li>40:01 - 50:00</li>
            <li>50:01 - 60:00</li>
            <li>60:01 - 70:00</li>
            <li>70:01 - 80:00</li>
            <li>80:01 – 终场</li>
            <li>无进球</li>
        </ul>
        
        <p class="rulep">如果一场比赛在第一个进球产生之后中止，则所有投注都将有效。</p>
        <p class="rulep mgbt20">如果一场比赛在第一个进球产生之前中止，则所有投注都将无效。</p>
        
        <li>会产生第一个进球的半场</li>
        <p class="rulep">表示投注预测哪个半场会产生第一个进球。</p>
        <p class="rulep">下列投注选项可供选择：</p>
        <ul>
            <li>上半场</li>
            <li>下半场</li>
            <li>无进球</li>
        </ul>
        <p class="rulep">如果一场比赛在上半场第一个进球产生之后中止，则所有投注都将有效。</p>
        <p class="rulep mgbt20">如果一场比赛在第一个进球产生之前的任何时间中止，则所有投注都将无效。</p>
        
        <li>两队皆进球/赛果和两对皆进球/上半场赛果</li>
        <p class="rulep">两队得分/结果表示投注预测：</p>
        <ul>
            <li>一场比赛是否会导致两队皆得分，以及</li>
            <li>一场比赛是主队赢、客队赢还是平局</li>
        </ul>
        <p class="rulep">下列投注选项可供选择：</p>
        <ul>
            <li>是的以及主队赢 – 如果两队皆进球且主队赢，则此投注赢</li>
            <li>是的以及客队赢 – 如果两队皆进球且客队赢，则此投注赢</li>
            <li>是的以及平局 – 如果两队皆进球且比赛结果为平局，则此投注赢</li>
        </ul>
        <p class="rulep">两队皆进球/上半场赛果是指投注预测赛事的上半场赛果以及两队是否都在上半场皆有进球。</p>
        <p class="rulep mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        
        <li>主队进球最多的半场</li>
        <p class="rulep">表示投注预测主队在哪个半场会产生较多进球。</p>
        <p class="rulep">下列选项可供选择：</p>
        <ul>
            <li>上半场</li>
            <li>下半场</li>
            <li class="mgbt20">上下半场进球平分</li>
        </ul>
        
        
        <li>客队进球最多的半场</li>
        <p class="rulep">表示投注预测客队在哪个半场会产生较多进球。</p>
        <p class="rulep">下列选项可供选择：</p>
        <ul>
            <li>上半场</li>
            <li>下半场</li>
            <li>上下半场进球平分</li>
        </ul>
        
    </ol>
    
    <div class="clear"></div>
</div>