<h3>21点</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->

<div class="mgbt20 rule">
  <ol>
    <li>21点</li>
    <p class="rulep fwbd">游戏规则</p>
    <p class="rulep">游戏使用5副标准52张牌，由真人荷官进行发牌。游戏者的目标是使手中的牌的点数之和不超过21点且尽量大，或者是荷官手中的牌爆掉。</p>
    <p class="rulep">玩家需将赌注置于其桌面上。然后，庄家给每个玩家各发两张牌，牌面朝上；给自己发两张牌，一张牌面朝上，一张牌面朝下。如果玩家拿到的前两张牌是一张A和一张10点牌，就拥有黑杰克。黑杰克是最大牌型，除非庄家同样拥有黑杰克。若没有拿到黑杰克，玩家可以继续拿牌，以使总点数尽可能接近但不超过21 点。玩家牌点在21点以下，可自由选择拿牌或停牌。如果超过21点，玩家就会“爆牌”并输掉赌金。如果庄家的总点数等于或少于16点，则必须拿牌；如果庄家的总点数等于或多于17点，则必须停牌。</p>
    <p class="rulep fwbd">计算方式</p>
    <p class="rulep">K、Q、J 和10字样的牌都算作10点。</p>
    <p class="rulep">A牌既可算作1点也可算作11点，由玩家自己决定。</p>
    <p class="rulep fwbd">赔率</p>
    <p class="rulep">21点：3赔2</p>
    <p class="rulep">标准赢盘:1赔1</p>
    <p class="rulep">保险赢盘:2赔1</p>
    <p class="rulep fwbd">下注</p>
    <p class="rulep">如果荷官手中的牌超过21点，玩家拥有21点或更少的牌面，庄家就会“爆牌”并输掉赌金。如果玩家拿到的前两张牌是一张A和一张10点牌，就拥有二十一点。此时，如果庄家没有二十一点，玩家就能赢得牌局；如果庄家有黑杰克,双方打平。玩家下注的金额会被自动退回。</p>
    <p class="rulep fwbd">分牌</p>
    <p class="rulep">玩家再下一注与原赌注相等的赌金，并将前两张牌分为两副单独的牌。这两张牌的点数必须相同。但分牌后的黑杰克，只能作普通21点计算，其赔率只是1赔1。</p>
    <p class="rulep fwbd">加倍</p>
    <p class="rulep">玩家在拿到前两张牌之后，如果两张牌总计牌值为9,10或11时，可以选择“加倍”,获得与原赌注加倍的注金。“加倍”后只能再要一张牌。如果拿到二十一点，再拿一张牌时就会自动爆牌，因此不许加倍下注。每一局游戏只能加倍一次。</p>
    <p class="rulep fwbd">保险</p>
    <p class="rulep mgbt20">在该游戏中，如果玩家认为庄家可以拿到二十一点，玩家则可以购买保险。也就是相当于原赌注一半的额外赌金。如果庄家确实有二十一点，玩家将赢得 2 倍的保险赌金；如果庄家没有二十一点，玩家将输掉保险赌金，游戏照常继续。二十一点要大于其它总点数为21点的牌。</p>
    
    <li>疯狂21点</li>
    <p class="rulep fwbd">游戏规则</p>
    <p class="rulep">疯狂21点与传统的21点玩法相似，玩家想要赢得牌局，手上的牌点数必须比庄家的牌点数大，尽量接近21点但不可超过21点。游戏不需理会其他玩家的牌点数，玩家只与庄家的牌点数作对抗，所有玩家的牌均是牌面向上的。</p>
    <p class="rulep fwbd">纸牌点数</p>
    <p class="rulep">2至10点按牌面值计算。</p>
    <p class="rulep">J, Q, K按10点计算。</p>
    <p class="rulep">A作1或11点计算，若加上11点后成为爆牌，则按1点计算。</p>
    <p class="rulep fwbd">词汇解释</p>
    <p class="rulep">Blackjack：简称BJ，一张A牌及一张10点的牌所组成的21点，初始注金按1赔1.5派彩。</p>
    <p class="rulep">21点：多于两张牌所组成的21点。</p>
    <p class="rulep">爆牌：手上所有牌点数加起来超过21点称为爆牌。玩家会即时输掉所有初始及加注的金额。</p>
    <p class="rulep">7龙：玩家一局手上有7张但非爆牌的牌局，如庄家非BJ不论玩家手上的牌点数是否大於庄家，初始注金按1赔1派彩。</p>
    <p class="rulep">和局：玩家与庄家同时获得BJ或玩家与庄家同时非BJ但点数相同时，该局视为和局，初始注金及加注金退回。</p>
    <p class="rulep">硬牌:：该手牌没有A牌，或A牌只能按1点计算。</p>
    <p class="rulep">软牌:：该手牌A牌可按1点或11点计算。</p>
    <p class="rulep fwbd">玩家选择项目</p>
    <p class="rulep">初始下注：每局发牌前的投注项目，玩家必须对该牌局，根据玩家的喜好及赌桌可接受的投注上下限内，作出相应的投注金额。</p>
    <p class="rulep">对子：每局发牌前的投注项目，玩家首两张牌是对子可按1赔11派彩，10, J, Q及K视为不同牌。</p>
    <p class="rulep">要牌：玩家选择要下一张牌。</p>
    <p class="rulep">不要牌：玩家选择不再要牌，以当时的手牌点数与庄家对抗。</p>
    <p class="rulep">保险：庄家首张牌面是A时，用初始注金的一半投注保险，庄家是BJ时，保险注金一赔二。</p>
    <p class="rulep">投降：投降该手牌输一半初始注金，另一半退回玩家。</p>
    <p class="rulep">加注：发了首两张牌后可以把初始注金增加一倍作投注，但只能要一张牌，所有注金一赔一。</p>
    <p class="rulep">1赔1：如玩家该局牌是BJ而庄家的牌面是A的话，可以选择注金即时以1倍派彩，即放弃手牌BJ获得1.5倍派彩的权利。</p>
    <p class="rulep fwbd">庄家要牌规则</p>
    <p class="rulep">任何情况下庄家不可自行选择是否要牌，只能根据21点牌例而强制性是否要牌，疯狂21点采用庄家牌点数等於或小於16点必须要牌，牌点数等於或大於17点(包括软17点或硬17点)均不得博牌。</p>
    <p class="rulep fwbd">公牌使用</p>
    <p class="rulep mgbt20">玩家是独立与庄家的手牌对抗，当荷官派了第一轮牌后，即庄家一张牌，五位玩家各两张牌后，之后所派的全是公牌，公牌的使用规则是当玩家选择不要牌后，公牌会按序派给庄家，庄家按牌例要牌或不要牌直至每位玩家最后分出该局结果为止。</p>
  </ol>
  <div class="clear"></div>
</div>