<div class="mgbt20 rule">
  <ol>
    <h4>21点</h4>
    <p class="text1">六副牌的21点。每一回合结束后，用过的牌放回牌组，然后洗牌。</p>
    <li>游戏玩法</li>
    <p class="rulep">点击筹码选中。点击可用手位（牌桌上以半圆铺开的圆）。每点击一次，您的投注增加所选筹码之数额。投注可下在任何手位，可仅在一个位置下注，也可在最多五个位置下注。要减少赌注，按住键盘上的Shift键，同时点击赌注，即减少选定筹码值数目。</p>
    <p class="rulep">您可点击“清除赌注”从牌桌上去除所有投注。</p>
    <p class="rulep">点击“加倍”将您已经投放在牌桌的赌注加倍。</p>
    <p class="rulep">每个投注位的最小最大投注限制根据您的VIP级别不同而不同，该限制显示在牌桌上。限制仅适用于第一次投注。既然您放置了等于最大投注的投注，需要额外加注的操作（如分牌等）仍然可用。</p>
    <p class="rulep">点击“发牌”按钮发牌。玩家和庄家派发两张牌。牌依次一张一张地派发到每个手中，第一张牌发到玩家手中。最后一张牌发到庄家手中，发牌时面朝下。</p>
    <p class="rulep">如果您打超过一手牌，那么每手牌应分别操作，从最右边一手开始。</p>
    <p class="rulep">如果庄家翻开的牌是A，您则被提供保险。点击“保险”按钮预防庄家有二十一点。</p>
    <p class="rulep">按需要使用“要牌”、“开牌”、 “加倍”和“分牌”按钮。</p>
    <p class="rulep">请注意投保、加倍和分牌都需要加注。若账户余额不足，您需要存入更多的存款才能使用这些功能。</p>
    <p class="rulep">庄家展示面朝下的牌，并根据规则抽取附加牌。</p>
    <p class="rulep">您的手牌与庄家手牌对比。</p>
    <p class="rulep mgbt20">如果您再想玩一回合，点击“新建游戏”。然后根据以上所述下注，或点击“再次下注”放置与上一回合同样的投注，然后点击“发牌”按钮发牌。点击“重新下注并发牌”放置与上一局相同的赌注并立即发牌。</p>
    <li>多手模式</li>
    <p class="rulep">在多手模式下，可以在牌桌半圆的多个手位投注。在手位投注时，您可以放一手，也可以放多手，最多放5手。每个手位的投注数额可能不同。</p>
    <p class="rulep">牌依次派发到每个手中，在最右边开始，然后顺时针派发，庄家收到最后一手。牌派发完毕后，每手分开打，从最右边开始。</p>
  </ol>
  <div class="clear"></div>
</div>