<div class="sub-box">
    <div class="rule rule2 noheight">
        <ol>
            <li>
                进入“资金管理-存款”，选择“支付宝转账”方式
                <div><img src="/styles/images/help/helpimage-02-04.png"></div>
            </li>
            <li>
                输入“金额“，确定存款，单笔限额为100-10000元，每日无上限
                <div><img src="/styles/images/help/helpimage-02-05.png"></div>
            </li>
            <li>
                用户将进入“存款订单页面“订单编号。注意：支付宝订单有效期为3个小时
                <div><img src="/styles/images/help/helpimage-02-06.png"></div>
            </li>
            <li>
                用户根据“存款订单”提供的内容进入支付环节，提供两种支付方式。
                <p>(注意：为加快用户的到账速度，请用户使用本人，即通过平台实名认证的真实姓名支付宝账号进行转账；且存款金额与订单页面展示的金额必须保持一致。)</p>
                <div><img src="/styles/images/help/helpimage-02-07.png"></div>
            </li>
            <li>
                方式一：点击“马上进入支付宝转账”按钮，进去支付宝转账页面（电脑网页版），用户需填入存款订单页面展示的支付宝账号及存款金额，并完成转账。
                <p>(关于支付宝转账的操作请参考以下支付宝教程https://cshall.alipay.com/lab/help_detail.htm?help_id=212267)</p>
                <div><img src="/styles/images/help/helpimage-02-08.png"></div>
            </li>
            <li>
                方式二：用手机支付宝钱包扫码功能扫描存款订单页面展示的支付二维码，扫描结果将会指引用户前往支付宝转账APP页面，用户在此页面输入存款金额，并完成转账。
                <div><img src="/styles/images/help/helpimage-02-09.png"></div>
            </li>
        </ol>
    </div>
</div>