<h3>斯诺克与台球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">胜负盘及让分盘指比赛的赢家。大/小盘和单/双盘是根据盘数/三角框数
            确定的（除非另有说明）。
        </li>
        <li class="normal">如果一名选手没有参与一场锦标赛或比赛，则对该名选手的所有投注将为无效。</li>
        <li class="normal">如果一场比赛已开始，但未完成，则所有投注将为无效，除了对无条件决定的赌盘所下投注以外。</li>
        <li class="normal">斯诺克和台球现场投注是依据比赛（或指定盘/三角框）结果结算的。斯诺克和台球现场投注时，得分不会更新。</li>
        <li class="normal">对于单局赌盘大/小盘和单/双盘，是依该盘总得分而定。</li>
        <li class="normal">哪位玩家将击球入袋红球？庄家指于某场比赛或指定赛局入球首个合法红球的玩家，即在不犯规的同时入球红色球。（若某场赛局重新摆球，则所有下注将于原场赛局仍有效。）</li>
        <li class="normal">哪位玩家获胜30点？庄家指将于某指定赛局首先得30点的玩家。（若某场赛局重新摆球，则所有下注将于原场赛局仍有效。）</li>
        <li class="normal">最高一杆得分指某位玩家或某些玩家于某指定赛局、比赛或赛事中「一杆」得分总数。</li>
        <li class="normal">单杆过百总数指于某指定比赛或赛事中100点或以上「一杆」总数。</li>
    </ol>
    
    <div class="clear"></div>
</div>