<h3>篮球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>篮球</li>
        <p class="rulep">所有全场赌盘包括现场投注将会根据包括加时赛在内的最终赛果结算（除非另有说明）。
        </p>
        <p class="rulep">如果一场比赛没有在预定开始日期开始，则所有投注将无效（除非另有说明）。
        </p>
        <p class="rulep">如果一项比赛开始进行，但在预定开始时间后的十二个小时内暂停或中止，只要至少一场NBA比赛的四十三（43）分钟，或任何其它篮球比赛的三十五（35）分钟已经完成，则全场投注仍会被视为有效。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。否则对于暂
            停或中止的比赛的投注将为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">上半场的赛果为第一节和第二节的总得分。下半场的赛果是第三节和第四节的总得分，包括任何可能进行的加时赛。
        </p>
        <p class="rulep">第四节的赛果不包括任何可能会进行的加时赛。</p>
        <p class="rulep">如果一场比赛暂停或中止，对未完成的半场或小节的投注将被视为无效。如果指定的半场或小节已经完成，则投注有效。
        </p>
        <p class="rulep">得分不会更新用于篮球比赛的现场投注，在现场交易时显示的让分是指在比赛开始时的得分，即0-0。所显示的时间和得分仅作参考之用。
        </p>
        <p class="rulep">“首先得分球队”的赌盘是根据率先得分的球队进行结算的。如果一场比赛在已经实现得分后暂停或中止，则投注仍然有效。
        </p>
        <p class="rulep">“最后得分球队”的赌盘是根据一场比赛（包括加时赛）或者特定半场/小节（不包括加时赛）中最后得分的球队进行结算的。如果一场比赛暂停或中止，则所有投注将为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">如果双方球员都参与了比赛，特殊赌盘（包括分数、篮板球、助攻、三分球、罚球等）就有效。如果一方或双方球员未参与比赛，则所有投注都无效。特殊赌盘的结果包括加时赛，除非另有说明。当主办单位（NBA.com、FIBA.com等）在比赛结束时宣布了官方结果，这些结果
            会被认可，并且之后任何统计资料的变更对于投注来说，皆无效。
        </p>
        <p class="rulep">NCAA比赛的主场/客场信息仅供参考。</p>
        <p class="rulep">梦幻篮球赌盘（包括现场投注）是将不同比赛中的队伍进行配对或组合。这些涉及两支球队的比赛必须在同一天进行，否则投注将被视为无效。梦幻篮球赌盘的场地完全仅作参考之用。
        </p>
        <p class="rulep mgbt20">“赢得最多小节”的赌盘是根据在一场篮球比赛中赢得最多小节的球队进行结算的。如果一个特定小节的赛果是平局，则两支球队皆未赢得该小节。本赌盘不包括加时赛。如果一场比赛暂停或中止，则所有投注皆无效。
        </p>
        
        <li>无网篮球</li>
        <p class="rulep">所有全场赌盘包括现场投注将会根据包括加时赛在内的最终赛果结算（除非另有说明）。
        </p>
        <p class="rulep">如果一场比赛没有在预定开始日期开始，则所有投注将无效（除非另有说明）。如果一场比赛暂停或中止，则所有投注将被视为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">上半场的赛果为第一节和第二节的总得分。下半场的结果是第三和第四节的得分总和，包括可能会进行的任何加时赛。第四节赛果不包括任何可能会进行的加时赛。
        </p>
        <p class="rulep">如果一场比赛暂停或中止，对未完成的半场或小节的投注将被视为无效。如果指定的半场或小节已经完成，则投注有效。
        </p>
        <p class="rulep">得分不会更新用于无网篮球比赛的现场投注，在现场交易时显示的让分是指在比赛开始时的得分，即0-0。所显示的时间和得分仅作参考之用。
        </p>
        
    </ol>
    
    <div class="clear"></div>
</div>