<div class="mgbt20 rule">
  <ol>
    <h4>X-MEN</h4>
    <p class="text1">5 轴 25 线吃角子老虎机</p>
    <li>游戏玩法</li>
    <p class="rulep">在屏幕左下角单击“单击更改”面值按钮，选择下注面值（硬币数额）。</p>
    <p class="rulep">单击“每条赔付线的赌注”选择赔付线赌注。每单击一次可在赔付线赌注中增加一个硬币。当达到最大金额（选中下游面值中的10个硬币）之后，再次单击按钮可将赔付线赌注重置为一个硬币。</p>
    <p class="rulep">点击“赔付线”选择赔付线。每次单击都启动一条赔付线。启动了所有的赔付线后，再次点击按钮，则重置为一条活跃赔付线。通过使用在转轴两侧的数字按钮也可以启动赔付线。每当选择较高的赔付线时，也就同时选择了所有较低的赔付线。例如：如果选择赔付线 6，同时也就启动了赔付线 1 至 5。点击“赌最大”启动所有赔付线，使用最大赌注每线并旋转转轴。</p>
    <p class="rulep">每游戏局总赌注 = 赔付线赌注 X 启动的赔付线数。</p>
    <p class="rulep">单击“旋转”以当前选择的赔付线数和赔付线赌注旋转转轴。在转轴旋转中“旋转”按钮变为“停止”。点击“停止”结束旋转并立刻显示旋转结果。</p>
    <p class="rulep">也可使用“自动开始”功能旋转转轴。点击“自动开始”上面的 + 或 – 选择要启用的连续旋转的次数。点击“自动开始”转动转轴。以下期间自动开始按钮变为“停止”：重新旋转自动开始模式。当转轴转动了玩家选定的次数之后，或当玩家点击“停止”时，自动开始模式结束。</p>
    <p class="rulep">奖金根据赔率表计算。赔付线奖金 = 赔付线赌注 X 赔率表上相应的系数。彩派奖金 = 总赌注 X 赔率表上相应的系数。赔付表可通过“信息”页面。</p>
    <p class="rulep">不同赔付在线同时赢得的奖金在以下情况下，在给定赔付在线只赢得最高的赔付线赢奖组合:累加在一起。</p>
    <p class="rulep">旋转获胜时，“赢"字段显示累加的奖金。随便单击屏幕任何地方都可停止奖金指示器，立即显示总奖金金额。组成获胜组合的符号也同时动画显示。这些动画仅为视觉主题效果元素，不改变实际的符号。</p>
    <p class="rulep mgbt20">赔付线奖金和总奖金也显示在转轴或游戏窗口底部的条上。</p>
    <li>信息页面</li>
    <p class="rulep">单击“信息”可打开描述不同游戏组件的参考屏幕。单击屏幕右下角的箭头按钮，可在不同信息屏幕间浏览。</p>
    <ul>
      <li>“赔率表”屏幕显示所有赢奖组合。在赢奖旋转后，当赢奖符号组合（符号的数目以及赌注乘数）被翻开后是呈高亮和闪光的。</li>
      <li>“X-Feature”屏幕显示了触发X-Feature所必需的符号组合。</li>
      <li>“免费游戏”屏幕给出了在免费游戏中英雄模式和坏蛋模式的一个概览。有关这两种模式的更多信息，请进入“英雄模式”页面或“坏蛋模式”页面。</li>
      <li>“英雄模式”屏幕解释了在免费游戏中英雄模式的规则。</li>
      <li>“坏蛋模式”屏幕解释了在免费游戏中坏蛋模式的规则。</li>
      <li>“神奇的多级神秘累积奖池”屏幕介绍如何进入“神奇的多级神秘累积奖池”游戏的方法和规则，玩家在游戏中可赢得四个奖池的其中一个。</li>
    </ul>
    <p class="rulep">单击赔率表页面上的“显示赔付线”打开一个屏幕，其中显示所有可能的赔付线组合。单击“隐藏赔付线”退出该屏幕并返回赔率表页面。</p>
    <p class="rulep mgbt20">点击“返回”退出信息屏幕，返回游戏。</p>
    <li>赌付线</li>
    <p class="rulep">启动的赔付线用显示在转轴上方的线来表示。赔付线启动，其形状显示可通过点击"赔付线"。</p>
    <p class="rulep">只有启动的赔付线才能登记奖金。</p>
    <p class="rulep mgbt20">赔付线赌注和总赌注有所不同。赔付线赌注是指在单条赔付在线投放的赌注。总赌注显示所有将投放在游戏局中的赌注。赔率表中显示的赔率将乘以赔付线赌注。</p>
    <li>关于赔率</li>
    <p class="rulep">如果多条赔付在线均出现赢奖组合，奖金将会逐项累加。</p>
    <p class="rulep">赢奖组合必须从最左边的转轴开始，而且符号必须在连续的转轴上。</p>
    <p class="rulep">如果两个赢奖组合出现在同一条赔付在线时，玩家将按奖金较高的组合获得赔彩。如果多条启动的赔付在线均出现赢奖组合，奖金将会累计。</p>
  </ol>
  <div class="clear"></div>
</div>