<h3>欧洲让分盘</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">欧洲让分盘 (包括上/下半场投注)</p>
<p>开出的选项有主队、平手与客队三项，若在中立场比赛，则以画面上实际显示之主、客为主。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。 </p>
<p class="mgbt10">让球数为1球:主队让出1球 </p>
<p class="mgbt10">投注主队赢球: <br />
  主队以多于客队至少两球胜出 – 投注项目为赢。 <br />
  平局或客队获胜 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:1输球，投注项目为输。 <br />
  当终场比分1:0时 - 两队1:1平局，投注项目为输。 <br />
当终场比分2:0时 - 主队2:1赢球，投注项目为赢。 </p>
<p class="mgbt10">投注平局: <br />
  主队以多于客队正好一球胜出 – 投注项目为赢。 <br />
  平局或客队获胜 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:1输球，投注项目为输。 <br />
  当终场比分1:0时 - 两队1:1平局，投注项目为赢。 <br />
当终场比分2:0时 - 主队2:1赢球，投注项目为输。 </p>
<p class="mgbt10">投注客队赢球: <br />
  客队以任何比分获胜或平局 – 投注项目为赢。 <br />
  主队以多于客队至少两球胜出– 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:1输球，投注项目为赢。 <br />
  当终场比分1:0时 - 两队1:1平局，投注项目为输。 <br />
当终场比分2:0时 - 主队2:1赢球，投注项目为输。 </p>
<p class="mgbt10">让球数为1球:主队获得1个让球</p>
<p class="mgbt10">投注主队赢球: <br />
  主队以任何比分获胜或平局 – 投注项目为赢。 <br />
  客队以多于两球以上获胜 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队1:0赢球，投注项目为赢。 <br />
  当终场比分0:1时 - 两队1:1平局，投注项目为输。 <br />
当终场比分0:2时 - 主队1:2输球，投注项目为输。 </p>
<p class="mgbt10">投注平局: <br />
  主队输掉正好一球 – 投注项目为赢。 <br />
  主队或客队以多于两球以上获胜– 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队1:0赢球，投注项目为输。 <br />
  当终场比分0:1时 - 两队1:1平局，投注项目为赢。 <br />
当终场比分0:2时 - 主队1:2输球，投注项目为输。 </p>
<p class="mgbt10">投注客队赢球: <br />
  客队以多于两球以上获胜 – 投注项目为赢。 <br />
  主队获胜或平局 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队1:0赢球，投注项目为输。 <br />
  当终场比分0:1时 - 两队1:1平局，投注项目为输。 <br />
当终场比分0:2时 - 主队1:2输球，投注项目为赢。 </p>
<p class="mgbt10">让球数为2球:主队让出2球 </p>
<p class="mgbt10">投注主队赢球: <br />
  主队以多于客队至少三球胜出 – 投注项目为赢。 <br />
  平局或客队获胜 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:2输球，投注项目为输。 <br />
  当终场比分2:0时 - 两队2:2平局，投注项目为输。 <br />
当终场比分3:0时 - 主队3:2赢球，投注项目为赢。 </p>
<p class="mgbt10">投注平局: <br />
  主队以多于客队正好两球胜出 – 投注项目为赢。 <br />
  平局或客队获胜 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:2输球，投注项目为输。 <br />
  当终场比分2:0时 - 两队2:2平局，投注项目为赢。 <br />
当终场比分3:0时 - 主队3:2赢球，投注项目为输。 </p>
<p class="mgbt10">投注客队赢球: <br />
  客队以任何比分获胜或平局 – 投注项目为赢。 <br />
  主队以多于客队至少三球胜出– 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队0:2输球，投注项目为赢。 <br />
  当终场比分2:0时 - 两队2:2平局，投注项目为输。 <br />
当终场比分3:0时 - 主队3:2赢球，投注项目为输。 </p>
<p class="mgbt10">让球数为2球:主队获得2个让球 </p>
<p class="mgbt10">投注主队赢球: <br />
  主队以任何比分获胜或平局 – 投注项目为赢。 <br />
  客队以多于三球以上获胜– 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队2:0赢球，投注项目为赢。 <br />
  当终场比分0:2时 - 两队2:2平局，投注项目为输。 <br />
当终场比分0:3时 - 主队2:3输球，投注项目为输。 </p>
<p class="mgbt10">投注平局: <br />
  主队输掉正好两球 – 投注项目为赢。 <br />
  主队或客队以多于三球以上获胜– 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队2:0赢球，投注项目为输。 <br />
  当终场比分0:2时 - 两队2:2平局，投注项目为赢。 <br />
当终场比分0:3时 - 主队2:3输球，投注项目为输。 </p>
<p class="mgbt10">投注客队赢球: <br />
  客队以多于三球以上获胜 – 投注项目为赢。 <br />
  主队获胜或平局 – 投注项目为输。 <br />
  例如： <br />
  当终场比分0:0时 - 主队2:0赢球，投注项目为输。 <br />
  当终场比分0:2时 - 两队2:2平局，投注项目为输。 <br />
当终场比分0:3时 - 主队2:3输球，投注项目为赢。</p>