<div class="sub-box">
    <p class="text1" style="margin-top:-20px;">混合过关是指对至少包含两种选择方案的组合进行投注。如果所有的选择方案都赢，则这一过关投注赢，并将获得按两种选择方案的组合赔率计算的彩金。如果一种（或以上）选择方案没有获胜，则该过关投注输。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。在现场混合过关投注期间，如果对选择方案的任何投注被拒绝，则这一过关投注将不会生效。有关更多详情，请参阅“混合过关”投注页面上的“说明”。</p>
    <!--内容分类文字-->
    <div class="mgbt20 rule">
        <ol>
            <li>三串四式（trixie）投注</li>
            <p class="rulep mgbt20">包含4项投注，涉及不同赛事的3种选择方案，3个双倍赔率和1个三倍赔率。 任何两种选择方案获胜都能保证赢得彩金。如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果您的选择方案中有任何三者获胜，则全部3个双倍赔率和1个三倍赔率将为您赢得彩金。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
            <li>四串一式（yankee）投注</li>
            <p class="rulep mgbt20">包含11项投注，涉及不同赛事的4种选择方案，6个双倍赔率和4个三倍赔率和1个四倍赔率。任何两种选择方案获胜都能保证赢得彩金。如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果任何3个选择方案获胜，3个双倍赔率和1个四倍赔率能赢得彩金。如果全部4个选择方案获胜，所有6个双倍赔率，4个三倍赔率和1个四倍赔率能赢得彩金。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
            <li>五串二十六（Canadian）式投注</li>
            <p class="rulep mgbt20">包含26项投注，涉及不同赛事的5种选择方案，10个双倍赔率，10个三倍赔率，5个四倍赔率和1个五倍赔率。任何两种选择方案获胜都能保证赢得彩金。 如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果任何4个选择方案获胜，则6个双倍赔率，4个三倍赔率和1个四倍赔率能赢得彩金。如果全部5个选择方案获胜，则所有10个双倍赔率，10个三倍赔率，5个四倍赔率和1个五倍赔率能赢得彩金。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
            <li>六串五十七式（heinz）投注</li>
            <p class="rulep mgbt20">包含57项投注，涉及不同赛事的6种选择方案，15个双倍赔率，20个三倍赔率，15个四倍赔率，6个五倍赔率和1个六倍赔率。任何两种选择方案获胜都能保证赢得彩金。如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果任何5个选择方案获胜，则所有10个双倍赔率，10个三倍赔率，5个四倍赔率和1个五倍赔率能赢得彩金。如果全部6个选择方案获胜，则所有15个双倍赔率，20个三倍赔率，15个四倍赔率，6个五倍赔率和1个六倍赔率能赢得彩金。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
            
            <li>超级六串五十七式（super heinz）投注</li>
            <p class="rulep mgbt20">包含120项投注，涉及不同赛事的7种选择方案，21个双倍赔率，35个三倍赔率，35个四倍赔率，21个五倍赔率，7个六倍赔率和1个七倍赔率。任何两种选择方案获胜都能保证赢得彩金。如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果任何6个选择方案获胜，则所有15个双倍赔率，20个三倍赔率，15个四倍赔率，6个五倍赔率和1个六倍赔率能赢得彩金。如果全部7个选择方案获胜，则所有21个双倍赔率，35个三倍赔率，35个四倍赔率，21个五倍赔率，7个六倍赔率和1个七倍赔率能赢得彩金。如果一种（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
            <li>八串二百四十七式（goliath）投注</li>
            <p class="rulep mgbt20">包含247项投注，涉及不同赛事的8种选择方案，28个双倍赔率，56个三倍赔率，70个四倍赔率，56个五倍赔率，28个六倍赔率，8个七倍赔率和1个八倍赔率。任何两种选择方案获胜都能保证赢得彩金。如果您的选择方案中有任何两者获胜，双倍赔率之一能赢得彩金。如果任何7个选择方案获胜，则所有21个双倍赔率，35个三倍赔率，35个四倍赔率，21个五倍赔率，7个六倍赔率和1个七倍赔率能赢得彩金。如果全部8种选择方案获胜，则所有的28个双倍赔率，56个三倍赔率，70个四倍赔率，56个五倍赔率，28个六倍赔率，8个七倍赔率和1个八倍赔率能赢得彩金。如果一个（或以上）选择方案延期，则该方案的赔率恢复为1.00。</p>
        </ol>
        <div class="clear"></div>
    </div>
    <p class="text1">现场赛事投注不提供三串四（Trixie）、四串一（Yankee）、五串二十六（Canadian）、六串五十七（heinz）、超级六串五十七（Super Heinz）和八串二百四十七式（goliath）的选择方案。有关更多详情，请点击混合过关投注页面中投注菜单上的图标“i”参看。</p>
    <div class="clear"></div>
</div>