<div class="mgbt20 rule">
  <ol>
    <li>点球</li>
    <p class="rulep">点球是指对一场比赛中判罚的点球次数下注。</p>
    <p class="rulep">如果一场比赛在一次点球判罚并发出后中止，则所有投注皆有效。</p>
    <p class="rulep mgbt20">如果一场比赛在一次点球判罚并发出前中止，则所有投注皆无效。</p>
    
    <li>点球大战</li>
    <p class="rulep">点球大战是指投注哪支球队会在点球大战中获胜。</p>
    <p class="rulep mgbt20">在让分投注中，结果包括点球大战中所有的罚球数，包括突然死亡。 在大/小盘投注中，结果仅仅包括点球大战中的十个常规点球，并且不包括突然死亡。</p>
    
    <li>判罚点球</li>
    <p class="rulep">判罚点球是指投注预测是否在该赛事中有判罚点球。</p>
    <p class="rulep">以下为投注选项：</p>
    <ul>
      <li>有</li>
      <li>没有</li>
    </ul>
    
  </ol>
  
  <div class="clear"></div>
</div>