<div class="mgbt20 rule">
    <ol>
        <li>双方/一方/双方皆不得分</li>
        <p class="rulep">双方 = 双方球队皆得分</p>
        <p class="rulep">一方 = 一方球队得分</p>
        <p class="rulep">双方皆不 = 双方球队皆不得分</p>
        <p class="rulep">如果赛事在只有主场进球之后中止，则“两者皆不”的投注将有效，但“双反”和“一方”的投注均视为无效。如果只有客场进球，则“两者皆不”的投注将有效，但“双方”和“一方”的投注均视为无效。如果主客场都有进球，则全部投注视为有效。如果赛事在没有任何进球的情况下中止，则全部投注视为无效。</p>
        <ul>
            <li>规则1：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 = 0 (1, 2…: 0)</p>
            <p class="pointp">双方 – 退还；一方 – 退还；两者皆不 – 输</p>
            <li>规则2：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 ≥ 1 (1, 2…: 1, 2…)</p>
            <p class="pointp">双方 – 赢；一方 – 输；两者皆不 – 输</p>
            <li>规则3：</li>
            <p class="pointp">主场得分 = 0，客场得分 ≥ 1 (0 : 1, 2…)</p>
            <p class="pointp mgbt20">双方 – 退还；一方 – 退还；两者皆不 – 输</p>
        </ul>
        
        
        <li>准确组积分</li>
        <p class="rulep mgbt20">准确组积分指投注预测一支球队在一轮小组赛结束时得到的特定总积分数。</p>
        
        <li>得分最高组</li>
        <p class="rulep">表示投注预测在指定日期一个组的总进球数。</p>
        <p class="rulep">如果小组得分持平，则适用“不分胜负”的规则。</p>
        <p class="rulep mgbt20">例：A组，波兰比希腊2-1=3个进球，俄罗斯比捷克3-2=5个进球，A组总进球数：8个进球，B组总进球数：7个进球，C组总进球数：7个进球，D 组总进球数：6个进球，A组为赢家。</p>
        
        <li>球队组积分</li>
        <p class="rulep">表示投注在一轮小组赛结束时一支球队的积分所属的准确类别，“小盘”、“中间盘”和“大盘”。</p>
        <p class="rulep mgbt20">例：球队X的总积分为5分，如果投注为：小盘低于3分 – 输；中间盘3-4分 – 输；大盘4分以上 – 赢。
        </p>
        
        <li>点球大战 – 点球是否会得分？</li>
        <p class="rulep">表示投注预测在点球大战中一名指定的开球员是否会得分或错失良机。
        </p>
        <p class="rulep mgbt20">如果未进行点球大战，则所有投注将被视作无效。</p>
        
        
    </ol>
    
    <div class="clear"></div>
</div>