<div class="mgbt20 rule">
  <ol>
    <h4>多玩家French Roulette</h4>
    <p class="text1">游戏的目标是预测小球将在轮盘哪个位置停留。</p>
    <li>多玩家</li>
    <p class="rulep">多玩家牌桌允许观众观看和多达四个玩家游戏。当您加入多玩家牌桌时，您首先是一名观众。作为观众，您可以看到游戏的进度和其他玩家的对话，但您不能投放赌注或进行聊天。</p>
    <p class="rulep">如果牌桌有空座位，点击“加入”在牌桌上坐下并开始游戏。</p>
    <p class="rulep mgbt20">请牢记，没有参加游戏的玩家和观众可以观看的牌桌游戏局数是有限制的。</p>
    <li>游戏玩法</li>
    <p class="rulep">单击选择含有所需值的筹码。</p>
    <p class="rulep">将鼠标指针放在桌子布局的任何位置，会弹出工具提示，显示该下注区已放置的赌注类型、该赌注类型的赔率、最大和最小限制以及您在该位置旋转的赌注数额。此外，赌注将包括的数字也会在桌子布局上加亮显示。</p>
    <p class="rulep">点击轮盘赌桌上的数字或赌注区放置您的赌注。每点击一次赌注区，赌注即添加选定数额的筹码。</p>
    <p class="rulep">最小和最大下注限额取决于您的VIP等级。如果赌注小于最低限制，则显示信息提示赌注不足，牌桌上相应的筹码闪动三次。关于所有位置下注限额的详细信息，点击牌桌上的限额标志。</p>
    <p class="rulep">玩家使用的筹码颜色取决于其位置，该颜色与玩家的名称标签颜色一样。</p>
    <ul>
      <li>从对应的菜单中投放邻注或宣布赌注。</li>
      <p class="pointp fwbd">投放邻注：</p>
      <p class="pointp pdlef16">A.在游戏窗口的左下角单击“邻注”按钮，然后打开“邻注”面板。</p>
      <p class="pointp pdlef16">B.在打开的面板上，选择轮盘上需要的数字。</p>
      <p class="pointp pdlef16">C.通过单击排列在轮盘模型下相应的数字键（1、2、3 和 4），选择目标数字两侧的相邻数字。</p>
      <p class="pointp pdlef16">D.“数字”字段显示与“邻注”相关的数字。</p>
      <p class="pointp pdlef16">E.“总赌注”字段显示“邻注”的总数-投放与“邻注”相关的各个数字的赌注总和。</p>
      <p class="pointp pdlef16">F.每次旋转可以投放多个“邻注”。</p>
      <p class="pointp pdlef16">G.单击“清除”可移除不需要的“邻注”。</p>
      <p class="pointp pdlef16">H.投放所有需要的“邻注”后，单击“关闭”退出“邻注”面板。</p>
      <p class="pointp fwbd">投放宣布赌注：</p>
      <p class="pointp pdlef16">A.在游戏窗口的左下角单击“宣布赌注”按钮，然后打开“宣布赌注”面板。</p>
      <p class="pointp pdlef16">B.在打开的面板上，点击宣布注对应的域，选择想要的宣布注数额。每点一次增加当前在主游戏窗口选择的筹码值，右键单击减少相应数值。</p>
      <p class="pointp pdlef16">C.所选数额的赌注即放置在宣布注相关的每个赌注位置上。注意，当放置Voisins du零赌注时，赌注值在放置了两个筹码的位置加倍。</p>
      <p class="pointp pdlef16">D.轮盘赌桌模型显示与“宣布赌注”相关的数字。</p>
      <p class="pointp pdlef16">E.每次旋转可以投放多个“宣布赌注”。</p>
      <p class="pointp pdlef16">F.投放所有需要的“宣布赌注”后，单击“关闭”退出“宣布赌注”面板。</p>             </ul>
      <p class="rulep">若要增加其他金额的赌注，请选择其他筹码并单击需要的下注区域。</p>
      <p class="rulep">Shift点击（按住Shift点击）赌注区，从赌注中去除与选中筹码相同数额的筹码，如果选定筹码比已放置赌注数额大，则去除整个赌注。</p>
      <p class="rulep">您可同时将多个筹码放置在不同的下注区。</p>
      <p class="rulep">您必须在限定的时间内下注。定时器显示了可投注的剩余时间。投放赌注后，请点击“确认赌注”以确认您的赌注。一旦确认后，赌注就不能从牌桌上删除。确认部分赌注后，只要定时器中仍有时间剩余，您就可以投放额外赌注，但是您必须再次点击“确认赌注”。只有经确认的赌注才能加入游戏，所有未确认的赌注将被退回。</p>
      <p class="rulep">您可以点击“清除赌注”从牌桌上移除所有未确认的筹码。点击“加倍”将您已经投放在牌桌的赌注加倍。</p>
      <p class="rulep">旋转结束后，点击“重下注”投放与上局旋转相同的赌注。您仍需点击“确认赌注”以确认赌注。</p>
    </ol>
    <div class="clear"></div>
  </div>