<div class="mgbt20 rule">
    <ol>
        <li>1X2</li>
        <p class="rulep mgbt20">1X2指对一项赛事三种可能的获胜结果之一下注。1代表首先被提及的球队（通常是主场球队）；X代表比赛结果打平或为平局；2代表第二个被提及的球队（通常是客场球队）。</p>
        
        <li>半场/全场（HT、FT）</li>
        <p class="rulep">半场/全场表示投注预测一项赛事的半场赛果和全场赛果（加时赛不计入内）。下列与本赌盘有关的字母含义：H指首先被提及的球队（通常是主场球队）；D指平手；A指第二个被提及的球队（通常是客场球队）。
        </p>
        <p class="rulep mgbt20">例 – HA表示首先被提及的球队（主队）半场会领先，第二个被提及的球队（客队）的全场得分会领先。</p>
        
        <li>角球</li>
        <p class="rulep">判罚后未开出的角球不计入内。</p>
        <p class="rulep">角球数</p>
        <ul>
            <li>让球和上半场让球</li>
            <p class="pointp">让球指投注哪支队伍在一场比赛中角球数最多，包括任何让球数。</p>
            <p class="pointp">上半场让球是指投注上半场比赛中角球数最多的队伍，包含任何让球数。</p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让球的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让球的投注将视为有效。</p>
            <li>小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中两支队伍总共开出的角球数。</p>
            <p class="pointp">上半场大小盘是指投注上半场比赛中双方所开出角球的总数。</p>
            <p class="pointp">如果总角球数大于“大小盘”预先指定的总角球数，则投注“大盘”的为赢家；如果总角球数少于“大小盘”预先指定的总角球数，则投注“小盘”的为赢家。</p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
            
        </ul>
        
        <p class="rulep">第一个角球和下半场第一个角球</p>
        <ul>
            <li>第一个角球是指投注比赛中获得第一个角球的队伍。</li>
            <li>下半场第一个角球是指投注下半场比赛中获得第一个角球的队伍。</li>
            <li>如果在开出第一个角球后赛事中止，所有投注仍有效。如果在开出第一个角球前赛事中止，所有投注均作废。</li>
        </ul>
        
        <p class="rulep">最后一个角球</p>
        <ul>
            <li>最后一个角球表示投注一场比赛中哪支队伍会发出最后一个角球。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
            
        </ul>
        
        <p class="rulep">下一个角球</p>
        <ul>
            <li>下一个角球表示投注一场比赛中哪支队伍会发出下一个角球。</li>
            <li class="mgbt20">如果下注指定的角球已经开出，所有投注会被视为有效。</li>
            
        </ul>
        
        
        <li>罚牌总数</li>
        <p class="rulep">一张黄牌计一点，一张红牌计两点。一场比赛中一位球员的最高点数为三点（黄牌一点，红牌两点，第二张黄牌不计入内）。
        </p>
        <p class="rulep">非上场球员（经理、教练、替补球员）收到的罚牌不计入内。</p>
        <p class="rulep">总罚牌数</p>
        <ul>
            <li>让分和上半场让分</li>
            <p class="pointp">让球指投注哪支队伍在一场比赛中收到的罚牌数最多，包括任何让分数。</p>
            <p class="pointp">上半场让分是指投注上半场比赛中收到最多罚牌的队伍，包含任何让分。</p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让分的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让分的投注将视为有效。</p>
            <li>大小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中两支队伍总共收到的罚牌数。</p>
            <p class="pointp">上半场大小盘是指投注上半场比赛中两队收到的罚牌总数。</p>
            <p class="pointp">如果总罚牌数大于“大小盘”预先指定的总罚牌数，则投注“大盘”的为赢家；如果总罚牌数少于“大小盘”预先指定的总罚牌数，则投注“小盘”的为赢家。</p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
            
        </ul>
        
        <p class="rulep">第一张罚牌和下半场第一张罚牌</p>
        <ul>
            <li>第一张罚牌是指投注在一场比赛中哪支球队会收到第一张罚牌（黄牌或红牌）。</li>
            <li>下半场第一张罚牌是指投注下半场比赛中收到第一张罚牌 (黄牌或红牌) 的队伍。</li>
            <li>若两名以上的球员因为同一个事件收到罚牌，则以裁判首先亮牌的球员为赢家。</li>
            <li>若在第一张罚牌发出后赛事中止，所有投注仍有效。若在第一张罚牌发出前赛事中止，所有投注皆作废。</li>
            
        </ul>
        
        <p class="rulep">最后一张罚牌</p>
        <ul>
            <li>最后一张罚牌是指投注在一场比赛中哪支球队会收到最后一张罚牌（黄牌或红牌）。</li>
            <li>如果两名或以上球员因为同一事件收到罚牌，则最后被裁判亮牌的球员将被视为赢方。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">下一张罚牌</p>
        <ul>
            <li>下一张罚牌是指投注预测取得下一张罚牌(黄牌或红牌)的队伍。</li>
            <li class="mgbt20">如果投注的罚牌已经发出，注单将视为有效。</li>
        </ul>
        
        
        <li>越位</li>
        <p class="rulep">越位次数</p>
        <ul>
            <li>让分和上半场让分</li>
            <p class="pointp">让分指投注哪支队伍在一场比赛中越位次数最多，包括任何让分数。
            </p>
            <p class="pointp">上半场让分是指投注上半场比赛中越位次数最多的队伍，包含任何让分。
            </p>
            <p class="pointp">如果赛事在上半场期间中止，全部上半场让分的投注将视为无效。相反的，如果赛事在下半场期间中止，则全部上半场让分的投注将视为有效。</p>
            <li>大小盘和上半场大小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中被判决的总越位次数。</p>
            <p class="pointp">上半场大于/小于是指投注上半场比赛中越位判罚的总数。</p>
            <p class="pointp">如果总越位次数大于“大小盘”预先指定的总越位次数，则投注“大盘”的为赢家；如果总越位次数少于“大小盘”预先指定的总越位次数，则投注“小盘”的为赢家。
            </p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        </ul>
        
        <p class="rulep">第一次越位和下半场第一次越位</p>
        <ul>
            <li>第一次越位表示投注一场比赛中哪支队伍会发生第一次越位。</li>
            <li>下半场第一次越位是指投注下半场最先被判越位的队伍。</li>
            <li>如果在第一次越位判罚后赛事中止，所有投注均有效。如果在第一次越位判罚前赛事中止，所有投注均作废。</li>
        </ul>
        
        <p class="rulep">最后一次越位</p>
        <ul>
            <li>最后一次越位表示投注一场比赛中哪支队伍会发生最后一次越位。</li>
            <li>如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">下一次越位</p>
        <ul>
            <li>下一次越位是指投注预测下一个被判越位的队伍。</li>
            <li class="mgbt20">如果投注的越位已经判出，注单将视为有效。</li>
        </ul>
        
        
        <li>换人</li>
        <p class="rulep">换人次数</p>
        <ul>
            <li>让分</li>
            <p class="pointp">让分指投注哪支队伍在一场比赛中换人次数最多，包括任何让分。</p>
            <p class="pointp">如果赛事中止，则所有投注都无效。</p>
            
            <li>大/小盘</li>
            <p class="pointp">大/小盘是指投注一场比赛中的总换人次数。</p>
            <p class="pointp">如果总换人次数超过大/小盘的基线换人次数，则投注大盘者为赢家；如果总越位数少于大/小盘的基线换人次数，则投注小盘者为赢家。</p>
            <p class="pointp">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        </ul>
        
        <p class="rulep">第一次换人</p>
        <ul>
            <li>第一次换人表示投注一场比赛中哪支队伍会首先换人。</li>
            <li>如果同一时间内两名或以上球员被替换，则首先被第四裁判亮出编号的球员将被视为赢方。</li>
            <li>如果在第一次换人后，比赛中止，则所有投注都有效。如果在第一次换人前比赛中止，则所有投注都无效。</li>
        </ul>
        
        <p class="rulep">最后一次换人</p>
        <ul>
            <li>最后一次换人表示投注一场比赛中哪支队伍会最后换人。</li>
            <li>如果同一时间内两名或以上球员被替换，则最后被第四裁判亮出编号的球员将被视为赢方。</li>
            <li class="mgbt20">如果赛事中止，则所有投注都无效。</li>
        </ul>
        
        
        <li>零失球</li>
        <p class="rulep">零失球表示对将会保持零失球的一支球队投注“是”（不会失分）或者对不会保持零失球（会失分）的一支球队投注“否”。</p>
        <p class="rulep">如果赛事在只有主场进球之后中止， 则“客场是和没有”的投注将有效，但“主场是和没有”的投注均视为无效。如果只有客场进球，则“主场是和没有”的投注将有效，但“客场是和没有”的投注均视为无效。如果主客场都有进球，则全部投注视为有效。如果赛事在没有任何进球的情况下中止，则全部投注视为无效。</p>
        <ul>
            <li>规则1：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 = 0 (1, 2…: 0)</p>
            <p class="pointp">主场是 – 退还；客场是 – 输</p>
            <p class="pointp">主场没有 – 退还；客场没有 – 赢</p>
            <li>规则2：</li>
            <p class="pointp">主场得分 ≥ 1，客场得分 ≥ 1 (1, 2…: 1, 2…)</p>
            <p class="pointp">主场是 – 输；客场是 – 输</p>
            <p class="pointp">主场没有 – 赢；客场没有 – 赢</p>
            <li>规则3：</li>
            <p class="pointp">主场得分 = 0，客场得分 ≥ 1 (0 : 1, 2…)</p>
            <p class="pointp">主场是 – 输；客场是 – 退还</p>
            <p class="pointp">主场没有 – 赢；客场没有 – 退还</p>
            
        </ul>
        
    </ol>
    
    <div class="clear"></div>
</div>