<h3>曲棍球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>冰上曲棍球</li>
        <p class="rulep">全场赌盘会提供“仅指常规比赛时间”或者“包括加时赛和点球大战”，或者两者皆有。客户应始终参看赌盘名称。对于由点球大战决定的比赛，获胜队伍的得分会被增加一个进球，以便确定最终赛果。
        </p>
        <p class="rulep">如果一场比赛没有在预定开始日期开始，则所有投注将无效（除非另有说明）。
        </p>
        <p class="rulep">如果一场比赛在预定开始时间后的十二个小时内中止或暂停，只要比赛已经完成了五十五（55）分钟的赛程，则全场投注仍会被视作有效。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。否则对于暂停或中止的比赛的投注将为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">对于赛局投注，必须完成一局，投注才会被视为有效。</p>
        <p class="rulep">第三局结果不包括任何可能会进行的加时赛或点球大战。</p>
        <p class="rulep">“冰上曲棍球现场投注”是根据正规时间（三局）结束时的赛果结算的。加时赛和点球大战的结果不计入内。
        </p>
        <p class="rulep">得分会更新用于冰上曲棍球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。
        </p>
        <p class="rulep mgbt20">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险; 认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。</p>
        
        <li>曲棍球</li>
        <p class="rulep">所有全场赌盘包括现场投注将会根据正规时间结束时的最终赛果结算。加时赛、金球赛和点球大战不计入全场赌盘。（有关加时赛（ET）和点球大战（PEN）的特定赌盘可接受下注。）
        </p>
        <p class="rulep">如果一场比赛延期、暂停或中止，并且未在预定开赛时间后的十二个小时内复赛，则所有投注会被视为无效，除了对对无条件决定的赌盘所下投注以外。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。
        </p>
        <p class="rulep">“上半场”赌盘指上半场比赛的结果。如果指定的半场未完成，则所有投注将被视为无效。
        </p>
        <p class="rulep">“曲棍球现场投注”是根据正规时间结束时的比赛结果进行结算的。</p>
        <p class="rulep">得分会更新用于曲棍球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。
        </p>
        <p class="rulep">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险; 认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。</p>
    </ol>
    
    <div class="clear"></div>
</div>