<div class="mgbt20 rule">
  <ol>
    <h4>美式轮盘</h4>
    <p class="text1">游戏的目标是预测小球将在轮盘哪个位置停留。轮盘包括红黑相间的 1 至 36 号数字和绿色的 0 和 00。</p>
    <li>游戏玩法</li>
    <p class="rulep">单击选择含有所需值的筹码。</p>
    <p class="rulep">单击轮盘赌桌上的数字或下注区域下注。每次单击该区域将在赌注中增加一个所选值的筹码。</p>
    <p class="rulep">最小和最大下注限额取决于您的VIP等级。如果赌注小于最低限制，则显示信息提示赌注不足，牌桌上相应的筹码闪动三次。关于所有位置下注限额的详细信息，将鼠标悬停或点击牌桌上的限额标志。</p>
    <p class="rulep">若要增加其他金额的赌注，请选择其他筹码并单击需要的下注区域。</p>
    <p class="rulep">Shift点击（按住Shift点击）赌注区，从赌注中去除与选中筹码相同数额的筹码，如果选定筹码比已放置赌注数额大，则去除整个赌注。</p>
    <p class="rulep">您可同时将多个筹码放置在不同的下注区。</p>
    <p class="rulep">请在投放赌注后单击“旋转”转动小球。请注意，“旋转”按钮在赌注低于最低限制时不能使用。单击“清除赌注”从赌桌上移除所有已下赌注。旋转结束后，单击“重新下注”投放与上一轮旋转相同的赌注，然后单击“旋转”转动小球。</p>
    <p class="rulep mgbt20">获胜赌注留在桌子上。您可像拿走别的赌注一样把它们拿走，也可留在牌桌上供下一局使用。Inandplay可在某个牌桌上禁用此功能。如果禁用，获胜赌注与您的奖金一起返还给您。</p>
  </ol>
  <div class="clear"></div>
</div>