<div class="mgbt20 rule">
  <ol>
    <h4>多玩家Blackjack</h4>
    <p class="text1">六副牌的21点。</p>
    <li>多玩家</li>
    <p class="rulep">多玩家牌桌允许观众观看和多达五个玩家游戏。当您加入多玩家牌桌时，您首先是一名观众。作为观众，您可以看到游戏的进度和其他玩家的对话，但您不能投放赌注或进行聊天。</p>
    <p class="rulep">如果牌桌有空座位，点击“加入”在牌桌上坐下并开始游戏。</p>
    <p class="rulep mgbt20">请牢记，没有参加游戏的玩家和观众可以观看的牌桌游戏局数是有限制的。</p>
    <li>游戏玩法</li>
    <p class="rulep">您进入时，可能有一局游戏正在进行中。请等待这局游戏结束。</p>
    <p class="rulep">在新游戏局开始后投注。点击筹码增加赌注。每点击筹码一次，您的投注增加所选筹码之数额，Shift-点击减少。</p>
    <p class="rulep">最小和最大下注限额取决于您的VIP等级，并且显示于牌桌上。</p>
    <p class="rulep">您必须在限定的时间内下注。定时器显示了可投注的剩余时间。投注后，请点击“确认赌注”以确认您的赌注。一旦确认后，赌注就不能从牌桌上删除。确认部分赌注后，只要定时器中仍有时间剩余，您就可以投放额外赌注，但是您必须再次点击“确认赌注”。只有经确认的赌注才能加入游戏，所有未确认的赌注将被退回。</p>
    <p class="rulep">您可点击“清除赌注”删除牌桌上所有未确认的筹码。</p>
    <p class="rulep">投注的游戏局结束后，点击“再次下注”投放和前一局相同的赌注。您仍需点击“确认赌注”以确认赌注。</p>
    <p class="rulep">当投注时间结束后，庄家和各个已下注的玩家将会发得两张牌。玩家每次均被提示执行一项操作，从最左边的玩家开始。</p>
    <p class="rulep">如果庄家翻开的牌是A，您则被提供保险。点击“保险”按钮预防庄家有二十一点。</p>
    <p class="rulep">按需要使用“要牌”、“开牌”、“ 加倍”和“分牌”按钮。</p>
    <p class="rulep">请注意投保、加倍和分牌都需要加注。若账户余额不足，您需要存入更多的存款才能使用这些功能。</p>
    <p class="rulep">您必须在限定的时间内执行各个操作。定时器显示了执行各个操作所剩余的时间。若您在限时前没有操作，您将会自动停牌。</p>
    <p class="rulep">庄家展示面朝下的牌，并根据规则抽取附加牌。</p>
    <p class="rulep">您的手牌与庄家手牌对比。</p>
  </ol>
  <div class="clear"></div>
</div>