<div class="mgbt20 rule">
    <ol start=8>
        <li>欧洲最高名次球队</li>
        <p class="rulep">欧洲最高名次球队是指投注预测哪支欧洲球队在国际足联世界杯赛事得到最高名次。</p>
        <p class="rulep">如果两个欧洲球队在总决赛或季军争夺赛对决，本场球赛的获胜者将被视为欧洲最高名次球队。
        </p>
        <p class="rulep">在其他情况下，如果多个欧洲球队在同一轮赛事终止，则应用“不分胜负”的投注规则，一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，则按比例分配赌金。
        </p>
        <p class="rulep mgbt20">所有欧洲最高名次球队的投注将根据国际足联世界杯官方公告的成绩来结算投注。</p>
        
        <li>南美洲最高名次球队</li>
        <p class="rulep">南美洲最高名次球队是指投注预测哪支南美洲球队在国际足联世界杯赛事得到最高名次。
        </p>
        <p class="rulep">如果两个南美洲球队在总决赛或季军争夺赛对决，本场球赛的获胜者将被视为南美洲最高名次球队。
        </p>
        <p class="rulep">在其他情况下，如果多个南美洲球队在同一轮赛事终止，则应用“不分胜负”的投注规则，一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，则按比例分配赌金。
        </p>
        <p class="rulep mgbt20">所有南美洲最高名次球队的投注将根据国际足联世界杯官方公告的成绩来结算投注。</p>
        
        <li>非洲最高名次球队</li>
        <p class="rulep">非洲最高名次球队是指投注预测哪支非洲球队在国际足联世界杯赛事得到最高名次。
        </p>
        <p class="rulep">如果两个非洲球队在总决赛或季军争夺赛对决，本场球赛的获胜者将被视为非洲最高名次球队。
        </p>
        <p class="rulep">在其他情况下，如果多个非洲球队在同一轮赛事终止，则应用“不分胜负”的投注规则，一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，则按比例分配赌金。
        </p>
        <p class="rulep mgbt20">所有非洲最高名次球队的投注将根据国际足联世界杯官方公告的成绩来结算投注。</p>
        
        <li>哪支球队晋级</li>
        <p class="rulep mgbt20">哪支球队晋级是指投注预测哪支球队将会晋级下一轮赛事。</p>
        
        <li>最高名次球队的球衣赞助商</li>
        <p class="rulep">最高名次球队的球衣赞助商是指投注预测哪个球衣赞助商的球队会赢得冠军头衔。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>