<!--內容分類背景-->
<div class="sub-box">
    <!--內容分類文字-->
    <div class="mgbt20 rule">
        <ol>
            <li>存款方式</li>
            <p class="rulep">VWIN向用户提供多种存款方式，您可以选择您最便捷的方式进行存款。</p>
            <ul>
                <li>在线支付</li>
                <p class="pointp">只要您拥有网银账户，即可通过网上银行实现在线存款交易。在线支付是指卖方与买方通过因特网上的电子商务网站进行交易时，银行为其提供网上资金结算服务的一种业务。它为企业和个人提供了一个安全、快捷、方便的电子商务应用环境和网上资金结算工具。 </p>
                <li>银行汇款</li>
                <p class="pointp">进行银行汇款有很多种方式，只要您所持有的银行支援，您都可以进行汇款。目前主要的存款途径分为：</p>
                <p class="pointp">在线支付 / 微信转账 / 快捷支付</p>
                <li>存款安全</li>
                <p class="pointp mgbt20">我们一直将保护客户隐私及安全性作为首要宗旨， 所有支付交易的处理均采用了高标准的DES Base64对参数加密，并且支持https传送数据加密方式，确保您的所有信息万无一失。 </p>
            </ul>
            <li>存款中常见问题</li>
            <ul>
                <li>问：没有网银账户是否能存款？ </li>
                <p class="pointp">答：可以。 VWIN为您提供多种存款方式，如果您没有网银账户，也可以通过银行汇款的方式进行存款的。我们支持内地 主流的三家银行（中国工商银行、中国建设银行、招商银行）的银行汇款。您可先登录网站获取我们的存 款账户信息，之后通过ATM或者转账汇款方式进行存款。 </p>
                <li>问：存款后多久款项能到我的VWIN账户？ </li>
                <p class="pointp">
                    答：VWIN提供最先进便捷的存款方式及到账速度。如使用在线支付方式存款，在您完成存款的同时，款项即可到账。如使用银行汇款方式存款，请务必留意您实际存款金额和信息与您获取存款账户时填写的信息完全一致，这样您的款项也是可以即时到账的。
                </p>
                <li>问：是否可以使用其他人的银行卡存款？ </li>
                <p class="pointp">答：不可以。因为遵守国际反洗钱法的规定,我们只允许客户使用本人的银行卡进行存款。 </p>
                <li>问：存款有没有手续费？ </li>
                <p class="pointp">答：无论您使用何种存款方式，VWIN都会承担您的手续费。您使用在线支付方式存款是没有手续费的。银行汇款方式存款，银行会收取您一定的手续费用，但是我们会给您每笔 存款1%的存款手续费红利，可以很好地补贴您的手续费。 </p>
                <li>问：存款后款项没有到账怎么办？ </li>
                <p class="pointp">答：请联系我们7x24小时在线客服寻求帮助，我们将竭诚为您服务。 </p>
                <li>问：如果我没有网银又没有您们指定的3家银行的银行卡，如何存款？ </li>
                <p class="pointp">答：首先建议您去开通银行卡网上银行功能，这对于您的存取款都将会非常便利。如果您暂时没有网银，您也可以使用ATM或者转账汇款的方式进行银行转账汇款。 </p>
                <li>问：可以跨行汇款吗？ </li>
                <p class="pointp">答：可以，但是我们不建议您使用跨行汇款。因为跨行汇款的到账速度取决于银行的处理时间，到账时间无法保障。如果您暂时只可使用跨行汇款方式存款，建议您在银行的工作时间内使用跨行快汇的方式，处理时间及到账速度还可以保障的。非银行工作时间内就不建议您进行跨行汇款了。 </p>
                <li>问：更换存款方式怎么办？ </li>
                <p class="pointp mgbt20">答：如果您先获取了我们提供的银行账号，而后又想通过在线支付的方式进行存款。请重新点击[存款]，重新进行一遍存款流程的操作即可。 </p>
            </ul>
            <li>存款注意事项</li>
            <p class="rulep">在使用银行汇款方式存款时，请务必留意您实际的存款金额和信息与获取存款账户时填写的信息一致。比如您在网站填写您的存款金额或系​​统提示您存款金额为103元，请您汇款时就汇入103元。以免造成款项无法即时自动即时到账。 </p>
            <p class="rulep">获取存款账号后，请留意在账号的有效期内进行汇款。如账号过期，请重新获取新的账号进行存款。网站页面上都会有简洁清晰的标注，请您在操作时留意每一步的提示信息即可。 </p>
            <!--table class="mc-table tactr tbl" style="width:96%">
            <tr>
                <th>方式</th>
                <th>限额</th>
                <th>存款时间</th>
                <th>手续​​费</th>
                <th>处理时间</th>
                <th>备注</th>
            </tr>
            <tr>
                <td>在线支付</td>
                <td>100-38,000</td>
                <td>无限制</td>
                <td>无</td>
                <td>即时</td>
                <td>视银行要求</td>
            </tr>
            <tr>
                <td>银行汇款（同行）</td>
                <td>100-450,000</td>
                <td>无限制</td>
                <td>视各家银行规定</td>
                <td>即时</td>
                <td>有手续费红利</td>
            </tr>
            <tr>
                <td>银行汇款（跨行）</td>
                <td>100-450,000</td>
                <td>无限制</td>
                <td>视各家银行规定</td>
                <td>最快5-10分钟视银行处理时间</td>
                <td>有手续费红利</td>
            </tr>
        </table-->
    </ol>
    <div class="clear"></div>
</div>
<div class="clear"></div>
</div>