<div class="mgbt20 rule">
  <ol>
    <h4>8球吃角子老虎</h4>
    <p class="text1">3- 转最大下注 2 吃角子老虎</p>
    <p class="text2">8- 球游戏的目标是通过转动卷轴来获得可以胜出的组合符号。</p>
    <p class="text2">在 8- 球游戏当中有两种球：花球和全色球。最高的符号是 8 号球，它既不是花球也不是全色球。</p>
    <li>游戏玩法</li>
    <p class="rulep">单击屏幕左边的 + 和 – 按钮选择您要在每局下注的硬币数。</p>
    <p class="rulep">单击“赌一个”或者“赌最大”按钮选择您想下注的硬币数。单击“赌一个” 下一个硬币的赌注，或者“赌最大”下两个硬币的赌注，并自动旋转转轴。</p>
    <p class="rulep">您也可以单击赔率表中相应的列下注（左边一列下一个硬币的赌注，右边一列下两个硬币的赌注）。转轴会开始自动旋转。</p>
    <p class="rulep">单击“赌最大”可将您的赌注增加至最大 － 即两个硬币 － 并且自动旋转转轴。</p>
    <p class="rulep">单击“旋转”按钮（如果没有按“赌最大”或者使用赔率表），或者点击转臂以旋转转轴。</p>
    <p class="rulep mgbt20">如果转轴停止后显示赢奖组合（沿着赔付线），您将依照赔率表赢得相应奖金。</p>
    <p class="text2">请注意： 赔付线赌注和总赌注有所不同。 赔付线赌注显示您在单个赔付在线下了多少赌注。总赌注显示您在这局游戏中总共下了多少赌注。赔率表中显示的赔率将乘以硬币值，而不是赔付线赌注。如果您在多条赔付在线获得赢奖组合，每条赔付在线的奖金将会累加。</p>
  </ol>
  <div class="clear"></div>
</div>