<div class="mgbt20 rule">
    <ol start=22>
        <li>上半场赛果/总进球数</li>
        <p class="rulep">上半场赛果/总进球数是指投注预测赛事的上半场赛果以及两队在上半场的总进球数。</p>
        <p class="rulep mgbt20">如果赛事在上半场期间中止，所有投注将视为无效。如果赛事在下半场期间中止，则所有投注将视为有效。</p>
        
        <li>主队均进球 上半场/下半场</li>
        <p class="rulep">主队均进球，上半场/下半场是指投注预测主队是否均在上半场和下半场都进球。</p>
        <p class="rulep mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        
        <li>客队均进球 上半场/下半场</li>
        <p class="rulep">客队均进球，上半场/下半场是指投注预测客队是否均在上半场和下半场都进球。</p>
        <p class="rulep mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        
        <li>第一个点球进或不进</li>
        <p class="rulep mgbt20">第一个点球进或不进是指投注预测该比赛中的第一个点球将会进或错失点球。</p>
        
        <li>下一个进球</li>
        <p class="rulep mgbt20">下一个进球是指投注预测该比赛下一个进球的球队。</p>
        
        <li>进球最多的半场</li>
        <p class="rulep">进球最多的半场是指投注预测比赛中的哪一个半场进球最多。</p>
        <p class="rulep">投注选项包括：</p>
        <ul>
            <li>上半场</li>
            <li>下半场</li>
            <li>打和</li>
        </ul>
        
        <p class="rulep">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
        <p class="rulep">主队进球最多的半场</p>
        <ul>
            <li>主队进球最多的半场是指投注预测主队在比赛中的哪一个半场进球最多。</li>
            <li>如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
        
        <p class="rulep">客队进球最多的半场</p>
        <ul>
            <li>客队进球最多的半场是指投注预测客队在比赛中的哪一个半场进球最多。</li>
            <li  class="mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</li>
        </ul>
    </ol>
    
    <div class="clear"></div>
</div>