<div class="sub-box">
    <div class="rule rule2 noheight">
        <ol>
            <li>
                点击“存款”按钮，在存款方式上选择“微信支付”，输入存款金额
                <div><img src="/styles/images/help/helpimage-02-24.png"></div>
            </li>
            <li>
                进入“支付订单页面”按钮，打开微信“扫一扫”扫描存款订单页面展示的二维码，根据微信支付提示，即可完成存款流程。
                <div><img src="/styles/images/help/helpimage-02-25.png"></div>
            </li>
            <li>
                当您依照微信支付的提示完成存款操作后，请返回Vwin存款页面，并在“订单页面”点击“存款完成”按钮。
                <p>(系统将刷新您的账户余额，你可实时看到您存入的金额。当您对在线支付有任何疑问或建议，请联系我们的在线客服。)</p>
                <div><img src="/styles/images/help/helpimage-02-26.png"></div>
            </li>
        </ol>
    </div>
</div>