<h3>大小指数/五行</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
  <ol>
    <li>大小指数</li>
    <p class="rulep">以开出20个号码的总和数值为游戏结果，810以上为大，810以下为小，810为不分大小。</p>
    <p class="rulep">例：当20个号码总和数值是860时，即指数+50点，如投注"大"即为赢，再计算每点投注的金额，如设定为10元1点，即赢50点，可赢得500元，如投注"小"的话，相反会亏损500元，但如设定的上限为300元，即赢输的极限就只会到300元。</p>
    
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th>最小点距</th>
        <th>最大点距</th>
        <th>投注指数大/小，结果810</th>
        <th>赢佣金%</th>
      </tr>
      <tr>
        <td>5</td>
        <td>600</td>
        <td>投注回退</td>
        <td>5</td>
      </tr>
    </table>
    
    <li>五行</li>
    <p class="rulep">五行，即总和数值范围。开出20个号码的总和分在五个数段中，五个数段以金、木、水、火、土命名： 金(210~695)、木(696~763)、水(764~855)、火(856~923)和土(924~1410)。
    </p>
    <p class="rulep">例：开奖号码为01、02、05、09、10、17、18、26、28、33、34、35、41、43、50、57、68、73、76、80，总数值是706，则数值段在(696~763)
    内，则开出是"木"。下注"木"为赢，下注其他的四个的五行值为输。</p>
    
    <p class="rulep">赔率设置</p>
    
    <table class="mc-table tactr tbl">
      <tr>
        <th></th>
        <th>金</th>
        <th>木</th>
        <th>水</th>
        <th>火</th>
        <th>土</th>
      </tr>
      <tr>
        <td>赔率</td>
        <td>9.2</td>
        <td>4.6</td>
        <td>2.4</td>
        <td>4.6</td>
        <td>9.2</td>
      </tr>
    </table>
  </ol>
  
  <div class="clear"></div>
</div>