<h3>网球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li class="normal">胜负盘指比赛或指定盘的赢家。让分赌盘依盘或比赛（请参阅赌盘名称）决定；大/小盘和单/双盘则依比赛（除非另有说明）而定。
        </li>
        <li class="normal">如果选手没有参与一场锦标赛或比赛，则对该名选手的所有投注将为无效。
        </li>
        <li class="normal">如果一名选手（或双人搭档）在一场比赛中退出或被取消资格，则所有投注将为无效，除了对无条件决定的赌盘所下投注以外。</li>
        <li class="normal">如果一场比赛延期或暂停，只要比赛会完成，则所有投注仍会被视为有效。</li>
        <li class="normal">不论场地或球场表面发生任何变化（包括比赛从户外转向室内球场，反之亦然），则所有投注仍会被视为有效。</li>
        <li class="normal">如果一场比赛原定的获胜所需盘数改变，则所有投注将无效，除了对无条件决定的赌盘的投注以外。</li>
        <li class="normal">第一盘赢家（第二、第三盘赢家等）是指指定盘的结果。如果指定的盘未完成，则所有投注将被视为无效。</li>
        <li class="normal">网球现场投注是依据比赛（或指定盘）结果结算的。网球现场投注时，得分不会更新。</li>
        <li class="normal">“最多发球得分”（两次发球失误等）赌盘是根据官方的比赛统计资料结算的。如果一名选手在比赛结束前退出或被取消比赛资格，则所有投注将无效。</li>
        <li class="normal">“首先发球得分”（两次发球失误等）赌盘是根据官方的比赛统计资料结算的。如果首先发球得分（两次发球失误等）赌盘已经确定，则所有投注仍将被视为有效，即使比赛因为选手退出或被取消资格而未完成。 如果在选手退出或被取消资格时没有发球得分（两次发球失误），则所有投注将被视为无效。</li>
        <li class="normal">赛局获胜方是指特定赛局的获胜方，如第1盘第1局，第1盘第2局等。如果一盘进入决胜局，则赌盘将指定为第第1盘决胜局；第2盘决胜局等。如果比赛完成前有选手退出/被取消资格，则所有投注将被视为无效。 如果一场赛局是经裁判判决“罚赛”结束，则该场赛局的所有投注将被视为无效（不过，如果赛局因“罚分”而结束，则所有投注仍然有效。） 如果一场比赛暂停，只要比赛会完成，则所有投注仍会被视为有效。</li>
    </ol>
    
    <div class="clear"></div>
</div>