<h3>V钱包介绍</h3>
<div class="horizonLine2 mgbt20"></div>
<div class="mgbt20">
  <div class="tactr"><img src="http://image.vwin.com/TemplateFile1/AW/20151019143643.jpg"></div>
  <!--內容分類標題-->
  <div class="mgbt20">
    <div class="mgbt20 rule3">
      <ol>
        <li class="normal">
          什么是V钱包？
          <p>“V钱包”功能是Vwin针对传统博彩公司支付繁琐而提出的新型解决方案。传统博彩公司，如果用户需要游戏，必须先存钱到主账户，再将款项转账到目的平台方可进行游戏。而Vwin变革性提出的全新支付概念“V钱包”，则将这一切变的更为简单，任何支持“V钱包”的游戏平台，无需繁琐的转账操作即可直接进入游戏。</p>
        </li>
        <li class="normal">
          V钱包有什么优势？
          <p>用户以任何方式存款到Vwin主账户，资金将默认存入“V钱包”，任何支持“V钱包”的平台，无需转账操作即可利用“V钱包”资金进行游戏，免除转账的麻烦，甚至将调单的风险值降低为零.</p>
        </li>
        <li class="normal">
          什么平台能使用V钱包
          <p>Vwin支持“V钱包”的平台有体育，世界乐透，快乐彩，GamesOS游戏。在不久的将来会将会整合更多的平台支持“V钱包”，让用户享受一站式的博彩体验。</p>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="clear"></div>