<div class="mgbt20 rule">
  <ol>
    <h4>转骰子游戏</h4>
    <p class="text1">你可以根据三个骰子转出来的结果来下注。先将鼠标放到相应的赌金区域，用箭头来增减你的赌金数额。你所选定的赌金额显示在该赌金区域的上面。总赌金数额显示在屏幕下面。每个赌金区域的赔付倍数都不一样，并在相关赌金区域清楚显示。</p>
    <li>猜法</li>
    <p class="rulep">总点数 - 猜三个骰子的总点数。可猜点数介于4－17之间。</p>
    <p class="rulep">数字 - 选一个介于1至6之间的数字。如果有一个骰子显示了该数字，那么你就赢了；如果没有骰子显示该数字，则你就输了。</p>
    <p class="rulep">高、中、低 - 猜三个骰子的总点数在哪个范围。有三种范围低（ 3－8 ）、中（ 9－12 ）和高（ 13－18 ）。</p>
    <p class="rulep">奇、偶、混合 - 猜所有的骰子全部显示奇数，全部显示偶数，还是奇偶都有。</p>
    <p class="rulep">设定好赌金之后，点击“旋转”。骰子停下来之后，赌博结果就出来了。你可以点击“再次下注”重新开局。</p>
  </ol>
  <div class="clear"></div>
</div>