<div class="sub-box">
    
    <!--内容分类文字-->
    
    <div class="mgbt20 rule">
        <ol>
            <li>冠军投注</li>
            <p class="rulep">冠军投注是指对一项赛事、比赛或锦标赛中的获胜者投注。</p>
            <p class="rulep">冠军排名投注是指对参赛者在一项赛事、比赛或锦标赛中获得的指定名次投注。 赌盘标题中将标明会赢得排名投注的数量。</p>
            <p class="rulep">如果参赛者/球员没有出场参加赛事、比赛或锦标赛，则所有投注于该参赛者/球员的“优胜冠军/冠军”投注将作废，除非在特定的投注规则中另有说明。</p>
            <p class="rulep">如果有有两名或以上的获胜者，或者任何冠军赌盘中宣布有“不分胜负”的情况，则彩金赔率（减去下注金额）将按获胜者的数量分配和结算，同时退还下注金额。</p>
            <p class="rulep">这有一个示例，客户询问如果英格兰超级联赛 – 最佳射手有2位，公司应如何计算彩金？彩金将为：下注金额/赢家x（赔率 - 1）= 彩金（如果最佳射手超过2人=下注金额/（人数））</p>
            <p class="rulep">例如：</p>
            <ul>
                <li>英格兰超级联赛 - 最佳射手</li>
                <li>迪米塔•贝尔巴托夫（Dimitar Berbatov）1.40</li>
                <li>特维斯（Carlos Tevez）3.50</li>
                <li>如果我对迪米塔•贝尔巴托夫投注100，赔率为1.40</li>
                <li>如果最佳射手有2人</li>
                <li>我的彩金将为：=下注金额100/2 X(赔率- 1) = 20</li>
                <li>如果我对特维斯投注100，赔率为3.50</li>
                <li>如果最佳射手有2人</li>
                <li>那么我的彩金将为：=下注金额00/2 X(赔率- 1) =125</li>
            </ul>
            
            <p class="rulep mgbt20">术语“任何其他选手”（任何其他团队等）指所有未在赌盘中列名的参赛者。</p>
            
            <li>胜负盘</li>
            <p class="rulep">胜负盘表示投注一方参赛者或团队会在一项赛事中击败另一方参赛者，或者在一项配对赛中排名较高。在《特定赛事投注规则》中列出了其余的胜负盘规则。</p>
            
            <p class="rulep mgbt20">术语“出场阵容（The Field）”指除了胜负盘配对赛中提名的参赛者以外的所有参赛者。</p>
            
            <li>让球盘(HDP) 和上半场让球盘(FH HDP)</li>
            <p class="rulep">让球盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。 在《特定赛事投注规则》中列出了其余的让球盘规则。</p>
            <p class="rulep mgbt20">上半场让球盘是指投注于上半场将让分数加上实际比赛结果后，得分较高的参赛者或队伍即为赢家。</p>
            
            <li>大小盘和上半场大小盘</li>
            <p class="rulep">大/小盘是指由一项赛事最终赛果的总分（入球数、得分情况等）来确定的投注。 如果总分超过大/小盘预先指定的分数线，则投注“大盘”者为赢家；如果总分低于大/小盘预先指定的分数线，则投注“小盘”者为赢家。</p>
            
            <p class="rulep mgbt20">上半场大小盘是指投注结果由上半场赛事的总分来决定。如果总分大于“大小盘”预先指定的总分，则投注“大盘”的为赢家；如果总分小于“大小盘”预先指定的总分，则投注“小盘”的为赢家。</p>
            
            <li>单双盘(OE) 和上半场单双盘(FH OE)</li>
            <p class="rulep">单/双盘是指由一项赛事最终赛果的总分（入球数、得分情况等）来确定的投注。</p>
            <p class="rulep">上半场单双盘是指投注结果由上半场赛事的总分来决定。</p>
            <p class="rulep mgbt20">如果赛事在上半场结束之前中止，全部上半场的投注将视为无效。相反的，如果赛事在上半场结束之后中止，则全部上半场的投注将视为有效。</p>
            
            <li>单支团队单/双盘</li>
            <p class="rulep">单支团队单/双盘是指预测一支特定团队在一项赛事中全场得分为单数还是双数的投注。</p>
            
            <p class="rulep mgbt20">任何对此赛事的额外补时将不计入内，以便确定一支特定团队的全场得分。</p>
            
            <li>比赛半场/全场单/双盘</li>
            <p class="rulep">比赛半场/全场单/双盘是指预测一项赛事半场和全场结果是为单数和单数，单数和双数，双数和单数，还是双数和双数。</p>
            <p class="rulep">有四种选择方案可供投注：</p>
            <ul>
                <li>单数/单数</li>
                <li>单数/双数</li>
                <li>双数/单数</li>
                <li>双数/双数</li>
            </ul>
            
            <p class="rulep">对于此种投注类型，为了确定一项赛事的全场结果，任何额外的补时将不会被计入。</p>
            
            
        </ol>
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
</div>