<h3>高尔夫球</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>所有高尔夫球投注都是按照官方锦标赛的结果来结算的。</li>
        <li>如果一名选手没有参与一场锦标赛或特定回合，则对该名选手的所有投
            注将为无效。如果一名高尔夫球手在一场锦标赛和特定回合中退出或被取消资格，则对该选手的所有投注将全输。
        </li>
        <li>如果一场锦标赛或特定回合延期或暂停，则所有投注将在预定结束时间后的四十八小时内有效。</li>
        <li>总冠军(锦标赛获胜者)</li>
        <ul>
            <li>“任何其他选手”或“场上选手”指总冠军赌盘中未提及的所有高尔夫球选手。</li>
            <li>总冠军赌盘是依照锦标赛获胜者结算的，并且任何延长赛的结果都会计入结算。</li>
            <li class="mgbt20">如果一场锦标赛被官方缩短（即未完成原定洞数），只要官方宣布了获胜者，则所有投注仍然有效。然而，如果投注后未继续比赛，则该投注将无效。如果官方未宣布获胜者，则所有投注将被视为无效。</li>
        </ul>
        
        <li>锦标赛积分</li>
        <ul>
            <li>锦标赛积分指在一场锦标赛期间（通常是72洞）得分最低的高尔夫球手。 如果比赛的洞数比原定低，只要官方公布了锦标赛的结果，则所有投注仍然有效。</li>
            <li>两名高尔夫球手必须都有开球，投注才会有效。完成最多洞数（不包括延长赛）的高尔夫球手将会是获胜方。如果高尔夫球手完成了相同的洞数（同样不包括延长赛），则杆数最低的选手为获胜方。</li>
            <li>如果一名高尔夫球手在开球后退出或被取消资格，则另一名选手将被视为获胜方。不过，如果一名选手在另一名选手已遭淘汰后才退出或被取消资格，则完成洞数最多的高尔夫球手仍然是获胜方。</li>
            <li class="mgbt20">如果两名高尔夫球手在同一回合中都退出或被取消资格，则所有投注将为无效，不论每名选手完成了多少洞数。</li>
        </ul>
        
        <li>回合积分</li>
        <ul>
            <li>回合积分指在特定18洞比赛中杆数最低的高尔夫球手。延长赛不计入内。</li>
            <li class="mgbt20">两名高尔夫球手必须都有开球，投注才会有效。如果一名高尔夫球手在开球后退出或被取消资格，则另一名选手将被视为获胜方。不过，如果一名被取消资格的选手已经开始了下一回合，则原有杆数仍然有效。</li>
            
            <li>回合大/小盘</li>
            <ul>
                <li>回合大/小盘指一名高尔夫球手在指定18洞比赛中的杆数。延长赛不计入内。</li>
                <li class="mgbt20">一名高尔夫球手必须开球，投注才会有效。如果一名高尔夫球手未能完成指定的18洞比赛，则所有投注会被视为无效。</li>
                
                <li>个人洞数大/小盘</li>
                <ul>
                    <li>个人洞数大/小盘指在特定回合的特定洞上打出的杆数。</li>
                    <li class="mgbt20">如果高尔夫球手未能完成指定的18洞，则所有投注皆无效。</li>
                    
                </ol>
                
                <div class="clear"></div>
            </div>