<h3>提款流程</h3>
<div class="horizonLine2 mgbt20"></div>
<!--內容分類標題-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">提款须知内容</h4>
  <div class="rule noheight">
    <ol>
      <li>
        银行账户持有人姓名必须与在Vwin注册的姓名一致，否则无法申请提款。
      </li>
      <li>普通帐号每周可以免费提交7次，每周周期定义是北京时间每周一中午12:00:00（GMT+8）至隔周一11:59:59（GMT+8），第8次开始每次提款加收1％行政费用。每天或每周的提款次数无上限。(VIP用户可享受更多免费提款次数)</li>
      <li>客户需要经过有效投注之后才可以进行提款。比如您存款1000，您买彩100，中500，合计账户1500，此时您可以 提款的金额为600元。因为您的存款还有900未经投注所以不可全额提款。您的投注额必须超过1000元才能将余额全部提款。</li>
      <li>投注额的刷新需要一定时间。娱乐场投注需要30-60分钟，体育网站的投注也需要一定时间。</li>
      <li>每位客户最多可同时绑定三张提款银行卡，如需要更换银行卡，客户可自行在页面进行操作。</li>
      <li>提款最低金额100元，单笔提款上限200万，每日的提款金额无上限。</li>
      <li>客户需要将资金转入主账户内才可以进行提款。如果是本周第五次提款还需要预留出提款金额1%的行政费用。</li>
      <li>每日0:30-23:00工商、招商银行卡可以申请提款且无金额限制，其他银行卡申请提款时间为工作日周一至周五的9:00-16:00无金额限制，其余时间可以申请小余5万的提款。以上不包含国定假日及银行系统维护时间，在期间客户若发起提款可能无法在约定时间内到账。</li>
      <li>使用工商银行卡提款无须填写所在省市及支行信息，其他银行卡需要填写包括所在省市以及支行在内的所有信息。</li>
      <li>需要在半角状态下进行输入提款信息。同时按下Shift 空格键可以进行半/全角的切换。半角状态下输入显示123，全角状态下输入显示123。</li>
    </ol>
  </div>
</div>
<!--內容分類標題-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">提款步骤</h4>
  <div class="rule noheight">
    <ol>
      <li>
        在“资金管理”点击“申请提款”按钮。
        <div><img src="/Templates/images/zh-cn/helpimage-03-01.png"></div>
      </li>
      <li>
        进入“提款”页面
        <p>(当您第一次提款时，需要在“个人资料”中完成手机验证，并设定提款密码。)</p>
        <div><img src="/Templates/images/zh-cn/helpimage-03-02.png"></div>
      </li>
      <li>
        填写您的提款账号信息，系统会自动识别出您的银行卡归属银行
        <p>(当您存款或提款成功后，系统会自动记录您常使用的银行卡，您可直接点选。)</p>
        <div><img src="/Templates/images/zh-cn/helpimage-03-03.png"></div>
      </li>
      <li>
        输入您需要提款的金额及提款密码，点击“提交”按钮
        <p>我们的客服将会在十分钟内完成提款审核，并将您提款的金额安全的放到您的银行卡中。</p>
        <p>提款密码只需在更换新银行卡时填写。</p>
        <p>每个账户每周可享7次免费提款，第8次开始每次提款加收1％行政费用，提款次数无上限。</p>
        <p>皇家骑士俱乐部会员每周可享受更多免费提款次数，具体可参见皇家骑士俱乐部</p>
        <div><img src="/Templates/images/zh-cn/helpimage-03-04.png"></div>
      </li>
    </ol>
  </div>
</div>
<div class="clear"></div>