<div class="mgbt20 rule">
      <ol>
            <li>单队大小盘和单队上半场大小盘</li>
            <p class="rulep">单支队伍大/小盘表示特定球队在一场比赛中的进球数。</p>
            <p class="rulep">单队上半场大盘/小盘是指投注预测特定队伍在该场上半场赛事中的得分。</p>
            <p class="rulep mgbt20">如果总进球数大于“大小盘”预先指定的总进球数，则投注“大盘”的为赢家；如果总进球数少于“大小盘”预先指定的总进球数，则投注“小盘”的为赢家。</p>
            
            
            <li>特定15分钟大/小盘（OU）</li>
            <p class="rulep">特定15分钟大/小盘（OU）是指投注结果由一场比赛时间[间隔]每15分钟末时的总点数（入球数、角球数、得分情况、牌数）确定。</p>
            <p class="rulep">如果总分超过大/小盘预先指定的分数线，则投注大盘者为赢家；如果总分低于大/小盘预先指定的分数线，则投注小盘者为赢家。</p>
            <p class="rulep">例：</p>
            <ul>
                  <li>第15分钟的大/小盘</li>
                  <p class="pointp">00:00–15:00大/小盘：从00:00到15:00时计入的总点数。</p>
                  <p class="pointp">所有投注必须在第15分钟结束之时或之前做出。</p>
                  <li>第30分钟的大/小盘</li>
                  <p class="pointp">15:01-30:00大/小盘：从15:01到30:00时计入的总点数。</p>
                  <p class="pointp">所有投注必须在第30分钟结束之时或之前做出。</p>
                  <li>第45分钟的大/小盘</li>
                  <p class="pointp">30:01- 45:00 的大/小盘：总分数为30:01至45:00。</p>
                  <p class="pointp">所有下注应在45分钟结束前进行。</p>
                  <li>第60分钟的大/小盘</li>
                  <p class="pointp">45:01–60:00大/小盘：从45:01到60:00时计入的总点数。</p>
                  <p class="pointp">所有投注必须在第60分钟结束之时或之前做出。</p>
                  <li>第75分钟的大/小盘</li>
                  <p class="pointp">60:01-75:00大/小盘：从60:01到75:00时计入的总点数。</p>
                  <p class="pointp">所有投注必须在第75分钟结束之时或之前做出。</p>
                  <li>第90分钟的大/小盘</li>
                  <p class="pointp">75:01- 90:00 OU：总分数为75:01至90:00。</p>
                  <p class="pointp">所有下注应在90分钟结束前进行。</p>
            </ul>
            <p class="rulep">对于特定15分钟大/小盘来说，投注以现场直播公布的时间显示为准，将根据准确的进球时间（球越过球门线）和角球数（实际开出）黄牌总数（裁判给出的牌数）进行结算。</p>
            <p class="rulep">如果一场比赛暂停或中止，对于投注于未完成的特定15分钟大/小盘将被视为无效。 如果指定的特定15分钟大/小盘已经完成，则投注有效。</p>
            <p class="rulep">对于任何特定15分钟大/小盘现场投注的最后两（2）分钟，除本条下述操作以外，任何行为都将被视为安全比赛，因此任何待定的投注都会被接受：进球、罚点球和领红牌。</p>
            <p class="rulep">对于在任意特定15分钟角球数的最后两（2）分钟内的实时投注，除了以下提到的，任何其他行动都将被视为安全玩法，因此所有未决投注将是可接受的：前场危险任意球；攻方球员在前场持球；点球。</p>
            <p class="rulep">对于在任意特定15分钟罚牌数的最后两（2）分钟内的实时投注，除了以下提到的，任何其他行动都将被视为安全玩法，因此所有未决投注将是可接受的：前场危险任意球；点球；进球；角球；球员受伤倒地原因不明；球员争吵和打架。</p>
            <p class="rulep mgbt20">对于30:01-45:00和75:01 - 90:00这两个时段，根据现场转播显示的时间，但不包括加时和伤停补时，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
            
            <li>特定10分钟大小盘分段投注 (O/U)</li>
            <p class="rulep">特定10分钟分段投注(OU) 的意思是，在每场比赛中的每10分钟[中场休息] 结束时，根据总点数投注(进球、角球、比赛、掏牌等) 。</p>
            <p class="rulep">如果总点次数大于“大小盘”预先指定的总点次数，则投注“大盘”的为赢家；如果总点次数少于“大小盘”预先指定的总点次数，则投注“小盘”的为赢家。</p>
            <p class="rulep">例：</p>
            <ul>
                  <li>第10分钟OU</li>
                  <p class="pointp">00:00 – 10:00 O/U: 可得分的总点数从00:00至10:00。</p>
                  <p class="pointp">必须在第10分钟结束时或在这一刻之前投注。</p>
                  <li>第20分钟OU</li>
                  <p class="pointp">10:01 – 20:00 O/U: 可得分的总点数从10:01至20:00。</p>
                  <p class="pointp">必须在第20分钟结束时或在这一刻之前投注。</p>
                  <li>第30分钟OU</li>
                  <p class="pointp">20:01 – 30:00 O/U: 可得分的总点数从20:01至30:00。</p>
                  <p class="pointp">必须在第30分钟结束时或在这一刻之前投注。</p>
                  <li>第40分钟OU</li>
                  <p class="pointp">30:01 – 40:00 O/U: 可得分的总点数从30:01至40:00。</p>
                  <p class="pointp">必须在第40分钟结束时或在这一刻之前投注。</p>
                  <li>第60分钟OU</li>
                  <p class="pointp">50:01 – 60:00 O/U: 可得分的总点数从50:01至60:00。</p>
                  <p class="pointp">必须在第60分钟结束时或在这一刻之前投注。</p>
                  <li>第70分钟OU</li>
                  <p class="pointp">60:01 – 70:00 O/U: 可得分的总点数从60:01至70:00。</p>
                  <p class="pointp">必须在第70分钟结束时或在这一刻之前投注。</p>
                  <li>第80分钟OU</li>
                  <p class="pointp">70:01 – 80:00 O/U: 可得分的总点数从70:01至80:00。</p>
                  <p class="pointp">必须在第80分钟结束时或在这一刻之前投注。</p>
                  <li>第90分钟OU</li>
                  <p class="pointp">80:01 – 90:00 O/U: 可得分的总点数从80:01至90:00。</p>
                  <p class="pointp">必须在第90分钟结束时或在这一刻之前投注。</p>
                  
            </ul>
            <p class="rulep">对于特定的10分钟OU，根据现场转播显示的时间，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
            <p class="rulep">如果暂停或放弃比赛，那么在未结束的这一特定10分钟内的投注将被视为无效。如果指定的特定10分钟O/U结束，那么投注有效。</p>
            <p class="rulep">对于在任意特定10分钟大小盘的最后两（2）分钟内的实时投注，除了以下提到的，任何其他行动都将被视为安全玩法，因此所有未决投注将是可接受的：进球；点球和红牌。</p>
            <p class="rulep mgbt20">对于80:01-90:00这个时段，根据现场转播显示的时间，但不包括加时和伤停补时，在确定得分（球超过球门线）、角球数（获得角球）和总红黄牌数（由官方裁判掏牌）时结算投注。</p>
            
            <li>受伤补时大/小盘</li>
            <p class="rulep">上半场结束时的受伤补时大/小盘：</p>
            <ul>
                  <li>上半场受伤补时大/小盘表示对上半场结束时受伤补时的大/小盘投注。</li>
                  <li>如果总补时数超过大/小盘的基线补时数，则投注大盘者为赢家；如果总补时数少于大/小盘的基线补时数，则投注小盘者为赢家。</li>
                  <li>投注以由第四裁判员在完整45分钟比赛以后或上半场末时所判给的受伤补时为准进行结算。</li>
                  
                  <p class="rulep">下半场结束时的受伤补时大/小盘：</p>
                  <li>下半场受伤补时大/小盘表示对下半场结束时受伤补时的大/小盘投注。</li>
                  <li>如果总补时数超过大/小盘的基线补时数，则投注大盘者为赢家；如果总补时数少于大/小盘的基线补时数，则投注小盘者为赢家。</li>
                  <li class="mgbt20">投注以由第四裁判员在完整90分钟比赛以后或下半场末时所判给的受伤补时为准进行结算。</li>
                  
            </ul>
            
      </ol>
      
      <div class="clear"></div>
</div>