<div class="mgbt20 rule">
    <ol>
        <li>总进球数和上半场总进球数</li>
        <p class="rulep">总进球是指由一项赛事的进球总数来决定投注结果。</p>
        <p class="rulep">上半场总进球数是指由上半场赛事中的总进球数决定投注结果。</p>
        <p class="rulep mgbt20">如果赛事在上半场期间中止，则“上半场总进球数”的投注均作废。如果赛事在下半场期间中止，则“上半场总进球数”的投注将有效。</p>
        
        <li>最先进球/最后进球和上半场最先进球/最后进球</li>
        <p class="rulep">最先进球/最后进球表示投注哪支队伍在一场比赛中会首先进球和最后进球。关于本赌盘，下列字母代表：HF指首先被提及的队伍（通常是主队）率先进球。HL指首先被提及的队伍射进最后一球。AF指第二个被提及的球队（通常是客队）率先进球。AL指第二个被提及的队伍射进最后一球。NG指赛事期间没有进球。</p>
        <p class="rulep">上半场最先进球/最后进球是指投注哪个队伍会在上半场比赛中率先进球或射进最后一球。下面介绍与此赌盘相关的意义：HF 表示首先被提及的队伍（通常是主队）会率先进球。HL 表示首先被提及的队伍会射进最后一球。AF 表示第二个被提及的队伍（通常是客队）会率先进球。 AL 表示第二个被提及的队伍会射进最后一球。NG 表示赛事中没有队伍射门得分。</p>
        <p class="rulep">乌龙球计入进球队伍的得分。</p>
        <p class="rulep mgbt20">如果在一次进球后一项赛事中止，则所有对最先进球（以及无进球）的投注仍有效，但对最后进球的投注将无效。如果一项赛事在没有进球的情况下中止，则所有对最先进球、最后进球和无进球的投注将无效。</p>
        
        <li>主队总进球比客队总进球</li>
        <p class="rulep">主队总进球比客队总进球表示在特定日进行的特定联盟赛事中，主队总进球数与客队总进球数的对比结果。</p>
        <p class="rulep">主队指首先被提及的队伍，客队指第二个被提及的队伍。</p>
        <p class="rulep mgbt20">如果一场（以上）的赛事延期或中止，则投注无效。</p>
        
        <li>进球最多的球员</li>
        <ul>
            <li>联赛最佳射脚</li>
            <p class="pointp">联赛最佳射脚是指以投注来预测哪个球员将会在一个常规联赛中入球较多。</p>
            <p class="pointp">若一个球员在赛季中期加入同一联赛中的另一个球队， 所有在不同球队的进球将计算在总进球内。但任何在联赛之外的比赛之进球将不予以计算。</p>
            <p class="pointp">任何在附加赛和点球决胜中的进球将不予以计算。</p>
            <p class="pointp">乌龙球将不予以计算及不列入投注目的。</p>
            <p class="pointp">非首发球员的投注仍有效。非首发球员是指任何球员在本赛季联赛没有被列入首发阵容名单。</p>
            <p class="pointp">若一个球员在本赛季开始之前退出本赛季联赛或是转移到不同联赛的球队，所有投注于该球员的“最佳射脚”投注将退还。</p>
            <p class="pointp mgbt20">若宣布的结果为“不分胜负”，则一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，则按比例分配赌金。</p>
            
            <li>杯赛(非赛事)最佳射脚</li>
            <p class="pointp">杯赛 (非联赛) 最佳射脚是指以投注来预测哪个球员将会在一个常规杯赛或比赛中入球较多。</p>
            <p class="pointp">乌龙球和点球决胜中的进球将不予以计算及不列入投注目的。然而，任何在加时赛的进球将计算在总进球内。</p>
            <p class="pointp">非首发球员的投注仍有效。非首发球员是指任何球员在本杯赛或比赛没有被列入首发阵容名单。</p>
            <p class="pointp">若一个球员在本赛季开始之前退出本杯赛或比赛或是转移到不同杯赛的球队，所有投注于该球员的“最佳射脚”投注将退还。</p>
            <p class="pointp mgbt20">若宣布的结果为“不分胜负”，则一半赌金将分配给完全赔率，而另一半赌金将全部丧失。若超过两名参赛者“不分胜负”，则按比例分配赌金。</p>
            
            <li>球员一对一比赛时进球最多的球员</li>
            <p class="pointp">乌龙球和点球大战中的进球不计入内。加时赛除外，将不计入投注。</p>
            <p class="pointp">如果一名球员未展开/进行比赛，则所有投注都将被视为无效。</p>
            <p class="pointp mgbt20">所有结果依据比赛结束时由主管机构宣布的官方结果而定。</p>
            
        </ul>
        
        <li>进球最多的球队</li>
        <p class="rulep">进球最多的球队就是赢家。</p>
        <p class="rulep">不计算净胜球。</p>
        <p class="rulep">如果出现两支或以上并列最多进球的球队，则按“不分胜负”的投注规则来分配赌金。例：曼市进4球，史云斯进4球；利物浦进4球，桑德兰进1球，那利物浦，曼市和史云斯都是赢家。</p>
        <p class="rulep">中止或延期</p>
        <ul>
            <li>若投注的球队之赛事因事故中止或延期 (超出本公司所预定的赛程) ，所有投注于该球队的投注将视为无效。</li>
        </ul>
        
        <p class="rulep">点球决胜中的进球将不予以计算。</p>
        <p class="rulep">针对于杯赛 (非联赛) 的进球最多的球队，任何在加时赛的进球将予以计算。</p>
        <p class="rulep mgbt20">针对于特定日期内的进球最多的球队，任何在加时赛的进球将不予以计算。</p>
        
        <li>上半场准确进球数</li>
        <p class="rulep">上半场准确进球数表示投注预测到上半场结束时两支球队的进球总数。</p>
        <p class="rulep mgbt20">如果一场赛事在上半场结束之前终止，则所有投注将被视为无效。</p>
        
        <li>第一个进球方式</li>
        <p class="rulep">表示预测一场比赛中任一球队第一个进球的方式。</p>
        <ul>
            <li>任意球 - 进球必须是直接通过任意球实现的进球。如果任意球的开出者被判进球，则应算做弹射进门。同时包括由一个角球直接获得的进球。</li>
            <li>点球 - 进球必须是直接由点球获得的进球，并在点球开出者被称为得分球员时。</li>
            <li>乌龙球 – 如果进球被视为乌龙球而宣布。</li>
            <li>头球 – 进球队员最后接触球的部分必须为头部。2.2.40.1.5.射门 – 上述未含的所有其它进球类型。</li>
            <li>无进球</li>
        </ul>
        <p class="rulep">本公司将根据由负责组织此次比赛的足球主办单位提供的官方结果结算投注。</p>
        
    </ol>
    
    <div class="clear"></div>
</div>