<h3>棒球</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10"><strong>重要提醒</strong></p>
<p class="mgbt10">※ 除非明确说明，否则可能存在的加时赛不计入任何盘口之内，&ldquo;率先到达X分 队伍&rdquo;或&ldquo;取得第X分者&rdquo;除外。 </p>
<p class="mgbt10">※ 盘口名称不反映棒球真实术语。棒球真实术语请参照下方:</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="180" valign="top"><p>盘口名称</p></td>
    <td width="340" valign="top"><p>棒球术语</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p>局(Period)</p></td>
    <td width="340" valign="top"><p>局(Inning)</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p>延长加时(OverTime)</p></td>
    <td width="340" valign="top"><p>延长局(Extra    Inning)</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p>得点(Points)</p></td>
    <td width="340" valign="top"><p>得分(Runs)</p></td>
  </tr>
  <tr>
    <td width="180" valign="top"><p>半场(Halftime)</p></td>
    <td width="340" valign="top"><p>第九局半后的结果(Result    after 9th half-inning)</p></td>
  </tr>
</table>
<p class="mgbt10"><strong>结算及取消规则</strong></p>
<p class="mgbt10">※ 只有比赛必须进行9局后才进行所有盘口结算（或者如果主队领先，则为8.5局）</p>
<p class="mgbt10">※ 如果比赛中断或取消无法在当天复赛，所有未结算盘口视为无效 </p>
<p class="mgbt10">※ 如果开放盘口有错误比分或不正确的比赛状态，对赔率有明显影响我们有权宣布投注无效。</p>
<p class="mgbt10"><strong>特有盘口介绍</strong></p>
<p class="mgbt10"><strong>总分大小盘与1X2</strong></p>
<p class="mgbt10">总分大小盘1X2表示投注预测下列两个方面：比赛最终赛果的总得分为大盘还是小盘、比赛是主队赢、客队赢还是平局。有下列投注选项可供选择：</p>
<p class="mgbt10"><strong>‧</strong>大盘且客队获胜：如果客队赢且总得分在预先指定的分数基线之上，则此投注赢</p>
<p class="mgbt10"><strong>‧</strong>大盘且平局：如果比赛结果为平局且总得分在预先指定的分数基线之上，则此投注赢</p>
<p class="mgbt10"><strong>‧</strong>大盘且主队获胜：如果主队赢且总得分在预先指定的分数基线之上，则此投注赢</p>
<p class="mgbt10"><strong>‧</strong>小盘且客队获胜：如果客队赢且总得分在预先指定的分数基线之下，则此投注赢</p>
<p class="mgbt10"><strong>‧</strong>小盘且平局：如果比赛结果为平局且总得分在预先指定的分数基线之下，则此投注赢</p>
<p class="mgbt10"><strong>‧</strong>小盘且主队获胜：如果主队赢且总得分在预先指定的分数基线之下，则此投注赢</p>
<p class="mgbt10"><strong>胜分差</strong></p>
<p class="mgbt10">以双方的全场比赛时间结束时的最终得分，胜的一队胜出另外一队有多少分做为下注。可下注选项有：</p>
<p class="mgbt10"><strong>‧</strong>主队 &gt; 4 ：代表下注主队胜出，且胜出分数大于4分(不含4分)</p>
<p class="mgbt10"><strong>‧</strong>主队3-4 ：代表下注主队胜出，且胜出分数介于3-4分 </p>
<p class="mgbt10"><strong>‧</strong>主队1-2 ：代表下注主队胜出，且胜出分数介于1-2分 </p>
<p class="mgbt10"><strong>‧</strong>客队1-2 ：代表下注客队胜出，且胜出分数介于1-2分 </p>
<p class="mgbt10"><strong>‧</strong>客队3-4 ：代表下注客队胜出，且胜出分数介于3-4分 </p>
<p class="mgbt10"><strong>‧</strong>客队 &gt; 4 ：代表下注客队胜出，且胜出分数大于4分(不含4分)</p>
<p class="mgbt10"><strong>让分盘 (包括延长赛)</strong></p>
<p class="mgbt10">让分盘是指当一方参赛者或团队获得假定的预先让分（在赛事开始之前凭借该让分而有效领先）。获胜者为赛果加上该让分后得分更高的参赛者或团队。此项投注包含延长赛结果在内。</p>
<p class="mgbt10"><strong>总分大小盘 (包括延长赛)</strong></p>
<p class="mgbt10">以比赛最终总分来确定的投注。如果总分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果总分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。此项投注包含延长赛结果在内。</p>
<p class="mgbt10"><strong>总垒数单/双 (包括延长赛)</strong></p>
<p class="mgbt10">总垒数 单/双是指由比赛最终两队跑垒数加总来确定的投注。此项投注包含延长赛结果在内。</p>
<p class="mgbt10"><strong>主/客队总得分数</strong></p>
<p class="mgbt10">预测主队或客队比赛的最终得分。如果队伍得分超过大小盘指定的分数线，则投注&rdquo;大于&rdquo;者为赢；如果队伍得分低于大小盘指定的分数线，则投注&rdquo;小于&rdquo;者为赢。结算依据仅限常规时间比赛，加时赛不计算在内。</p>
<p class="mgbt10"><strong>滚球：净胜数 (含延长加时)</strong></p>
<p class="mgbt10">以主队全场比赛结束时的最终得分，减去客队得分做为下注。<br />
可下注选项有：</p>
<p class="mgbt10"><strong>‧</strong>主队 超过3：代表下注主队胜出，且胜出分数大于3分(包含3分)</p>
<p class="mgbt10"><strong>‧</strong>主队2：代表下注主队胜出，且胜出2分 </p>
<p class="mgbt10"><strong>‧</strong>主队1：代表下注主队胜出，且胜出1分 </p>
<p class="mgbt10"><strong>‧</strong>主队-1：代表下注主队输球，且输的分数为1分 </p>
<p class="mgbt10"><strong>‧</strong>主队-2：代表下注主队输球，且输的分数为2分 </p>
<p class="mgbt10"><strong>‧</strong>主队 超过-3：代表下注主队输球，且输的分数为大于3分(包含3分)</p>
<p class="mgbt10"><strong>滚球：取得第X分者 </strong></p>
<p class="mgbt10">可下注的选项为：主队、和局、客队。延长赛的得分也计算在内。如果比赛结束时比分未达到X分，此投注视为无效（取消）。</p>
<p class="mgbt10"><strong>滚球：率先到达X分队伍 </strong></p>
<p class="mgbt10">可下注的选项为：主队、和局、客队。延长赛的得分也计算在内。 <br />
X为3,5及7。如果比赛结束时比分未达到X分，此投注视为无效（取消）。</p>