<!--內容分類背景-->
<div class="sub-box">
    <!--內容分類文字-->
    <div class="mgbt20 rule">
        <ol>
            <li>提款方式</li>
            <p class="rulep mgbt20">VWIN支持内地各大银行卡进行提款。请按照提款页面上的提示，进行仔细填写，不要出现错误，以免款额不能及时准确的到达。</p>
            <li>提款常见问题</li>
            <ul>
                <li>问：取款需要多长时间？</li>
                <p class="pointp">答：VWIN提供中国大陆客户最快的提款到账时间，使用工商、建设、招商三家银行提款，10分钟内即可到账。 其他银行账户申请提款，10分钟内即可为您办理，实际到账时间依银行处理时效为准。</p>
                <li>问：支持哪些银行的银行卡取款？</li>
                <p class="pointp">答：VWIN支持内地各大银行卡进行取款，您可放心操作。</p>
                <li>问：我可以用别人的银行卡取款吗？</li>
                <p class="pointp">答：为保障账户的资金安全，您仅可使用与账户注册姓名一致的银行卡进行取款。</p>
                <li>问：取款有手续费吗？</li>
                <p class="pointp">答：VWIN提供您一周高达4次的免费提款，您从第5次提款开始才有1%的行政费用。 (VIP用户享有更多次免费提款机会)</p>
                <li>问：取款的次数有限制吗？</li>
                <p class="pointp">答：每天或每周的取款次数是没有上限的！</p>
                <li>问：都什么时间可以取款？</li>
                <p class="pointp">答：您每天的任意时间都可以进行提款操作。</p>
                <li>问：取款金额有限制吗？</li>
                <p class="pointp">答：取款的最小金额是100元。单笔取款上限为450,000元，每个账户每天可取款的额度 2,000,000元！</p>
                <li>问：为什么提款后迟迟未到帐？</li>
                <p class="pointp">答：1.请参阅提款注意事项，确认您是否在操作中进行了错误的操作。</p>
                <p class="pointp" style="padding-left:27px">2.是否已经在VWIN进行完整的身份信息填写，如身份信息等。</p>
                <p class="pointp" style="padding-left:27px">3.其他不符合本公司提款要求的规定等。</p>
                <p class="pointp" style="padding-left:27px">4.如遇不可抗拒的因素，自然因素，不属于VWIN工作系统内容等。</p>
                <li>问：我要如何更换或取消已绑定之提款银行卡?</li>
                <p class="pointp mgbt20">答：请您登录网站后，点击[会员中心]，并点选[解绑提款银行卡]，经由提示操作后更换提款银行卡资料。</p>
            </ul>
            <li>提款注意事项</li>
            <ul>
                <li>银行账户持有人姓名必须与在VWIN注册的姓名一致，否则无法申请提款。</li>
                <li>每个账户每周可以免费4次提款手续费，第5次开始每次提款加收1％行政费用。每天或每周的提款次数无上限。 (VIP用户享有更多次免费提款机会)</li>
                <li>客户需要经过有效投注之后才可以进行提款。比如您存款1,000，您买彩100，赢500，合计账户1,500，您有效投注额只有100元,此时您可以提款的金额为600元。 因为您的存款还有900未经投注所以不可全额提款。您的投注额必须超过1,000元才能将余额全部提款。 注：投注走盘的注单，危险球注单，投注上下盘的注单均不属有效注单，不计算在全额投注中。</li>
                <li>投注额的刷新需要一定时间。娱乐场投注需要30-60分钟，体育网站的投注也需要一定时间。</li>
                <li>提款最低金额100元，单笔提款上限45万，每个账户每天可取款的额度 2,000,000元！</li>
                <li>客户需要将资金转入主账户内才可以进行提款。如果是本周第五次提款还需要预留出提款金额1%的行政费用。</li>
                <li>使用工商银行卡提款无须填写所在省市及支行信息，其他银行卡需要填写包括所在省市以及支行在内的所有信息。</li>
                <li>请牢记您的提款密码，提款密码为8至16位数字或字母。</li>
                <li class="mgbt20">需要在半角状态下进行输入提款信息。同时按下Shift 空格键可以进行半/全角的切换。半角状态下输入显示123，全角状态下输入显示123。</li>
            </ul>
            <li>提款特殊情况</li>
            <p class="rulep">在VWIN，我们在处理支付交易方面，一直保持严谨及专业。为了保障我们会员的利益，避免在多种提款方法中遇到欺诈的情况，我们有可能将会在会员第一次大额提款时，需要获得其正确的身份；请留意，这些可能都需要使用传真机或扫描机。</p>
            <p class="rulep">虽然这些程序并非理想，但是它们都能帮助我们实行严谨的安全控制，且为会员及本公司提供保障。我们处理任何投注账户提款前，必须经过核实检查，看看有关会员的身份证明副本是否有存档。这是全部提款方法强制性的要求。若并未有提供档，提款将不被处理。我们的客服将会联系您，跟进有关提款要求。请容许我们在3个工作日内检查数据，以及顺序核实，然后批准提款要求。</p>
            <p class="rulep">以下是所要求的资料</p>
            <ul>
                <li>阁下需要提供有您照片的身份证，护照，户口簿或驾驶执照的副本给我们。</li>
                <li>副本上的照片必须清楚。</li>
                <li>阁下将只需提供您的身份证明一次给我们，您便能够从您的账户不断提款。</li>
                <p class="pointp">事务历史记录证明</p>
                <p class="pointp pdlef16">A.银行账户及信用卡结算单副本反映最后一个转账到您VWIN账户的成功存款记录。</p>
                <p class="pointp pdlef16">B.最近的（不超过三个月）银行账户及信用卡结算单副本。</p>
                <p class="pointp">居住证明</p>
                <p class="pointp pdlef16">A.最近的（不超过三个月）水电费单副本。</p>
                <p class="pointp pdlef16">B.银行账户及信用卡结算单副本反映您在VWIN注册的姓名以及地址。</p>
            </ul>
        </ol>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>