<h3>滚球盘口</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">滚球：1X2 (延长加时)<br />
1X2（3 way），代表投注哪支球队胜出。此项投注仅限延长加时阶段。</p>
<p class="mgbt10">滚球：1X2 (延长加时) - 上半场 <br />
1X2（3 way），代表投注哪支球队胜出。此项投注仅限上半场延长加时阶段。</p>
<p class="mgbt10">滚球：大小盘 (延长加时)<br />
大小盘是指由该赛事的比分来确定的投注。此项投注仅限延长加时阶段。</p>
<p class="mgbt10">滚球：剩余时间获胜者 (延长加时) <br />
滚球剩余时间获胜者，结算将以投注被接受后，赛事剩下时间内的进球为准。在投注被接受前所进的任何球均无计算在内。可下注的选项有:主队、客队、平局。此项投注仅限延长加时阶段。</p>
<p class="mgbt10">滚球：亚洲让分盘 (延长加时)<br />
所有滚球的亚洲让分盘的投注，结算将以投注被接受后，赛事/半场剩下时间内的进球为准。在投注被接受前所进的任何球均无计算在内。此项投注仅限延长加时阶段。</p>
<p class="mgbt10">滚球：亚洲让分盘 (延长加时) - 上半场 <br />
所有滚球的亚洲让分盘的投注，结算将以投注被接受后，赛事/半场剩下时间内的进球为准。在投注被接受前所进的任何球均无计算在内。此项投注仅限上半场延长加时阶段。</p>
<p class="mgbt10">滚球：获胜队伍 (PK)<br />
投注赢得点球赛(PK)的球队。可下注的选项有：主队、客队。</p>
<p class="mgbt10">滚球：下一个进球 <br />
表示投注由当下开始计算，哪支队伍踢进下一个进球。可下注的选项有：主队、客队、无进球。结算依据仅限90分钟比赛，加时赛和点球不予计算在内。</p>
<p class="mgbt10">滚球：下一个进球 (延长加时)<br />
表示投注由当下开始计算，哪支队伍踢进下一个进球。可下注的选项有：主队、客队、无进球。此项投注仅限延长加时阶段。</p>
<p class="mgbt10">滚球：下一个进球 (PK)<br />
表示投注由当下开始计算，哪支队伍踢进下一个进球。可下注的选项有：主队、客队、无进球。此项投注仅限点球赛(PK)。</p>
<p class="mgbt10">滚球：下一个进球时刻 <br />
表示投注由当下开始计算，下一个进球的时间。下列时间段/投注选项可供选择： </p>
<ul>
  <li>1-15分钟 </li>
  <li>16-30分钟 </li>
  <li>31-45分钟 </li>
  <li>46-60分钟 </li>
  <li>61-75分钟 </li>
  <li>76-90分钟 </li>
  <li>无进球<strong> </strong></li>
</ul>
<p class="mgbt10">滚球：主/客队角球大小盘 (包含上半场投注) <br />
角球大小盘是指由该赛事的角球数来确定的投注。可投注主队或客队。结算依据仅限90分钟比赛，加时赛不予计算在内。上半场投注由上半场结果来确定。</p>
<p class="mgbt10">滚球：总罚牌分: 1X2<br />
1X2（3 way），投注哪支球队罚牌分胜出。结算依据仅限90分钟比赛，加时赛不予计算在内。</p>
<p class="mgbt10">滚球：主/客队总罚牌分 (包含上半场投注)<br />
总罚牌分是指由该赛事的罚牌分来确定的投注。可投注主队或客队。结算依据仅限90分钟比赛，加时赛不予计算在内。上半场投注由上半场结果来确定。</p>