<h3>骰宝</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->

<div class="mgbt20 rule">
  <ol>
    <li>游戏规则</li>
    <p class="rulep">骰宝游戏采用三粒骰子，用户可在投注时间内下注投注项目。</p>
    <p class="rulep">投注时间结束后，三粒骰子在自动振动骰盅内进行滚动。当振动时间完毕后，静止的三粒骰子朝上一方的点数便是该局的结果。</p>
    <p class="rulep">因斜骰或叠骰...等因素令结果不能清析判定。监场人员有权把该次结果设为无效。该局投注会按重新摇骰后的清析结果计算。</p>
    <p class="rulep mgbt20">当游戏结果出现围骰，投注（大／小 ）或（单／双）项目均作为输。</p>
    <li>派彩赔率</li>
    <table class="mc-table tactr tb2">
      <tr>
        <th>投注项目</th>
        <th>说明</th>
        <th>赔率</th>
      </tr>
      <tr>
        <td>大 / 小</td>
        <td>大：总点数 11 至 17<br />
          小：总点数为 4 至 10 ( 遇围骰庄家通吃 )
        </td>
        <td>1：1</td>
      </tr>
      <tr class="tr2">
        <td>围骰</td>
        <td>投注指定的围骰 ( 如 1 围骰 ) ，必须开出 3 颗所投注的骰子</td>
        <td>1：150</td>
      </tr>
      <tr>
        <td>全围</td>
        <td>3 颗骰子都一样</td>
        <td>1：24</td>
      </tr>
    </table>
    <p class="rulep fwbd">下注在单一个点数: </p>
    <table class="mc-table tactr tb2">
      <tr>
        <th>投注项目</th>
        <th>说明</th>
        <th>赔率</th>
      </tr>
      <tr>
        <td>出现单骰</td>
        <td>投注每颗骰子 1 至 6 中指定的点数，点数出现 1 次</td>
        <td>1：1</td>
      </tr>
      <tr class="tr2">
        <td>出现双骰</td>
        <td>投注每颗骰子 1 至 6 中指定的点数，点数出现 2 次</td>
        <td>1:2</td>
      </tr>
      <tr>
        <td>出现全骰</td>
        <td>投注每颗骰子 1 至 6 中指定的点数，点数出现 3 次</td>
        <td>1:3</td>
      </tr>
      <tr class="tr2">
        <td>对子 ( 双骰、长牌 )</td>
        <td>投注指定的双骰 ( 如双 1 点 ) ，至少开出 2 颗所投注的骰子</td>
        <td>1:8</td>
      </tr>
      <tr>
        <td>牌九式 ( 骨牌、短牌 )</td>
        <td>投注 15 种 2 颗骰子可能出现的组合 ( 如 1、2)</td>
        <td>1:5</td>
      </tr>
    </table>
    <p class="rulep fwbd">3颗骰子点数总和: </p>
    <table class="mc-table tactr tb2">
      <tr>
        <th>投注项目</th>
        <th>说明</th>
        <th>赔率</th>
      </tr>
      <tr>
        <td>4 或17 点</td>
        <td>总和为 4 或 17 点</td>
        <td>1:50</td>
      </tr>
      <tr class="tr2">
        <td>5 或 16 点</td>
        <td>总和为 5 或 16 点</td>
        <td>1:18</td>
      </tr>
      <tr>
        <td>6 或 15 点</td>
        <td>总和为 6 或 15 点</td>
        <td>1：14</td>
      </tr>
      <tr class="tr2">
        <td>7 或 14 点</td>
        <td>总和为 7 或 14 点</td>
        <td>1：12</td>
      </tr>
      <tr>
        <td>8 或 13 点</td>
        <td>总和为 8 或 13 点</td>
        <td>1:8</td>
      </tr>
      <tr class="tr2">
        <td>9、10、11、或 12 点</td>
        <td>总和为 9、10、11 或 12 点</td>
        <td>1:6</td>
      </tr>
    </table>
    <p class="rulep fwbd">3颗骰子点数总和: </p>
    <table class="mc-table tactr tb2">
      <tr>
        <th>投注项目</th>
        <th>说明</th>
        <th>赔率</th>
      </tr>
      <tr>
        <td>单</td>
        <td>总点数为 5, 7, 9, 11, 13, 15, 17 点<br />
          ( 遇围骰庄家通吃 )
        </td>
        <td>1:1</td>
      </tr>
      <tr class="tr2">
        <td>双</td>
        <td>总点数为 4, 6, 8, 10, 12, 14, 16 点<Br />
          ( 遇围骰庄家通吃 )
        </td>
        <td>1:1</td>
      </tr>
    </table>
  </ol>
  <div class="clear"></div>
</div>