<h3>身份验证说明</h3>
<div class="horizonLine2 mgbt20"></div>
<!--内容分类标题-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">适用情况</h4>
  <div class="mgbt20 rule">
    <p class="text1">当发现用户帐户出现以下任一情况的时候，可能会被要求进行身份证验证，同时我们保证您所提供的一切个人信息只会用做验证您身份的真实性，且都会被严格保密，提交资料后审核时间为7个工作日。</p>
    <ol>
      <li>帐户信息修改类</li>
      <ul>
        <li>修改真实姓名</li>
        <li>客户无法自行通过身份验证</li>
        <li>客户忘记登录密码、保密答案</li>
        <li class="mgbt20">客户需修改手机号码、邮箱地址信息</li>
      </ul>
      <li>账户审核类</li>
      <ul>
        <li>客户首次大额提款</li>
        <li>怀疑客户有违规投注、异常操作等行为（内含高盈利客户）</li>
        <li>怀疑客户账户存在同设备多账户、异常登录、被盗嫌疑等安全风险情况</li>
        <li>怀疑客户在网站进行恶意操作等行为（含恶意骗取银行卡信息客户、恶意篡改网站代码等客户）</li>
      </ul>
    </ol>
  </div>
</div>

<div class="mgbt20">
  <h4 class="mgbt10 hctopic">身份证照片内容及格式要求</h4>
  <div class="mgbt20 rule">
    <ol>
      <li class="normal">证件要求原件拍摄，照片不得涂改，需确保完整、水印、文字、图片、证件号码清晰可辨</li>
      <li class="normal">IC版证件需要同时提交正反二面</li>
      <li class="normal">如是一代身份证，证件上需有有效盖章</li>
      <li class="normal">证件有效期在3个月内的不予受理</li>
      <li class="normal">户口本需要正面打开盖有两个章的那页,及本人信息的那页</li>
      <li class="normal">申请人帐户真实姓名和证件号码与提交的证件信息一致</li>
      <li class="normal">证件都需要彩色原件的数码照片</li>
    </ol>
  </div>
  
</div>

<div class="mgbt20">
  <h4 class="mgbt10 hctopic">温馨提示</h4>
  <div class="mgbt20 rule">
    <ol>
      <li class="normal">如果您没有身份证，则可提供在有效期内的临时身份证、户口本、护照、军人身份证、武装警察身份证、港澳台身份证、港澳台通行证等有效证件的清晰照片。</li>
      <li class="normal">您可以使用数码相机、手机或较高像素摄像头拍下身份证，并上传到您的计算机保存为jpg、gif、png或jpeg的格式，就可以是有您的电子邮箱发送邮件给我们了。</li>
      <li class="normal">发送证件照片时，请说明您需要处理的事项， 此次发送照片，仅会处理您此次所需处理的事项。Vwin.com绝 <span class="red">不会泄露您的证件信息</span> ，请您放心！</li>
    </ol>
  </div>
  
</div>

<!--内容分类标题-->
<div class="mgbt20">
  <h4 class="mgbt10 hctopic">证件清晰度图示（以二代证为例）</h4>
  
  <div class="hc_fm">
    <div class="cols3 hctext" style="margin-top: 110px;">
      正面 ----- 清晰
    </div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140929190903.png" width="473" height="300" /></div>
    <div class="clear"></div>
  </div>
  
  
  <div class="hc_fmrt">
    <div class="cols8 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140929190958.png" width="473" height="300" /></div>
    <div class="cols3 last hctextrt" style="margin-top: 100px;">
    正面 ----- 不清晰</div>
    <div class="clear"></div>
  </div>
  
  
  <div class="hc_fm">
    <div class="cols3 hctext" style="margin-top: 90px;">
    反面 ----- 清晰</div>
    <div class="cols8 last"><img src="http://image.vwin.com/TemplateFile/AW/20140929191024.png" width="433" height="286" /></div>
    <div class="clear"></div>
  </div>
  
  <div class="hc_fmrt">
    <div class="cols8 rt"><img src="http://image.vwin.com/TemplateFile/AW/20140929191052.png" width="433" height="286" /></div>
    <div class="cols3 last hctextrt" style="margin-top: 100px;">
    反面 ----- 不清晰</div>
    <div class="clear"></div>
  </div>
  
</div>