<h3>角球盘口</h3>
<div class="horizonLine2 mgbt20"></div>
<p class="mgbt10">角球:总角球数 大/小 (包括上半场投注) <br />
  总角球数大/小，是指由两队加总的角球数来确定的投注。结算依据仅限90分钟比赛，加时赛不予计算在内。 <br />
  如果总角球数超过大/小盘预先指定的球数，则投注&rdquo;大于&rdquo;者为赢；如果总角球数低于大/小盘预先指定的球数，则投注&rdquo;小于&rdquo;者为赢。
上半场大小盘是指投注结果由上半场赛事的总角球数来决定。</p>
<p class="mgbt10">角球:总角球数 单/双 (包括上半场投注) <br />
  总角球数单/双，是指由全场两队加总的角球数来确定的投注。结算依据仅限90分钟比赛，加时赛不予计算在内。 <br />
上半场角球单双盘是指投注结果由上半场的总角球数来决定。</p>
<p class="mgbt10">角球:总角球数 <br />
以全场两队的角球总数加总计算。下注选项有0-8球、9-11球与12球及以上。结算依据仅限90分钟比赛，加时赛不予计算在内。</p>
<p class="mgbt10">角球:总角球数-上半场 <br />
以上半场两队的角球总数加总计算。下注选项有0-4球、5-6球与7球及以上。结算依据上半场比赛结果计算。</p>
<p class="mgbt10">主/客队角球总数 <br />
球队角球总数是以主队或客队全场角球总数加总计算。下注选项有0-2球、3-4球、5-6球与7球及以上。结算依据仅限90分钟比赛，加时赛不予计算在内。</p>
<p class="mgbt10">主/客队角球总数-上半场 <br />
  球队角球总数上半场是指以主队或客队半场角球总数加总计算。 <br />
下注选项有0-1球、2球、3球与4球及以上。结算依据仅限上半场比赛结果计算。</p>
<p class="mgbt10">角球:1X2 (包括上半场投注)<br />
角球1X2（3 way），代表投注哪支球队角球数胜出。 </p>
<ul>
  <li>1：如果主队胜出，该选项投注为赢 </li>
  <li>X：如果两队和局，该选项投注为赢 </li>
  <li>2：如果客队胜出，该选项投注为赢 </li>
</ul>
<p>半场1X2是指投注结果由半场赛事结果来决定。 <br />
进行投注结算时，如果比赛是在中立场举行，列在前面的球队将被视为主队。  </p>
<p class="mgbt10">角球:让分投注 (包括上半场投注) <br />
开出的选项有主队与客队两项，若为中立场比赛，则以画面上实际显示之主、客队为主。全场结算依据仅限90分钟比赛，加时赛不予计算在内。 </p>
<p class="mgbt10">角球让球数为0.5球 <br />
  球队让出0.5球： <br />
  球队角球以任何球数胜出 - 投注项为赢。 <br />
  平局 - 此项投注为输。 <br />
球队角球以任何球数输 - 此项投注为输。 </p>
<p class="mgbt10">球队获得0.5个让球： <br />
  球队角球以任何球数胜出- 投注项为赢。 <br />
  平局 - 投注项为赢。 <br />
球队角球以任何球数输- 此项投注为输。 </p>
<p class="mgbt10">角球让球数为1.5球 <br />
  球队让出1.5球： <br />
  球队角球以多于对方至少两球胜出 – 投注选项为赢。 <br />
  平局 – 投注选项为输。 <br />
球队角球以任何球数输 - 此项投注为输。 </p>
<p class="mgbt10">球队获得1.5个球让球： <br />
  球队角球以任何球数胜出- 投注项为赢。 <br />
  平局 - 投注项为赢。 <br />
球队角球输掉至少两球 - 此项投注为输。 </p>
<p class="mgbt10">角球让球数为2.5球 <br />
  球队让出2.5球： <br />
  球队角球以多于对方至少三球胜出 – 投注选项为赢。 <br />
  平局 – 投注选项为输。 <br />
球队角球以任何球数输 - 此项投注为输。 </p>
<p class="mgbt10">球队获得2.5个球让球： <br />
  球队角球以任何球数胜出- 投注项为赢。 <br />
  平局 - 投注项为赢。 <br />
球队角球输掉至少三球 - 此项投注为输。</p>