<h3>其他足球项目</h3>
<div class="horizonLine2 mgbt20"></div>

<!--内容分类标题-->
<div class="mgbt20 rule">
    <ol>
        <li>室内足球</li>
        <p class="rulep">所有投注依据预定的40分钟（2 x 20分钟）常规时间末时的赛果而定。加时赛或点球不计入内。
        </p>
        <p class="rulep">如果一场比赛延时，或暂停并且未能于当天复赛，则所有投注将被视为无效。
        </p>
        <p class="rulep mgbt20">如果一场比赛在预定时间之前开始，则只有在实际开球之前做出的投注才会被视为有效。所有比赛开始时间后做出的投注将会被视为无效，除了现场投注以外。</p>
        
        <li>美式足球</li>
        <p class="rulep">所有全场赌盘包括现场投注将会根据包括加时赛在内的最终赛果结算（除非本规则另有说明）。
        </p>
        <p class="rulep">如果一场比赛没有在预定开始日期开始，则所有投注将无效（除非另有说明）。
        </p>
        <p class="rulep">如果一场比赛在预定开始时间后的十二个小时内中止或暂停，只要比赛已经完成了五十五（55）分钟的赛程，则全场投注仍会被视作有效。如果相关主办单位宣布了一个官方结果，则投注也会被视为有效。否则对于暂停或中止的比赛的投注将为无效，除了对无条件决定的赌盘所下投注以外。
        </p>
        <p class="rulep">上半场的赛果为第一节和第二节的总得分。下半场的赛果是第三节和第四节的总得分，包括任何可能进行的加时赛。
        </p>
        <p class="rulep">第四节的赛果不包括任何可能会进行的加时赛。</p>
        <p class="rulep">如果一场比赛暂停或中止，对未完成的半场或小节的投注将被视为无效。如果指定的半场或小节已经完成，则投注有效。</p>
        <p class="rulep">得分会更新用于美式足球的现场投注，而在现场交易时显示的赌盘是投注之时所显示的得分。
        </p>
        <p class="rulep">“首先得分球队”的赌盘是根据率先得分的球队进行结算的。 如果一场比赛在已经实现得分后暂停或中止，则投注仍然有效。
        </p>
        <p class="rulep">“最后得分球队”的赌盘是根据最后得分的球队进行结算的。如果一场比赛暂停或中止，则所有投注皆无效。
        </p>
        <p class="rulep">NCAA比赛的主场/客场信息仅供参考。</p>
        <p class="rulep mgbt20">对于现场投注，在比赛过程中，本公司拥有全权及绝对酌情权，我们认为可能会影响一支球队或球员的比分、结果、表现的这些行为是危险，;认股权证改变了赔率/价格或市场或投注信息（“危险比赛”），本公司有权暂停接受投注，可能接受或拒绝危险比赛之后的投注。在比赛中的所有其他行动被认为是安全比赛和继续接受投注。</p>
        
        <li>沙滩足球</li>
        <p class="rulep">所有投注将在获得比赛三个小节（每节12分钟）的结果后结算，除非本公司另有书面说明。
        </p>
        <p class="rulep">如果一场比赛在预定时间之前开始，任何在提前开始后和预定开赛时间之前所做的非现场型投注将被视为无效。接受现场投注期间所做的现场投注会被视为有效，并且当赛事已经开始时，现场投注即被视为已经开始，即使比赛比预定时间提前开始。
        </p>
        <p class="rulep">加时赛和点球大战不会用于投注和结算，除非另有说明。</p>
        <p class="rulep">如果一场比赛暂停、中止或终止，则整场比赛将被视为无效，不论官方对结果的决定如何，比赛都会被视为无效。对无效比赛的所有投注结算将由本公司全权决定。</p>
        <p class="rulep">本公司所提供场地信息（例如中立场地）仅做辅助信息之用，并且不论所述中立场地是否正确，本公司都皆不对此负责。客户有责任确认任何比赛的正确场地。
        </p>
        <p class="rulep">对于现场投注，在一场比赛中，本公司可自行全权认定可能会影响一支球队或一名球员的得分、结果、表现的危险行为；或者批准改变赔率/赌金或赌盘或投注信息（“危险比赛”），本公司有权暂停接受投注并且可以在“危险比赛”后接受或拒绝投注。在一场比赛中的所有其它行为
            都被视为安全比赛，投注仍会被接受。
        </p>
        <p class="rulep">对于现场投注，在裁判宣布每一节以及/或者全场比赛时间结束的一刻，所有待定的投注都会被自动拒绝。
        </p>
        <p class="rulep">沙滩足球投注类型，本公司提供下列投注类型：</p>
        <ul>
            <li>非现场投注</li>
            <p class="pointp">亚洲盘 – 表示投注预测哪支球队会获得最多进球，以最终得分加上任何让分为准。</p>
            <p class="pointp">单/双盘 – 表示投注全部三个小节（每小节十二分钟）结束时的总得分是否为单数或双数。
            </p>
            <p class="pointp">大/小盘 – 表示投注全部常规三节（每节十二分钟）比赛的总得分，不含加时赛。</p>
            <li>在实时（“现场”）投注中</li>
            <p class="pointp">亚洲盘 – 表示投注预测哪支球队会获得最多进球，以最终得分加上任何让分为准。
            </p>
            <p class="pointp">大/小盘 – 表示投注全部常规三节（每节十二分钟）比赛的总得分，不含加时赛。</p>
        </ul>
        
    </ol>
    
    <div class="clear"></div>
</div>