<div class="mgbt20 rule">
  <ol start=15>
    <li>主队进第一个球的半场</li>
    <p class="rulep">表示投注预测主队在哪个半场会产生第一个进球。</p>
    <p class="rulep">下列选项可供选择：</p>
    <ul>
      <li>上半场</li>
      <li>下半场</li>
      <li class="mgbt20">无进球</li>
    </ul>
    
    
    <li>客队进第一个球的半场</li>
    <p class="rulep">表示投注预测客队在哪个半场会产生第一个进球。</p>
    <p class="rulep">下列选项可供选择：</p>
    <ul>
      <li>上半场</li>
      <li>下半场</li>
      <li class="mgbt20">无进球</li>
    </ul>
    
    <li>两队皆进球</li>
    <p class="rulep">两队皆进球是指投注预测两队是否都在赛事中皆有进球。</p>
    <p class="rulep mgbt20">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
    
    <li>上半场两队皆进球</li>
    <p class="rulep">上半场两队皆进球是指投注预测两队是否都在赛事中的上半场皆有进球。</p>
    <p class="rulep mgbt20">如果赛事当主客队都有在上半场进球后中止，“是”的投注将视为胜方，“不是”的投注并视为负方。如果赛事在上半场之前并没有任何进球的情况下中止，则全部投注视为无效。</p>
    
    <li>下半场两队皆进球</li>
    <p class="rulep">下半场两队皆进球是指投注预测两队是否都在赛事中的下半场皆有进球。</p>
    <p class="rulep mgbt20">如果赛事当主客队都有在下半场进球后中止，“是”的投注将视为胜方，“不是”的投注并视为负方。如果赛事在没有任何进球的情况下中止，则全部投注视为无效。</p>
    
    <li>两队皆进球 上半场/下半场</li>
    <p class="rulep">两队皆进球，上半场/下半场是指投注预测两队是否在赛事中的上半场皆有进球以及两队是否在赛事中的下半场皆有进球。</p>
    <p class="rulep mgbt20">如果赛事中止，除非主客队都有在上半场和下半场进球，否则投注将视为无效。</p>
    
    <li>两队皆进球/总进球数</li>
    <p class="rulep">两队皆进球/总进球数是指投注预测两队在赛事中的总进球数以及两队是否都在赛事中进球。</p>
    <p class="rulep">如果赛事中止，除非投注结算已可被确认，否则投注将视为无效。</p>
    
  </ol>
  
  <div class="clear"></div>
</div>