@charset "utf-8";
/* CSS Document */

/*幫助中心步驟流程表格*/
p{
	line-height:20px;
	}
.hc_fm, .hc_fmrt{
	margin-bottom:20px;
	margin-left:30px;
	margin-right:20px;
}
.hcnum{
	text-align:right;
	float: left;
	font-size: 50px;
	font-weight:bold;
	font-family: "futura_mdcn_btmedium";
}
.hctext{
	margin-top: -42px;
	font-size: 16px;
	font-weight:bold;
	margin-left:30px;
	line-height:18px;
}
.hctextrt{
	margin-top: 8px;
	font-size: 16px;
	font-weight:bold;
	margin-left:3px;
	line-height:18px;
}
.hctext span, .hctextrt span{
	line-height:16px;
	font-size:13px;
	color:#888;
}
.hctopic{
	background-color: #cdcdcd;
	padding: 5px;
}

/*幫助中心文字編排 | Update 150609 by Johnson*/
.rule ol li{
	list-style-type:decimal;
	margin-left: 38px;
	line-height: 20px;
	font-size: 16px;
	font-weight:bold;
	margin-bottom: 10px;
}
.rule ol li.normal{
	font-size: 13px;
	font-weight:normal;
}
.rule2 ol li{
	font-size:13px;
	font-weight:normal;
}
.rule ol li p{
	font-weight:normal;
}
.rule img{
	margin:10px 0;
}
.rulep{
	margin-left: 38px;
	margin-bottom: 10px;
}
.rule ul li{
	list-style-type:disc;
	margin-left: 56px;
	font-size: 13px;
	font-weight:normal;
	margin-bottom: 10px;
	line-height: 20px;
}
.pointp{
	margin-left: 56px;
	margin-bottom: 10px;
}
.pdlef16{
	padding-left: 16px;
}
.hlpBtn2{
	padding: 10px 20px;
    display: inline-block;
    background-color: #d9d9d9;
    color: #666666;
	margin-bottom: 20px;
	margin-right: 5px;
	cursor: pointer;
}
.hlpBtn2 a{
    color: #666666;
}
.checked{
    background-color: #98171a;
    color: #FFFFFF;
}
.checked a{
    color: #FFFFFF;
}
.hlp_mn_mn li{
	padding:10px 20px;
	float:left;
	cursor:pointer;
	}
.hlp_mn_mn li:hover, .hlp_mn_mn li.active{
	background-color:#eeeeee;
	}
.sub-box{
	padding:30px 20px 30px;
	background-color:#eeeeee;
	min-height: 739px;
	}
.noheight{
	min-height:inherit;
}
.tbl{
	margin-left: 38px;
	margin-bottom: 20px;
	width: 75%;
	border: 0;
	cellspacing:0;
	cellpadding:0;	
}
.mc-con3 div.mc-ct p.text2 {
	line-height: 20px;
	padding-bottom: 20px;
}
.rule3 ol li{
	list-style-type:decimal;
	margin-left: 38px;
	line-height: 20px;
	font-size: 16px;
	margin-bottom: 10px;
}
.rule3 p{
	font-size: 13px;
	margin:10px 0 28px;
}
/*幫助中心	-選單*/
.mc-con3 div.menu div.mnrt ul.hlpMn {
	list-style-type:disc;
	padding-left:20px;
}
.mc-con3 div.menu div.mnrt ul.hlpMn li {
	padding:0px;
}
.mc-con3 div.menu div.mnrt ul.hlpMn li span{
	margin-left:2px;
}
/*新手上路*/
.help_center_icon_novice {
	background:url(../images/help_center_icon.gif) -0px -0px no-repeat;
	width: 21px;
	height: 21px;
	left: 50%;
	margin-top: 30px;
	margin-left: -10px;
	float: left;
	display: block;
	position: relative;
}
/*體育*/
.help_center_icon_sport {
	background-position:-21px 0px;
}
/*快樂彩*/
.help_center_icon_keno {
	background-position:-42px -0px;
}
/*世異樂透*/
.help_center_icon_world_lotto {
	background-position:-63px -0px;
}
/*手機/平板*/
.help_center_icon_phone {
	background-position:-84px -0px;
}

div.active .help_center_icon_novice {
	background-position:-105px -0px;
}

div.active .help_center_icon_sport {
	background-position:-126px -0px;
}

div.active .help_center_icon_keno {
	background-position:-147px -0px;
}

div.active .help_center_icon_world_lotto {
	background-position:-168px -0px;
}

div.active .help_center_icon_phone {
	background-position:-189px -0px;
}
/*足球*/
.ball_1 {
  background: url(../images/help_center_ball.gif) -78px -0px no-repeat;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  display:inline-block;
}

/*籃球*/
.ball_2 {
  background-position: -0px -0px;
}

/*棒球*/
.ball_3 {
  background-position: -104px -0px;
}

/*曲棍球*/
.ball_4 {
  background-position: -117px -0px;
}

/*網球*/
.ball_5 {
  background-position: -130px -0px;
}

/*羽毛球*/
.ball_6 {
  background-position: -143px -0px;
}

/*乒乓球*/
.ball_7 {
  background-position: -156px -0px;
}

/*排球及沙灘排球*/
.ball_8 {
  background-position: -169px -0px;
}

/*斯諾克與檯球*/
.ball_9 {
  background-position: -182px -0px;
}

/*高爾夫球*/
.ball_10 {
  background-position: -13px -0px;
}

/*手球*/
.ball_11 {
  background-position: -91px -0px;
}

/*水球*/
.ball_12 {
  background-position: -26px -0px;
}

/*壁球*/
.ball_13 {
  background-position: -39px -0px;
}

/*板球*/
.ball_14 {
  background-position: -52px -0px;
}

/*橄欖球*/
.ball_15 {
  background-position: -65px -0px;
}
/*飛鏢*/
.ball_16 {
  background-position: -195px -0px;
}
/*=============Hover=============*/
/*足球*/
.ball_1:hover, .ball_1.active {
  background-position: -78px -13px;
}

/*籃球*/
.ball_2:hover, .ball_2.active {
  background-position: -0px -13px;
}

/*棒球*/
.ball_3:hover, .ball_3.active {
  background-position: -104px -13px;
}

/*曲棍球*/
.ball_4:hover, .ball_4.active{
  background-position: -117px -13px;
}

/*網球*/
.ball_5:hover, .ball_5.active {
  background-position: -130px -13px;
}

/*羽毛球*/
.ball_6:hover, .ball_6.active {
  background-position: -143px -13px;
}

/*乒乓球*/
.ball_7:hover, .ball_7.active {
  background-position: -156px -13px;
}

/*排球及沙灘排球*/
.ball_8:hover, .ball_8.active {
  background-position: -169px -13px;
}

/*斯諾克與檯球*/
.ball_9:hover, .ball_9.active {
  background-position: -182px -13px;
}

/*高爾夫球*/
.ball_10:hover, .ball_10.active {
  background-position: -13px -13px;
}

/*手球*/
.ball_11:hover, .ball_11.active {
  background-position: -91px -13px;
}

/*水球*/
.ball_12:hover, .ball_12.active {
  background-position: -26px -13px;
}

/*壁球*/
.ball_13:hover, .ball_13.active {
  background-position: -39px -13px;
}

/*板球*/
.ball_14:hover, .ball_14.active {
  background-position: -52px -13px;
}

/*橄欖球*/
.ball_15:hover, .ball_15.active {
  background-position: -65px -13px;
}

/*飛鏢*/
.ball_16:hover, .ball_16.active {
  background-position: -195px -13px;
}

/*關於vwin*/
.nav_about {
	background: url(../images/help_center_icon.gif) -0px -21px no-repeat;
	width: 21px;
	height: 21px;
	left: 50%;
	margin-top: 30px;
	margin-left: -10px;
	float: left;
	display: block;
	position: relative;
}
/*責任博彩*/
.nav_responsibility {
	background-position:-21px -21px;
}
/*條款及條件*/
.nav_conditions {
	background-position:-42px -21px;
}
/*條款及條件 | Updata 150604 by Johnson*/
.nav_conditions_gift {
	background-position:-42px -42px;;
}
/*隱私權政策*/
.nav_privacy {
	background-position:-63px -21px;
}
/*聯絡我們*/
.nav_contact_us {
	background-position:-84px -21px;
}

div.active .nav_about {
	background-position:-105px -21px;
}

div.active .nav_responsibility {
	background-position:-126px -21px;
}

div.active .nav_conditions {
	background-position:-147px -21px;
}

div.active .nav_conditions_gift {
	background-position:-147px -42px;
}

div.active .nav_privacy {
	background-position:-168px -21px;
}

div.active .nav_contact_us {
	background-position:-189px -21px;
}
/*聯絡我們 表格 | Updata 150616 by Johnson*/
.ct_fmlft{
	display:inline-block;
	float: left;
	width:37%;
	min-width:388px;
}
.ct_fmrt{
	display:inline-block;
	float: left;
	width:41%;
}