<div id="content" style="padding-top: 115px;background-color:#eee;" ng-controller="memberCtrl">
  <div class="mw">
    <!--上方公版-->
    <div class="vw-account">
      <div class="mc-con1">
        <div class="mc-top cl">
          <div class="vw-name-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <div class="pctg fltlft">
                <div class="vw-bar-circle">
                  <div class="mya_lpercent left">
                    <input type="text" id="kb3" value="0" autocomplete="off" readonly="readonly" style="display: none; width: 0px; visibility: hidden;">
                    <div class="pct_num">
                      <span class="pieFont">0</span>
                      <i>%</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grzl">
                <h3>hi, <em ng-bind="info.UserName"></em><span ng-class="vip_values.icon"></span></h3>
                <h6>{{'member@last_login_time' | translate}}<em ng-bind="userdata.LastLoginTime"></em></h6>
              </div>
            </div>
          </div>
          <div class="vw-jf-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <div class="vw-tit">
                {{'member@month_bonus' | translate}}：<em ng-bind="vip_values.TotalPoints"></em>
                <div class="fltrt">
                  {{'member@year_bonus' | translate}}：<em ng-bind="vip_values.YearPoints"></em>
                </div>
              </div>

              <div class="vw-info cl">
                <span class="txt fltlft">{{'member@member_get' | translate}}</span>
                <span class="icon-vip fltlft" ng-bind="vip_values.VIPName_N"></span>
                <span class="vw-money fltlft"><i>{{Symbol}}</i><font ng-bind="vip_values.LevelUpBonus_N"></font></span>
              </div>
            </div>
          </div>
          <div class="vw-tq-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <div class="vw-tit">
                {{'member_vip@more_vip_title' | translate}}
                <h3><a ui-sref="vip">{{'member_vip@more_vip_info' | translate}}</a></h3>
              </div>
              <div class="vw-info cl">
                <div class="vw-icon-fixed icon1">
                  <ul>
                    <li class="lc-icon1 lc-fricon-fixed pop_hb">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@levelup_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.LevelUpBonus"></font></span></div>
                      </div>
                    </li>
                    <li class="lc-icon2 lc-fricon-fixed pop_hb">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@birthday_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.BirthdayBonus"></font></span></div>
                      </div>
                    </li>
                    <li class="lc-icon3 lc-fricon-fixed pop_hb">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@withdraw_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.DP_MaxLimit"></font></span></div>
                      </div>
                    </li>
                    <li class="lc-icon4 lc-fricon-fixed pop_hb">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@sport_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.SportsBonus"></font></span></div>
                      </div>
                    </li>
                    <li class="lc-icon5 lc-fricon-fixed pop_hb pop_en">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@casino_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.CasinoBonus"></font></span></div>
                      </div>
                    </li>
                    <li class="lc-icon6 lc-fricon-fixed pop_hb">
                      <a></a>
                      <div class="pop">
                        <div class="pop_cnt">{{'member_vip@vip_bonus' | translate}}：<span class="vw-money"><i>{{Symbol}}</i><font ng-bind="vip_values.VIPHelpBonusLimit"></font></span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mc-bottom">
          <div class="cl">
            <div class="fltlft">
              <div class="icon-user">
                <span ng-if="security_status.mobile" class="iconfont icon_mobile icon_rz"></span>
                <span ng-if="!security_status.mobile" class="iconfont icon_mobile icon_gray"></span>
                <span ng-if="security_status.email" class="iconfont icon_email icon_rz"></span>
                <span ng-if="!security_status.email" class="iconfont icon_email icon_gray"></span>
                <span ng-if="security_status.name" class="iconfont icon_sm icon_rz"></span>
                <span ng-if="!security_status.name" class="iconfont icon_sm icon_gray"></span>
              </div>
            </div>
            <div class="fltlft info">
              <p ng-if="page_flow == 1">
                {{'member@security_msg_1' | translate}}
                <a ui-sref="member.security({method: 'email'})">{{'member_security@email' | translate}}</a>{{'member@security_msg_2' | translate}}
                <a ui-sref="member.security({method: 'name'})">{{'member_security@name' | translate}}</a>{{'member@security_msg_3' | translate}}
                <a ng-if="!bonusAllGet" ui-sref="member.bonus" translate="member@security_msg_4" translate-values="{money : bonus.all}"></a>
              </p>
              <p ng-if="page_flow == 2">
                {{'member@security_msg_2_1' | translate}}
                <a ng-if="!bonusAllGet" ui-sref="member.bonus" translate="member@security_msg_2_2" translate-values="{money : bonus.all}"></a>
              </p>
              <p ng-if="page_flow == 3">
                {{'member@security_msg_2_1' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mw">
    <div class="mc-con2 last cl">
      <div class="vw-wrapper fltlft">
        <div ui-view></div>
        <!--左側選單-->
        <div class="menu">
          <ul>
            <li ui-sref="member.profile" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@member_center' | translate}}</span></a>
            </li>
            <li ui-sref="member.bank" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@fund' | translate}}</span></a>
            </li>
            <li ui-sref="member.trade" ui-sref-active="active">
              <a><i class="m-icon2 iconfont">&#xe620;</i><span>{{'member@trade_history' | translate}}</span></a>
            </li>
            <li ui-sref="member.message" ui-sref-active="active">
              <a>
                <i class="m-icon3 iconfont">&#xe612;</i><span>{{'member@message_box' | translate}}</span>
                <!--<em class="icon_tx" ng-if="unreadMessageCount !== -1"><span ng-bind="unreadMessageCount"></span></em>-->
              </a>
            </li>
            <li ui-sref="member.bonus" ui-sref-active="active">
              <a><i class="m-icon4 iconfont">&#xe60f;</i><span>{{'member@bonus' | translate}}</span></a>
            </li>
            <li ui-sref="member.friend" ui-sref-active="active">
              <a><i class="m-icon5 iconfont">&#xe623;</i><span>{{'member@invite_friend' | translate}}</span></a>
            </li>
            <li ui-sref="member.vip" ui-sref-active="active">
              <a><i class="m-icon6 iconfont">&#xe622;</i><span>{{'member@vip' | translate}}</span></a>
            </li>
            <li ui-sref="member.info" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@account_info' | translate}}</span></a>
            </li>
            <li ui-sref="member.security({method: 'index'})" ng-class="{'active':isSecurity}">
              <a><i class="m-icon2 iconfont">&#xe620;</i><span>{{'member@security_center' | translate}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="vw-quick-fixed">
        <!--右側轉帳widget-->
        <div transfer-widget></div>
        <!--右側紅利widget-->
        <div bonus-widget></div>
      </div>
    </div>
  </div>
</div>
