<div class="vw-content" ng-controller="memberTradeCtrl">
    <div partial-loading show="showLoading" top="40%"></div>
    <div class="vw-part vw-fund">
        <!-- 主標 -->
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-hd">
                    <h3>
                        {{'member_trade@trade_history' | translate}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!--提款 取款 账变历史页面-->
    <div id="vw-ck" class="vw-part vw-ck">
        <div class="cl">
            <div class="col-12">
                <div class="vw-hl-tab" style="margin-top: 0;">
                    <ul class="mya_declassul">
                        <li class="mya_depost tab_nav" ng-class="{'active':method === 'deposit'}" ng-click="clickTab('deposit')">
                            <a>
                                {{'member_trade@deposit_history_title' | translate}}
                            </a>
                        </li>
                        <li class="mya_dedraw tab_nav" ng-class="{'active':method === 'withdraw'}" ng-click="clickTab('withdraw')">
                            <a>
                                {{'member_trade@withdraw_history_title' | translate}}
                            </a>
                        </li>
                        <li class="mya_dedraw tab_nav" ng-class="{'active':method === 'fund'}" ng-click="clickTab('fund')">
                            <a>
                                {{'member_trade@fund_history_title' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 查詢項目 -->
        <div class="cl transaction_search" style="border-top: 2px solid #b33234;">
            <div class="tab-bd">
              <span class="fltlft middl-line">{{'member_trade@datetime' | translate}}</span>
              <div class="vw-ui-input col-3">
                <!-- 查詢起始日 -->
                <input type="text" readonly="readonly" id="datepicker_start" />
              </div>
              <span class="fltlft middl-line">—</span>
              <div class="vw-ui-input col-3">
                <!-- 查詢結束日 -->
                <input type="text" readonly="readonly" id="datepicker_end" />
              </div>
              <a class="btn-1 fltlt" ng-click="getHistory()" style="margin-left: 20px; padding: 10px 20px;">
                {{'member_trade@query' | translate}}
              </a>
            </div>
        </div>
        <div ui-view="deposit" ng-if="method === 'deposit'" class="col-12"></div>
        <div ui-view="withdraw" ng-if="method === 'withdraw'" class="col-12"></div>
        <div ui-view="fund" ng-if="method === 'fund'" class="col-12"></div>
    </div>

    <!-- 轉帳 -->
    <div popup-dialog show='transferShown'>
        <div popup-detail-transfer trade-detail is-popup="transferShown" query-date="queryDate" query-type="transfer" query-platform="currentPlatform"></div>
    </div>

    <!-- 存款 -->
    <div popup-dialog show='depositShown'>
        <div popup-detail-deposit trade-detail is-popup="depositShown" query-date="queryDate" query-type="deposit"></div>
    </div>

    <!-- 提款 -->
    <div popup-dialog show='withdrawShown'>
        <div popup-detail-withdraw trade-detail is-popup="withdrawShown" query-date="queryDate" query-type="withdraw"></div>
    </div>

    <!-- 紅利 -->
    <div popup-dialog show='bonusShown'>
        <div popup-detail-bonus trade-detail is-popup="bonusShown" query-date="queryDate" query-type="bonus" query-platform="currentPlatform"></div>
    </div>

    <!-- 餘額 -->
    <div popup-dialog show='balanceShown'>
        <div popup-detail-balance trade-detail is-popup="balanceShown" query-date="queryDate" query-type="balance"></div>
    </div>

    <!-- 輸贏 -->
    <div popup-dialog show='subtotalShown'>
        <div popup-detail-subtotal trade-detail is-popup="subtotalShown" query-date="queryDate" query-type="subtotal" query-platform="currentPlatform"></div>
    </div>

    <!-- 未結算 -->
    <div popup-dialog show='unsettleShown'>
        <div popup-detail-subtotal trade-detail is-popup="unsettleShown" query-date="queryDate" query-type="unsettle" query-platform="currentPlatform"></div>
    </div>
</div>
