<div class="vw-content" ng-controller="memberInfoCtrl">
    <div class="vw-part vw-zhxx">
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-hd">
                    <h3>{{'member_info@title' | translate}}</h3>
                </div>
            </div>
        </div>
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd vw-tip">
                    <p>{{'member_info@notice' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd vw-form mt35">
                    <form action="">
                        <ul class="thema-a">
                            <li class="vw-fItem">
                                <label class="grey5" for="">{{'member_info@realname' | translate}}：</label>
                                <div class="vw-ui-input">
                                    <input type="text" placeholder="{{'member_info@realname_placeholder' | translate}}" ng-model="userdata.realname"/>
                                </div>
                            </li>
                            <li class="vw-fItem">
                                <label class="grey5" for="">{{'member_info@birthday' | translate}}：</label>
                                <div class="vw-sel3 cl">
                                    <div class="vw-ui-input fltlft">
                                        <input value="{{userdata.birthday}}" readonly="readonly" ng-show="birthday_readonly"/>
                                        <input type="text" id="datepicker_birthday" ng-model="userdata.birthday" readonly="readonly" ng-show="!birthday_readonly"/>
                                    </div>
                                </div>
                            </li>
                            <li class="vw-fItem" ng-show="!gender_readonly">
                                <label class="grey5" for="">{{'member_security_name@sex' | translate}}：</label>
                                <div class="thema-a cl" ng-init="userdata.gender=1">
                                    <div class="ui-checkbox fltlft" ng-click="userdata.gender='1'">
                                        <p class="tos"><span class="icon-checkbox mgrt5" ng-class="{'icon-checkbox-checked': userdata.gender=== '1'}"></span>{{ 'member_security_name@sex_1' | translate }}</p>
                                    </div>
                                    <div class="ui-checkbox fltlft" ng-click="userdata.gender='0'">
                                        <p class="tos"><span class="icon-checkbox mgrt5" ng-class="{'icon-checkbox-checked': userdata.gender=== '0'}"></span>{{ 'member_security_name@sex_2' | translate }}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="vw-fItem" ng-show="gender_readonly">
                                <label class="grey5" for="">{{'member_security_name@sex' | translate}}：</label>
                                <div class="thema-a cl" ng-init="userdata.gender=1">
                                    <div class="ui-checkbox fltlft">
                                        <p class="tos"><span class="icon-checkbox mgrt5" ng-class="{'icon-checkbox-checked': userdata.gender=== '1'}"></span>{{ 'member_security_name@sex_1' | translate }}</p>
                                    </div>
                                    <div class="ui-checkbox fltlft">
                                        <p class="tos"><span class="icon-checkbox mgrt5" ng-class="{'icon-checkbox-checked': userdata.gender=== '0'}"></span>{{ 'member_security_name@sex_2' | translate }}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="vw-fItem">
                                <a class="btn-1" ng-class="{'btn-disable': !userdata.birthday || !userdata.gender || !userdata.realname }"
                                   btn-process callback="CreateInfo(userdata.gender, userdata.realname)">{{'member_info@submit' | translate}}</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
