<div class="vw-content" ng-controller="memberMessageCtrl">
    <div partial-loading show="showMessageLoading" top="40%"></div>
    <div class="vw-part">
        <div class="cl vw-fund">
            <div class="col-12">
                <div class="vw-p-hd">
                    <h3>
                        {{'member_message@message_box' | translate}}
                    </h3>
                    <!-- <a class="vw-refresh" ng-click="reload()"></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="vw-part  message-list-panel">
        <ul class="message-list">
            <div message-repeat ng-repeat="message in messages">

            </div>
        </ul>
        <div pager page-count="pager.pageCount" page-index="pager.pageIndex" update="pager.turnPage(num)"></div>
    </div>
</div>
