<div class="">
    <div class="cl">
        <div class="col-12">
            <div class="vw-p-hd">
                <h3>{{ 'member_security@withdraw' | translate }}</h3>
            </div>

        </div>
    </div>
</div>
<div id="pwdPanel" class="yzPanel cl">
    <div class="vw-part" ng-if="!security_status.withdraw">
        <!--  -->
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd pb30 pt30">
                    <p>{{'member_security_withdraw@notice' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- withdraw start -->
    <div class="mya_result vw-form mt20" ng-if="!security_status.withdraw">
        <form action="tk_pwd2.html" id="editPwd" class="pt30">
            <ul>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security@password' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <span class="icon icon-lock"></span>
                            <input type="password" name="password" placeholder="{{'member_security_withdraw@password_placeholder' | translate}}" ng-model="withdraw.password">
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_withdraw@withdraw' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <span class="icon icon-lock"></span>
                            <input type="password" name="pwd" placeholder="{{'member_security_withdraw@withdraw_placeholder' | translate}}" ng-model="withdraw.value">
                        </div>
                    </div>
                </li>
                <li class="vw-fItem mya_decheck noTry">
                    <label class="grey5" for="">{{'member_security_withdraw@check_withdraw' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <span class="icon icon-lock"></span>
                            <input type="password" name="notpwd" placeholder="{{'member_security_withdraw@check_withdraw_placeholder' | translate}}" ng-model="withdraw.check">
                        </div>
                        <div class="">
                            <p>&nbsp;</p>
                            <p class="min_tip">{{'member_bank_withdraw@password_tip' | translate}}</p>
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <div class="vw-rItem">
                        <a class="btn-1 check-pwd" ng-class="{'btn-disable': !withdraw || !withdraw.check }" btn-process callback="CreateSecurityWithdraw(withdraw)">{{'member_security_withdraw@submit' | translate}}</a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!-- withdraw end -->

    <div class="mya_result cl" ng-if="(security_status.withdraw  && withdraw.flow == 'withdraw')">
        <div class="mya_wrap yellowBg">
            <div class="result_tit"><i class="icon_yes"></i>{{'member_security_withdraw@notice_title_2' | translate}}</div>
            <div class="result_cnt"><p>{{'member_security_withdraw@notice_message_2' | translate}}</p></div>
        </div>
        <div class="mya_help">
            <h5><b>{{'member_security_withdraw@notice_title_3' | translate}}</b></h5>
            <p style="line-height:30px;">{{'member_security_withdraw@notice_message_3_1' | translate}}<a ui-sref="about({menuItem:'contact'})">{{'member_security_withdraw@notice_page_3_1' | translate}}</a>，{{'member_security_withdraw@notice_message_3_2' | translate}}<a ng-click="openLiveChat()">{{'member_security_withdraw@notice_page_3_2' | translate}}</a>{{'member_security_withdraw@notice_message_3_3' | translate}}</p>
            <a class="btn-1 white" ng-show="security_status.withdraw" ng-click="WithdrawUI_Change('withdraw');">{{'member_security_withdraw@update_withdraw' | translate}}</a>
            <a class="btn-1 white" ng-show="!security_status.withdraw" ui-sref="member.security({method: 'withdraw'})">{{'member_security_withdraw@update_withdraw' | translate}}</a>
        </div>
    </div>
    <div class="vw-rtn-back"><a ui-sref="member.security({method: 'index'})">BACK</a></div>
</div>