<div id="content" style="padding-top: 115px;background-color:#eee;" ng-controller="memberCtrl">
  <div class="mw">
    <!--上方公版-->
    <div class="vw-account">
      <div class="mc-con1">
        <div class="mc-top cl">
          <div class="vw-name-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <div class="pctg fltlft">
                <div class="vw-bar-circle">
                  <div class="mya_lpercent left">
                    <input type="text" id="kb3" value="0" autocomplete="off" readonly="readonly" style="display: none; width: 0px; visibility: hidden;">
                    <div class="pct_num">
                      <span class="pieFont">0</span>
                      <i>%</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grzl">
                <h3>hi, <em ng-bind="info.UserName"></em><span ng-class="vip_values.icon"></span></h3>
                <h6>{{'member@last_login_time' | translate}}：<em ng-bind="userdata.LastLoginTime"></em></h6>
                <h4>{{'member@last_login_ip' | translate}}：<em ng-bind="userdata.LastLoginIP"></em></h4>
              </div>
            </div>
          </div>
          <div class="vw-jf-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <div class="vw-tit c-red">
                {{'wallet_widget@total_funds' | translate}}：
                <span class="vw-money">
                  <i ng-bind="symbol"></i>
                  <font ng-bind="total|number:2"></font>
                </span>
                <div class="fltrt">
                  <a class="btn-1" ui-sref="member.bank({ method: 'deposit'})">
                    {{'wallet_widget@deposit' | translate}}
                  </a>
                </div>
              </div>
              <div class="vw-info cl">
                {{'wallet_widget@funds_withdraw_limit' | translate}}：
                <span class="vw-money">
                    <i ng-bind="symbol"></i>
                    <font ng-bind="withdrawLimit|number:2"></font>
                </span>
                <div class="fltrt">
                  <a class="btn-2" ui-sref="member.bank({method: 'withdraw'})">
                    {{'wallet_widget@withdraw' | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="vw-tq-fixed fltlft last">
            <div class="vw-pad25-fixed cl">
              <ul class="platforms">
                <li ng-repeat="p in platforms">
                  <span>{{p.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mc-bottom">
          <div class="cl">
            <div class="fltlft">
              <div class="icon-user">
                <span ng-if="security_status.mobile" class="iconfont icon_mobile icon_rz"></span>
                <span ng-if="!security_status.mobile" class="iconfont icon_mobile icon_gray"></span>
                <span ng-if="security_status.email" class="iconfont icon_email icon_rz"></span>
                <span ng-if="!security_status.email" class="iconfont icon_email icon_gray"></span>
                <span ng-if="security_status.name" class="iconfont icon_sm icon_rz"></span>
                <span ng-if="!security_status.name" class="iconfont icon_sm icon_gray"></span>
              </div>
            </div>
            <div class="fltlft info">
              <p ng-if="page_flow == 1">
                {{'member@security_msg_1' | translate}}
                <a ui-sref="member.security({method: 'email'})">{{'member_security@email' | translate}}</a>{{'member@security_msg_2' | translate}}
                <a ui-sref="member.info">{{'member_security@name' | translate}}</a>{{'member@security_msg_3' | translate}}
                <a ng-if="!bonusAllGet" ui-sref="member.bonus" translate="member@security_msg_4" translate-values="{money : bonus.all}"></a>
              </p>
              <p ng-if="page_flow == 2">
                {{'member@security_msg_2_1' | translate}}
                <a ng-if="!bonusAllGet" ui-sref="member.bonus" translate="member@security_msg_2_2" translate-values="{money : bonus.all}"></a>
              </p>
              <p ng-if="page_flow == 3">
                {{'member@security_msg_2_1' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mw">
    <div class="mc-con2 last cl">
      <div class="vw-wrapper fltlft">
        <div ui-view></div>
        <!--左侧菜单-->
        <div class="menu">
          <ul>
            <li ui-sref="member.profile" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@member_center' | translate}}</span></a>
            </li>
            <li ui-sref="member.bank" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@fund' | translate}}</span></a>
            </li>
            <li ui-sref="member.trade" ui-sref-active="active">
              <a><i class="m-icon2 iconfont">&#xe620;</i><span>{{'member@trade_history' | translate}}</span></a>
            </li>
            <li ui-sref="member.message" ui-sref-active="active">
              <a>
                <i class="m-icon3 iconfont">&#xe612;</i><span>{{'member@message_box' | translate}}</span>
                <!--<em class="icon_tx" ng-if="unreadMessageCount !== -1"><span ng-bind="unreadMessageCount"></span></em>-->
              </a>
            </li>
            <li ui-sref="member.info" ui-sref-active="active">
              <a><i class="m-icon1 iconfont">&#xe61f;</i><span>{{'member@account_info' | translate}}</span></a>
            </li>
            <li ui-sref="member.security({method: 'index'})" ng-class="{'active':isSecurity}">
              <a><i class="m-icon2 iconfont">&#xe620;</i><span>{{'member@security_center' | translate}}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
