<div class="">
    <div class="cl">
        <div class="col-12">
            <div class="vw-p-hd">
                <h3>{{ 'member_security@bindcard' | translate }}</h3>
            </div>

        </div>
    </div>
</div>
<div id="pwdPanel" class="yzPanel cl">
    <div class="vw-part" ng-if="!security_status.bindcard">
        <!--  -->
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd pb30 pt30">
                    <p>{{'member_security_bindcard@notice' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- bindcard start -->
    <div class="mya_result vw-form mt20" ng-if="!security_status.bindcard">
        <form action="">
            <ul class="thema-a">
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_bindcard@bank_name' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <div class="cols12 mgrt0">
                            <select class="ui-select" ng-model="bank_list" ng-options="item as item.name for item in bindcard.bankList" required ng-disabled="bank.disabled">
                                <option value="" disabled>{{'member_security_bindcard@choise_bank_name' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_bindcard@bank_branch' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <input type="text" placeholder="{{'member_security_bindcard@bank_branch_placeholder' | translate}}" ng-model="bindcard.bank_branch">
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_bindcard@bank_card_num' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <input type="text" maxlength="19" placeholder="{{'member_security_bindcard@bank_card_num_placeholder' | translate}}" ng-model="bindcard.card_num" ng-change="cardNumChange(bindcard.card_num)" ng-pattern="/^\d+$/">
                        </div>
                        <h3 class="fdj" ng-bind="cardNumFix" ng-if="cardNumFix"></h3>
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_bindcard@display_name' | translate}}：</label>
                    <div class="vw-rItem">
                        <div class="vw-ui-input cl">
                            <input type="text" placeholder="{{'member_security_bindcard@display_name_placeholder' | translate}}" ng-model="bindcard.display_name">
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <div class="vw-rItem">
                        <a class="btn-1 check-pwd" ng-class="{'btn-disable': !bank_list || !bindcard.bank_branch || !bindcard.card_num || !bindcard.display_name }" btn-process callback="CreateSecurityBindcard(bank_list, bindcard)">{{'member_security_bindcard@submit' | translate}}</a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!-- bindcard end -->

    <div class="mya_result cl" ng-if="(security_status.bindcard  && bindcard.flow == 'bindcard')">
        <div class="mya_wrap yellowBg">
            <div class="result_tit"><i class="icon_yes"></i>{{'member_security_bindcard@notice_title_2' | translate}}</div>
            <div class="result_cnt"><p>{{'member_security_bindcard@notice_message_2' | translate}}</p></div>
        </div>
        <div class="mya_help">
            <h5><b>{{'member_security_bindcard@notice_title_3' | translate}}</b></h5>
            <p style="line-height:30px;">{{'member_security_bindcard@notice_message_3_1' | translate}}<a ui-sref="about({menuItem:'contact'})">{{'member_security_bindcard@notice_page_3_1' | translate}}</a>，{{'member_security_bindcard@notice_message_3_2' | translate}}<a ng-click="openLiveChat()">{{'member_security_bindcard@notice_page_3_2' | translate}}</a>{{'member_security_bindcard@notice_message_3_3' | translate}}</p>
            <a class="btn-1 white" ng-show="security_status.mobile" ng-click="WithdrawUI_Change('mobile');">{{'member_security_bindcard@submit_mobile' | translate}}</a>
            <a class="btn-1 white" ng-show="!security_status.mobile" ui-sref="member.security({method: 'mobile'})">{{'member_security_bindcard@submit_mobile' | translate}}</a>
        </div>
    </div>
    <div class="vw-rtn-back"><a ui-sref="member.security({method: 'index'})">BACK</a></div>
</div>