<div id="tk" class="tab_box vw-ck-cnt">
    <div partial-loading show="showLoading" top="40%"></div>
    <!--驗證頁-->
    <div class="mya_cnt" ng-if="stateCheck">
        <div class="mya_decheck" ng-class="{cursorPointer: !nameValid}" ng-if="!nameValid">
            <h4>
                <i>1</i>
                <span>
                    {{'member_bank_withdraw@please_validate_name' | translate}}
                </span>
            </h4>
            <div class="fltlft mya_decz">
                <!-- 人民幣市場輸入限制 -->
                <div class="vw-ui-input">
                    <input type="text" class="mn-ipt" placeholder="{{'member_bank_withdraw@first_name' | translate}}" style="width:274px;" ng-model="withdraw.firstName" ng-pattern="/^([\u4d00-\ue863]+[\u002E\u3002\u00B7\u2022]?[\u4d00-\ue863]+|[a-zA-Z]{4,50})$/">
                </div>
                <a class="btn-1 btn-next mt25" callback="setRealName(withdraw.firstName,withdraw.middleName,withdraw.lastName)" ng-class="{'btn-disable':!withdraw.firstName}" btn-process>
                    {{'member_bank_withdraw@submit' | translate}}
                </a>
            </div>
        </div>
        <div class="clears"></div>
        <div class="mya_decheck" ng-class="{cursorpointer: !withdrawValid}" ng-click="validateWithdraw()">
            <h4>
                <i ng-if="!nameValid">2</i>
                <i ng-if="nameValid">1</i>
                <span>
                    {{'member_bank_withdraw@please_validate_password' | translate}}
                </span>
                <span ng-class="{'icon-valid': withdrawValid, 'icon-invalid': !withdrawValid}"></span>
            </h4>
        </div>
    </div>
    <!--流程頁-->
    <div class="mya_cnt" ng-if="stateOrder">
        <!--请输入银行卡号-->
        <div class="mya_decheck">
            <h4>
                <i>1</i>
                <span>
                    {{'member_bank_withdraw@please_select_bank_account' | translate}}
                </span>
            </h4>
            <!-- AsiaPay -->
            <div class="mya_decz thema-a">
                <p class="tip">
                    {{'member_bank_withdraw@tip' | translate}}
                </p>
                <div class="tb-input-panel" style="height:auto;">
                    <div ng-repeat="item in withdraw.favoriteCards">
                        <label style="height:42px; cursor:pointer;">
                            <input type="radio" ng-model="withdraw.selectCard" style="display:inline;" ng-value="item" ng-click="withdraw.changeCard()" />
                            <img ng-src="/styles/images/bank/{{item.ImageName}}.jpg" style="padding-top:3px;padding-bottom:3px;" ng-click="withdraw.changeCard()" />
                            &nbsp;&nbsp;&nbsp;
                            <div class="icon_dlt" style="background-repeat:no-repeat;padding-top:13px;padding-bottom:22px;" ng-click="withdraw.deleteCard(item)"></div>
                        </label>
                    </div>
                    <div class="vw-ui-input col-3">
                        <select class="ui-select" ng-model="withdraw_card_list" ng-options="item as item.question for item in question.questionList" required ng-disabled="question.disabled">
                            <option value="" disabled>{{'member_bank_withdraw@choise_bank_account' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clears"></div>
            <!--请输入提款密码-->
            <div class="tk_pwd mt20">
                <h4 ng-if="withdraw.needPassword">
                    <i>3</i>
                    {{'member_bank_withdraw@please_input_withdraw_password' | translate}}
                </h4>
                <div class="mya_decz">
                    <div class="fltlft">
                        <div class="vw-ui-input">
                            <input type="text" class="mn-ipt" placeholder="{{'member_bank_withdraw@please_input_withdraw_password' | translate}}"
                                   ng-model="amount" min="{{withdraw.minValue}}" max="{{withdraw.maxValue}}" step="1" ng-pattern="/^\d+$/" onkeyup="value=value.replace(/[^-0-9]/g,'')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clears"></div>
            <!--请输入提款金额-->
            <div class="mys_deczje">
                <h4>
                    <i>2</i>
                    <span>
                        {{'member_bank_withdraw@please_input_withdraw_amount' | translate}}
                    </span>
                </h4>
                <div class="mya_decz">
                    <div class="fltlft">
                        <div class="vw-ui-input">
                            <input type="text" class="mn-ipt" placeholder="{{'member_bank_withdraw@please_input_withdraw_amount' | translate}}"
                                   ng-model="amount" min="{{withdraw.minValue}}" max="{{withdraw.maxValue}}" step="1" ng-pattern="/^\d+$/" onkeyup="value=value.replace(/[^-0-9]/g,'')">
                        </div>
                        <a class="btn-next mt20" ng-class="{'btn-1': !inProcess, 'btn-3':inProcess, 'btn-disable':!withdraw.cardNumber || !amount || (!withdraw.passwordValid && withdraw.needPassword)}"
                           callback="withdraw.createOrder(withdraw.cardNumber, amount)" btn-process>
                            <span style="line-height:21px;">
                                {{'member_bank_withdraw@next' | translate}}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="fltlft mya_deczhint">
                    <table class="tp_depositTable">
                        <tbody>
                            <tr>
                                <td>
                                    {{'member_bank_withdraw@single_limit' | translate}}
                                    ：
                                    <em>
                                        {{withdraw.minValue | currencyFix}} - {{withdraw.maxValue | currencyFix}}
                                    </em>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{'member_bank_withdraw@daily_limit' | translate}}
                                    ：
                                    <em>
                                        {{withdraw.dailyLimit | currencyFix}}
                                    </em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clears"></div>
            </div>
        </div>

    </div>
    <div class="mya_cnt" ng-if="stateResult">
        <div class="mya_result">
            <div class="mya_wrap yellowBg">
                <div class="result_tit">
                    <i class="icon_yes"></i>
                    {{'member_bank_withdraw@submit_success' | translate}}
                </div>
                <div class="result_cnt">
                    <p ng-if="currencyID != 18">
                        {{'member_bank_withdraw@order_result_info_part1' | translate}}
                        <br />
                        {{'member_bank_withdraw@order_result_info_part2' | translate}}
                        <em>
                            {{leaveTime}} {{'member_bank_withdraw@order_result_info_part3' | translate}}
                        </em>
                        {{'member_bank_withdraw@order_result_info_part4' | translate}}
                    </p>
                    <p ng-if="currencyID === 18">
                        {{'member_bank_withdraw@order_result_info_part1' | translate}}
                        <br />
                        {{'member_bank_withdraw@order_result_info_part5' | translate}}
                        <br />
                        {{'member_bank_withdraw@order_result_info_part2' | translate}}
                        <em>
                            {{leaveTime}} {{'member_bank_withdraw@order_result_info_part3' | translate}}
                        </em>
                        {{'member_bank_withdraw@order_result_info_part4' | translate}}
                    </p>
                </div>
            </div>
            <div class="mya_help">
                <h5>
                    {{'member_bank_withdraw@order_result_help_part1' | translate}}
                </h5>
                <p>
                    {{'member_bank_withdraw@order_result_help_part2' | translate}}
                    <a>
                        {{'member_bank_withdraw@order_result_help_part3' | translate}}
                    </a>
                    {{'member_bank_withdraw@order_result_help_part4' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>
