<div class="">
    <div class="cl">
        <div class="col-12">
            <div class="vw-p-hd">
                <h3>
                    {{'member_security@mobile' | translate}}
                    <div class="label_box orange red" ng-if="!security_status.mobile">
                        <i class="icon_er1 mgrt5"></i>
                        <span translate="member_security_mobile@success_message" translate-values="{money : mobile.BonusAmount}"></span>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>
<div id="pwdPanel" class="cl">
    <div class="vw-part" ng-if="!security_status.mobile">
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd vw-tip">
                    <p>{{'member_security_mobile@notice_message' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mya_result vw-form mt20" ng-if="!security_status.mobile">
        <form id="checkPhone" class="pt30">
            <ul class="thema-a">
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_mobile@mobile' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <div class="cols6 mgrt0" >
                            <input ng-if="mobile.readonly" ng-model="mobile.areacode" readonly="readonly"/>
                            <div class="ui-select" id="security_area_select" code=countryCode ng-click="area_select();" ng-if="!mobile.readonly">
                                <span class="select-icon-flag cn"></span>
                                <span class="select-text">{{'header_register@zh_cn' | translate}}</span>
                                <span class="select-icon-right icon-arrow-down"></span>
                                <div class="select-choice">
                                    <ul>
                                        <li class="li_country" countryid="2" code="86">
                                            <span class="icon-flag cn"></span>
                                            <span class="select-text">{{'header_register@zh_cn' | translate}}</span>
                                        </li>
                                        <li class="li_country" countryid="618" code="84">
                                            <span class="icon-flag vn"></span>
                                            <span class="select-text">{{'header_register@vi_vn' | translate}}</span>
                                        </li>
                                        <li class="li_country" countryid="602" code="66">
                                            <span class="icon-flag thai"></span>
                                            <span class="select-text">{{'header_register@th_th' | translate}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="select-choice-area"></div>
                            </div>
                        </div>
                        <div class="vw-ui-input cols5 mglft20">
                            <input type="text" name="phone" placeholder="{{'member_security_mobile@mobile_placeholder' | translate}}"
                                   ng-model="mobile.value" ng-change="mobile.checkValid()" ng-readonly="mobile.readonly">
                        </div>
                    </div>
                </li>
                <li class="vw-fItem" style="height:auto;">
                    <label class="grey5" for="">{{'member_security_mobile@code' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <div class="vw-ui-input cols7 mgrt0">
                            <input type="text" name="code" placeholder="{{'member_security_mobile@code_placeholder' | translate}}" ng-model="mobile.code">
                            <p class="mgtp8">{{'member_security_mobile@code_notice' | translate}}</p>
                        </div>
                        <div style="cursor: pointer" class="min call-box label_box gray fs14 col-3" id="bt_SendCode" ng-click="SendSMSVerifyCode(mobile);">{{'member_security_mobile@get_code' | translate}}</div>
                    </div>
                </li>

                <li class="vw-fItem">
                    <a class="btn-1" ng-class="{'btn-disable': !mobile.value || !mobile.code }" btn-process callback="CreateSecurityMobile(mobile)">{{'member_security_mobile@submit' | translate}}</a>
                </li>
            </ul>
        </form>
    </div>

    <div class="mya_result cl" ng-if="security_status.mobile">
        <div class="mya_wrap yellowBg">
            <div class="result_tit"><i class="icon_yes"></i>{{'member_security_mobile@notice_title_2' | translate}}</div>
            <div class="result_cnt">
                <p translate="member_security_mobile@notice_message_2" translate-values="{money : mobile.BonusAmount}"></p>
                <a class="red" ui-sref="member.bonus">{{'member_security_mobile@notice_page_2' | translate}}</a>
            </div>
        </div>
        <div class="mya_help">
            <h5><b>{{'member_security_mobile@notice_title_3' | translate}}</b></h5>
            <p style="line-height:30px;">
                {{'member_security_mobile@notice_message_3_1' | translate}}<a ui-sref="about({menuItem:'contact'})">{{'member_security_mobile@notice_page_3_1' | translate}}</a>，{{'member_security_mobile@notice_message_3_2' | translate}}<a ng-click="openLiveChat()">{{'member_security_mobile@notice_page_3_2' | translate}}</a>{{'member_security_mobile@notice_message_3_3' | translate}}
            </p>
            <a class="btn-1 white" ng-click="ModifySecurityMobile()">{{'member_security_mobile@submit_2' | translate}}</a>
        </div>
    </div>
    <div class="vw-rtn-back"><a ui-sref="member.security({method: 'index'})">BACK</a></div>
</div>