<div class="">
    <div class="cl">
        <div class="col-12">
            <div class="vw-p-hd">
                <h3>{{'member_security@password' | translate}}</h3>
            </div>

        </div>
    </div>
</div>
<div id="pwdPanel" class="cl">
    <div class="vw-part">
        <div class="cl">
            <div class="col-12">
                <div class="vw-p-bd vw-tip">
                    <p>{{'member_security_password@notice' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mya_result vw-form mt20">
        <form action="login_pwd_tip.html" id="editLogin" class="pt30">
            <ul>

                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_password@old_password' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <span class="icon icon-lock"></span>
                        <input type="password" name="pwd" placeholder="{{'member_security_password@old_password_placeholder' | translate}}" ng-model="old_password">
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_password@password' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <span class="icon icon-lock"></span>
                        <input type="password" name="newpwd" placeholder="{{'member_security_password@password_placeholder' | translate}}" ng-model="password">
                        <div class="password-meter-box" style="left:5px">
                            <!--<div class="password-meter weakest"></div>-->
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <label class="grey5" for="">{{'member_security_password@check_password' | translate}}：</label>
                    <div class="vw-ui-input cl">
                        <span class="icon icon-lock"></span>
                        <input type="password" name="notpwd" placeholder="{{'member_security_password@check_password_placeholder' | translate}}" ng-model="new_password">
                        <div class="password-meter-box" style="left:5px">
                            <!--<div class="password-meter weakest"></div>-->
                        </div>
                    </div>
                </li>
                <li class="vw-fItem">
                    <a class="btn-1 check-loginpwd" ng-class="{'btn-disable': !old_password || !password || !new_password }" btn-process callback="UpdatePassword(old_password, password, new_password)">{{'member_security_password@submit' | translate}}</a>
                </li>
            </ul>
        </form>
    </div>
    <div class="vw-rtn-back"><a ui-sref="member.security({method: 'index'})">BACK</a></div>
</div>