<div class="vw-bar" style="right: -235px;" ng-class="(opened || forceUp)? 'sidebar-z-big': 'sidebar-z-small'">
    <div id="sidebarMask" style="width:100%; height:100%; position:absolute; right:0px; top:0px; z-index:99999; display:none">
    </div>
    <div class="vw-bar-tabs-mask">
        <div class="vw-bar-tab-top">
            <div class="mui-mbar-tab-prof vw-bar-tab" page="Member" ng-click="selectPage(0)">
                <div class="vw-bar-tab-logo iconbar  icon-uniE615"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip" style="right: 70px; opacity: 0; display: none;">{{'sidebar@privilege' | translate}}</div>
            </div>
            <div id="sidebarFunds" class="mui-mbar-tab-asset vw-bar-tab" page="Bank" ng-click="selectPage(1)">
                <div class="vw-bar-tab-logo iconbar icon-uniE617"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip" style="right: 70px; opacity: 0; display: none;">{{'sidebar@funds' | translate}}</div>
            </div>
            <div class="mui-mbar-tab-msg vw-bar-tab" page="MessageBox" ng-click="selectPage(3)">
                <div class="vw-bar-tab-logo iconbar  icon-uniE612"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip" style="right: 35px; opacity: 1; display: none;">{{'sidebar@message' | translate}}</div>
            </div>
        </div>

        <div class="vw-bar-tab-bottom">
            <!-- <div class="mui-mbar-tab-qrcode vw-bar-tab">
                <div class="vw-bar-tab-logo iconbar  icon-uniE60D"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip" style="right: 35px; opacity: 1; display: none;">
                    <img ng-src="/static/v1/images/qrcode.png">
                </div>
            </div> -->
            <div class="mui-mbar-tab-gotop vw-bar-tab">
                <div class="vw-bar-tab-logo iconbar icon-uniE60E"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip">{{'sidebar@to_top' | translate}}</div>
            </div>
            <!-- <div class="mui-mbar-tab-blank vw-bar-tab">
                <div class="vw-bar-tab-logo iconbar"></div>
                <div class="vw-bar-tab-arrow"></div>
                <div class="vw-bar-tab-tip"></div>
            </div> -->
        </div>
    </div>
    <div class="vw-bar-plugins" id="vw-bar-plugins">
        <!--標頭-->
        <div class="vw-bar-plugin-hd">
            <div href="javascript:;" class="vw-bar-plugin-hd-tit">{{selectTitle | translate}}</div>
            <div class="vw-bar-plugin-hd-close iconbar icon-uniE626"></div>
        </div>
        <!--我的特權-->
        <div class="vw-bar-plugin-prof vw-bar-plugin" style="z-index: 99999; visibility: visible;">
            <div class="vw-bar-plugin-bd">
                <div class="vw-bar-prof-user-wrap">
                    <div class="vw-bar-prof-user">
                        <div class="vw-bar-circle" style="margin-right:0px;">
                            <div class="mya_lpercent left">
                                <input type="text" id="kb2" value="0" autocomplete="off" readonly="readonly" style="display: none; width: 0px; visibility: hidden;">
                                <div class="pct_num">
                                    <span class="pieFont">0</span>
                                    <i>%</i>
                                </div>
                            </div>
                        </div>
                        <div class="vw-bar-meta" style="width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:100px;">
                            <em>{{userName}}</em>
                            <p class="vipDesc">{{'sidebar@you_are' | translate}}普通{{'sidebar@member' | translate}}</p>
                            <p ng-if="bonusAllGet === false">
                                <a class="nameAuth" href="javascript://" ui-sref="member.bonus" translate="member@security_msg_4" translate-values="{money : bonusAll}"></a>
                            </p>
                        </div>
                    </div>
                    <div class="vw-bar-prof-jf">
                        <div class="vw-bar-prof-safe">
                            <h4>{{'sidebar@security_center' | translate}}</h4>
                            <ul>
                                <li class="vw-bar-prof-sIcon1 mobileAuth" style="cursor:pointer;" ui-sref="member.security({method: 'mobile'})">
                                    <a href="javascript://"></a>
                                    <i style="display: none;">{{'sidebar@mobile_verification' | translate}}</i>
                                </li>
                                <li class="vw-bar-prof-sIcon2 emailAuth" style="cursor:pointer; background-position: 100% -42px;" ui-sref="member.security({method: 'email'})">
                                    <a href="javascript://"></a>
                                    <i style="display: none;">{{'sidebar@email_verification' | translate}}</i>
                                </li>
                                <li class="vw-bar-prof-sIcon3 nameAuth" style="cursor:pointer;" ui-sref="member.info">
                                    <a href="javascript://"></a>
                                    <i style="display: none;">{{'sidebar@name_verification' | translate}}</i>
                                </li>
                                <li class="vw-bar-prof-sIcon4 questionAuth" style="cursor:pointer;" ui-sref="member.security({method: 'question'})">
                                    <a href="javascript://"></a>
                                    <i style="display: none;">{{'sidebar@question_verification' | translate}}</i>
                                </li>
                                <li class="vw-bar-prof-sIcon6 wdpwdAuth" style="cursor:pointer;" ui-sref="member.security({method: 'withdraw'})">
                                    <a href="javascript://"></a>
                                    <i style="display: none;">{{'sidebar@withdrawal_verification' | translate}}</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--資金管理-->
        <div class="vw-bar-plugin-prof vw-bar-plugin vw-bar-plugin-scaleDown" style="z-index: 99997; visibility: visible;">
            <div class="vw-bar-plugin-bd">
                <div class="vw-bar-asset-wrap">
                    <div class="vw-asset-content">
                        <div class="vw-asset-tab" id="totalMoney">
                            <h5>{{'sidebar@total_funds' | translate}}<a class="btnToDeposit btn-1" ui-sref="member.bank({ method: 'deposit'})">{{'sidebar@deposit' | translate}}</a></h5>
                            <p><span class="vw-bar-yen">{{currencySymbol}}</span><span class="money">{{total|number:2}}</span></p>
                        </div>
                        <div class="vw-asset-tab" id="allowWithdrawal">
                            <h5>{{'sidebar@available_funds' | translate}}<a class="btnWithdrawal btn-2" ui-sref="member.bank({method: 'withdraw'})">{{'sidebar@withdraw' | translate}}</a></h5>
                            <p><span class="vw-bar-yen">{{currencySymbol}}</span>{{totalWithdrawal|number:2}}</p>
                        </div>
                    </div>
                    <div class="vw-asset-table platformWallet" style="max-height: 30px;">
                        <ul ng-repeat="platform in platforms">
                            <li ng-if="platform.code !== 'CENTER'">
                                <span class="tit">{{platform.name}}</span>
                                <p class="money" ng-if="!platform.isMaintain">{{currencySymbol}}{{platform.balance|number:2}}</p>
                                <p ng-if="platform.isMaintain">{{'sidebar@under_maintenance' | translate}}</p>
                            </li>
                        </ul>
                        <div class="blank"></div>
                    </div>
                    <div class="vw-drop iconbar dropDown icon-uniE62E"><a></a></div>
                    <div class="vw-drop iconbar dropUp icon-uniE902" style="display:none"><a></a></div>
                </div>
                <div class="vw-zz" style="height: 260px;">
                    <div class="vw-zz-tit">
                        <h3>{{'sidebar@transfer' | translate}}</h3>
                    </div>
                    <div class="vw-zz-cnt">
                        <div class="vw-slt">
                            <div class="thema-a">
                                <select class="ui-select" ng-model="from" ng-options="item.gaming_id as item.name for item in platforms" required ng-change="transferChange()">
                                    <option value="" disabled>{{'sidebar@select_account_from' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="vw-slt">
                            <div class="thema-a">
                                <select class="ui-select" ng-model="to" ng-options="item.gaming_id as item.name for item in platforms" required ng-change="transferChange()">
                                    <option value="" disabled>{{'sidebar@select_account_to' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="vw-frm">
                            <div class="thema-a">
                                <div class="vw-ui-input">
                                    <input type="text" class="mn-ipt" ng-model="transferAmount" numbers-only placeholder="{{'sidebar@transfer_amount' | translate}}">
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="vw-button vw-btn2 btnTransfer" ng-click="transfer()" ng-class="{'btn-disable': !from || !to || !transferAmount || from == to || !transferValid}">{{'sidebar@transfer' | translate}}</a>
                        <a href="javascript:;" class="vw-button vw-btn2 dropUp" style="display:none;">{{'sidebar@go_transfer' | translate}}</a>
                        <div class="errormsg errormsgBank" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="walletComplete" name="walletComplete" value="0" style="z-index: 99997;">
        <!--消息盒子-->
        <div class="vw-bar-plugin-prof vw-bar-plugin vw-bar-plugin-scaleDown" style="z-index: 99997; visibility: visible;">
            <div class="vw-bar-plugin-bd">
                <div partial-loading show="showMessageLoading" top="40%"></div>
                <div ng-if="messages.length === 0">
                    <div class="clear mgbt20">
                    </div>
                    <p class="tactr">{{'sidebar@no_message'| translate}}</p>
                </div>
                <div class="vw-bar-msg-wrap" ng-if="messages.length > 0">
                    <div class="vw-bar-msg" style="border-bottom: 1px solid #ced0d3;">
                        <ul ng-repeat="message in messages | limitTo: messageCount">
                            <li class="hot message_detail" ng-click="openMessagePage($index)">
                                <h5>
                                    <span style="margin-right:10px;">
                                        {{ message.title }}
                                    </span>
                                    {{ message.create_time | date: 'yy/M/d' }}
                                </h5>
                                <p class="messageContent">
                                    {{ message.content }}
                                </p>
                            </li>
                        </ul>
                        <div class="blank"></div>
                    </div>
                </div>
                <div class="vw-zz-cnt">
                    <a href="javascript://" class="vw-button vw-btn2" ng-click="openMore('message')">{{'sidebar@more' | translate}}</a>
                    <div class="clear mgbt20">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div popup-dialog show='showPopup'>
        <div class="o_item thema-b" style="width:800px;">
            <div class="o_cnt">
                <div class="o_hd msg-title">
                    <h3 class="fltlft">{{ popMessage.title }}</h3>
                    <div class="fltrt" style="padding-right: 55px; padding-top: 12px; color: white">{{ popMessage.create_time | date: 'yyyy/MM/dd' }}</div>
                </div>
                <div class="o_bd">
                    <div class="sm_table">
                        <div class="s_tbl_top" style="width:760px;padding:20px;min-height:300px;max-height:600px;overflow:auto;">
                            <div class="message-list-panel">
                                <div class="message-list">
                                    <p class="msg-content">{{ popMessage.content }}</p>
                                    <div class="action-panel" style="position: relative; display: block;">
                                        <a class="sc fltrt" ng-if="popMessage.type === 0" ng-click="deleteMessage(popMessage)">
                                            {{'message_repeat@delete' | translate}}
                                        </a>
                                    </div>
                                    <div class="zk-panel" ng-if="popMessage.Is_Bulletin === 0">
                                        <ul class="hf-list" style="max-height: none; padding-top: 20px; padding-bottom: 10px;" ng-if="popMessageReply.length > 0">
                                            <!--玩家留言-->
                                            <li class="item-hf" ng-repeat-start="reply in popMessageReply" ng-if="!$first">
                                                <div class="msg-title">
                                                    <h3 class="fltlft hfr-kf">
                                                        <span class="red">{{'message_repeat@me' | translate}}</span>
                                                        <span>{{'message_repeat@reply' | translate}}</span>
                                                        <span>{{'message_repeat@customer_service' | translate}}</span>
                                                    </h3>
                                                    <div class="fltrt" ng-bind="reply.CreateTime | date: 'yyyy/MM/dd'"></div>
                                                </div>
                                                <p class="msg-content" ng-bind="reply.ContentDetail"></p>
                                            </li>
                                            <!--客服留言-->
                                            <li class="item-hf" ng-if="reply.ReplyMessage" ng-repeat-end>
                                                <div class="msg-title">
                                                    <h3 class="fltlft hfr-kf">
                                                        <span class="red">{{'message_repeat@customer_service' | translate}}</span>
                                                        <span>{{'message_repeat@reply' | translate}}</span>
                                                        <span>{{'message_repeat@me' | translate}}</span>
                                                    </h3>
                                                    <div class="fltrt" ng-bind="reply.ProcessTime | date: 'yyyy/MM/dd'"></div>
                                                </div>
                                                <p class="msg-content" ng-bind="reply.ReplyMessage"></p>
                                            </li>
                                        </ul>
                                        <div class="hf-box">
                                            <div class="vw-ui-input" style="margin-top:15px;">
                                                <input type="text" ng-model="popMessage.replyContent" placeholder="{{'sidebar@enter_reply_content' | translate}}" maxlength="300">
                                            </div>
                                            <a class="btn-1 sub-btn" ng-click="reply()">{{'sidebar@submit' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
